body {background: #191919; height: 100vh;}
html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-width: thin;
}

::-webkit-scrollbar {width: 8px; height: 3px;}
::-webkit-scrollbar-button {background-color: #666;}
::-webkit-scrollbar-track {background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb {height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner {background-color: #646464;}

.ro-trans {
  background-color: rgba(0,0,0,0.75);
}

.ro-text-logo {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5em;
}

.ro-banner {
  display: inline-block;
  margin-bottom: 0;
  padding: 15px;
  background-color: rgb(207,43,67);
}

.ro-text-header {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.5em;
}

.ro-text-header-big {
  font-family: "Noto Sans", sans-serif;
  font-size: 4.0em;
}

.ro-navbar-light {
  background-color: #222222;
}

.ro-background-red {
  background-color: crimson;
}

.ro-background-darksecondary {
  background-color: #191919;
}

.uk-background-secondary {
  background-color: #191919;
}

.uk-section {
  background-color: #191919;
}

.ro-logocolor {
  color: white;
}

/* Navbar - Start */

.ro-navbar span,
.ro-download div span {
  color: white !important;
  padding: 0;
  line-height: 1.5;
  background: none;
  position: relative;
}

.ro-navbar span::before,
.ro-download div span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  border-bottom: 1px solid white;
  transition: right 0.3s ease-out;
  color: #666;
}

.ro-navbar:hover span::before,
.ro-navbar:focus span::before,
.ro-download:hover div span::before,
.ro-download:focus div span::before
{
  right: 0;
}

/* Navbar - End */

.ro-text-content {
  font-family: "Open Sans", sans-serif;
  font-size: 1.0em;
}

/* Info - Start */

.ro-info {
  background-color: #1e87f0;
  color: #fff;
  border: 1px solid transparent;
}

.ro-info:hover,
.ro-info:focus {
  background-color: #0f7ae5;
  color: #fff;
}

.ro-info:active,
.ro-info.uk-active {
  background-color: #0e6dcd;
  color: #fff;
}

/* Info - End */

/* Download - Start */

.ro-download {
  background-color: rgb(207,43,67);
  border: 1px solid transparent;
}

.ro-download:hover,
.ro-download:focus {
  background-color: rgb(223,59,83);
}

.ro-download:active,
.ro-download.uk-active {
  background-color: rgb(191,27,51);
}

/* Download - End */

.uk-section {
  padding: 0px;
}

.video-container {
  position: relative;
  padding-top: 56.25%; /* 16:9 */
}

@media screen and (min-width : 1200px) {
  .video-container {
    padding-top: 26.25%;
  }
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.cover-container {
  height: 300px;
}

.manual-container {
  position: fixed;
  width: 100%;
  height: calc(100% - 38px);
}

.notes-text-container {
  padding: 60px;
}

@media screen and (min-width : 1200px) {
  .text-container {
    padding: 60px;
  }

  .homepage-text-container {
    margin-top: 30px;
    padding: 120px;
  }

  .cover-container {
    height: 550px;
  }

  .manual-container {
    position: fixed;
    width: 100%;
    height: calc(100% - 80px);
  }
}