body {background: #191919; height: 100vh;}
html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-width: thin;
}

::-webkit-scrollbar {width: 8px; height: 3px;}
::-webkit-scrollbar-button {background-color: #666;}
::-webkit-scrollbar-track {background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb {height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner {background-color: #646464;}

.ro-text-content {
  font-family: "Open Sans", sans-serif;
  font-size: 1.0em;
}

.ro-text-logo {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5em;
}

.ro-text-header {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.5em;
}

.ro-text-header-big {
  font-family: "Noto Sans", sans-serif;
  font-size: 4.0em;
}

.ro-navbar-light {
  background-color: #222222;
}

.ro-background-red {
  background-color: crimson;
}

.ro-background-darksecondary {
  background-color: #191919;
}

.uk-background-secondary {
  background-color: #191919;
}

.uk-section {
  background-color: #191919;
}

.ro-logocolor {
  color: white;
}

.ro-download {
  background-color: rgb(207,43,67);
  color: #fff;
  border: 1px solid transparent;
}

.ro-download:hover,
.ro-download:focus {
  background-color: rgb(215,51,75);
  color: #fff;
}

.ro-download:active,
.ro-download.uk-active {
  background-color: rgb(205,43,65);
  color: #fff;
}

.ro-download:disabled {
  background-color: transparent;
  color: #999;
  border-color: #e5e5e5;
}

.ro-footer {
  flex: 1;
}

.uk-height-large {
  height: 550px;
}

.uk-section {
  padding: 0px;
}

.video-container {
  position: relative;
  padding-top: 56.25%; /* 16:9 */
}

@media screen and (min-width : 1200px) {
  .video-container {
    padding-top: 26.25%;
  }
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.cover-container {
  height: 300px;
}

.manual-container {
  position: fixed;
  width: 100%;
  height: calc(100% - 38px);
}

@media screen and (min-width : 1200px) {
  .text-container {
    padding: 60px;
  }

  .cover-container {
    height: 550px;
  }

  .manual-container {
    position: fixed;
    width: 100%;
    height: calc(100% - 80px);
  }
}