<!-- Month + Year -->
<h3 class="uk-inline uk-padding-small" style="background-color: rgb(207,43,67)">June Release &bull; 2022.06</h3><br />
<img src="img/2022-06-a.jpg" alt="2022-6-a Image" style="max-width: 50%" />
<hr />
<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
	<!-- Banner | Download -->
	<div>
		<div class="uk-card uk-card-secondary uk-card-body" style="border: 1px solid rgb(64, 64, 64)">
			<h4 class="uk-card-title">Start using Armory3D today!</h4>
			<p>Special thanks to awesome contributors!</p>
			<a class="uk-inline uk-margin-remove uk-button uk-button-default" href="https://armory.itch.io/armory3d/purchase?popup=1">DOWNLOAD</a>	
		</div>
	</div>
	<!-- Banner | Learn -->
	<div>
		<div class="uk-card uk-card-secondary uk-card-body" style="border: 1px solid rgb(64, 64, 64)">
			<h4 class="uk-card-title">Need information?</h4>
			<p>Learn more at the official Armory3D wiki.</p>
			<a class="uk-inline uk-margin-remove uk-button uk-button-default" href="https://github.com/armory3d/armory/wiki/setup">LEARN MORE</a>
		</div>
	</div>
</div>
<div class="uk-text-left">
	<hr />
	<!-- Highlights -->
	<div>
		<h4 class="uk-inline uk-margin-remove-bottom uk-padding-small" style="background-color: rgb(207,43,67)">Highlights</h4>
		<p><a href="https://github.com/armory3d/armory/pulls?q=is%3Apr+is%3Aclosed">3 new</a> pull requests.</p>
	</div>
	<!-- New -->
	<div>
		<h4 class="uk-inline uk-margin-remove-bottom uk-padding-small" style="background-color: rgb(207,43,67)">New</h4>
		<p><a href="https://github.com/armory3d/armory/pull/2493">#2493</a> - MoritzBrueckner added better shader node tree warnings.</p>
	</div>
	<!-- Bug Fixes -->
	<div>
		<h4 class="uk-inline uk-margin-remove-bottom uk-padding-small" style="background-color: rgb(207,43,67)">Bug Fixes</h4>
		<p><a href="https://github.com/armory3d/armory/pull/2496">#2496</a> - MoritzBrueckner added fix and improve loading of libraries.</p>
		<p><a href="https://github.com/armory3d/armory/pull/2488">#2488</a> - MoritzBrueckner added fix exporting node sockets when using live patch or unconnected reroutes.</p>
	</div>
	<div>
		<h4 class="uk-inline uk-margin-remove-bottom uk-padding-small" style="background-color: rgb(207,43,67)">Other changes</h4>
		<p><a href="https://github.com/armory3d/armory_examples/pull/51">Online Demos: #51</a> - MoritzBrueckner Add depth texture example.</p>
		<p><a href="https://github.com/armory3d/iron/pull/164">Iron: #164</a> - MoritzBrueckner added Fix particle emission for scaled emitters.</p>
		<p><a href="https://github.com/armory3d/iron/pull/163">Iron: #163</a> - MoritzBrueckner added Make tilesheet frame rate independent of render path + fix race condition.</p>
		<p><a href="https://github.com/armory3d/iron/pull/162">Iron: #162</a> - MoritzBrueckner added Fix compilation when using deinterleaved buffers.</p>
	</div>
</div>
<hr />
<!-- Banner - Support -->
<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match uk-flex-center" uk-grid>
	<div>
		<div class="uk-card uk-card-secondary uk-card-body" style="border: 1px solid rgb(64, 64, 64)">
			<h4 class="uk-card-title">Support the Armory3D fund!</h4>
			<p>Special thanks to awesome contributors!</p>
			<a class="uk-inline uk-margin-remove uk-button uk-button-default" href="https://gumroad.com/l/armory">SUPPORT</a>	
		</div>
	</div>
</div>