<div id="" class="notesAnchorDiv notes text-center container p-0 p-lg-5 pb-0">
  <header class="position-relative h-50">
    <img id="notesImg" src="" alt="Notes Cover Image">
    <div class="splash-vignette"></div>
    <div class="container position-absolute top-50 start-50 translate-middle">   
      <div class="mb-4">
        <div class="text-white container-fluid">
          <a id="notesAnchorBtn" class="display-3 fw-bold text-reset text-decoration-none lh-1 mb-3" href="">
            <i class="bi bi-link-45deg text-light me-2"></i><span>Placeholder</span>
          </a>
        </div>
      </div>
      <div class="d-lg-flex justify-content-lg-center">
        <a id="notesLink" class="fw-bold btn btn-danger btn-lg d-flex align-items-center justify-content-center" href="">
          <i class="bi bi-wrench text-white me-2"></i>Changelog
        </a>
      </div>
    </div>
  </header>
</div>