<!-- $main.html -->
<main class="text-bg-secondary">
	<!-- Blender Integration -->
	<div id="blender-integration" class="position-relative row g-0">
		<div class="col-lg-6">
			<img class="ratio ratio-21x9 h-100" src="/engine/img/features/features-blender-integration.jpg" loading="lazy"
				alt="Armory3D Interface Example" />
		</div>
		<div class="col-lg-6 p-4">
			<a class="heading_anchor d-block display-6 fw-bold text-reset lh-1 mb-3" href="#blender-integration">
				Blender Integration<i class="bi bi-link-45deg text-light ms-2"></i>
			</a>
			<hr />
			<h2 class="display-6 fw-normal lh-1 mb-3">Plugin</h2>
			<p class="lead-dark mb-3">
				Armory3D is directly integrated into Blender as an add-on, so there's no need to leave your favorite 3D
				software
				to create awesome video games.
				You can use the same workflows you are used to without having to constantly switch between different
				programs.
			</p>
			<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://blender.org">
					<i class="bi bi-link-45deg text-white me-2"></i>Blender
				</a>
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/armory3d/armory/wiki/setup">
					<i class="bi bi-book text-white me-2"></i>Add-on Setup
				</a>
			</div>
		</div>
	</div>
	<!-- Render Path -->
	<div id="render-path" class="position-relative row g-0">
		<div class="col-lg-6 p-4">
			<a class="heading_anchor d-block display-6 fw-bold text-reset lh-1 mb-3" href="#render-path">
				Render Path<i class="bi bi-link-45deg text-light ms-2"></i>
			</a>
			<hr />
			<h2 class="display-6 fw-normal lh-1 mb-3">Post-processing</h2>
			<p class="lead-dark mb-3">
				Armory3D's render path is designed to work with Blender's material nodes.
				You can create beautiful materials with ease and choose from a broad range of post-process effects.
				Projects can configure multiple render paths so that the optimal one can be selected for the target
				platform and
				hardware.
				If you need more fine-grained control, you can also code your own shaders and even create your own
				render path
				from scratch!
			</p>
			<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/armory3d/armory/wiki/screen-effects">
					<i class="bi bi-card-image text-white me-2"></i>Post-Process
				</a>
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/armory3d/armory/wiki/materials">
					<i class="bi bi-palette text-white me-2"></i>Materials
				</a>
			</div>
		</div>
		<div class="col-lg-6">
			<img class="ratio ratio-21x9 h-100" src="/engine/img/2023-01/2023-01-a.jpg" loading="lazy"
				alt="2D / UI Editor Example" />
		</div>
	</div>
	<!-- Scripting -->
	<div id="game-logic" class="position-relative row g-0">
		<div class="col-lg-6">
			<img class="ratio ratio-21x9 h-100" src="/engine/img/features/features-game-logic.jpg" loading="lazy"
				alt="Logic Node Editor Example" />
		</div>
		<div class="col-lg-6 p-4">
			<a class="heading_anchor d-block display-6 fw-bold text-reset lh-1 mb-3" href="#game-logic">
				Game Logic<i class="bi bi-link-45deg text-light ms-2"></i>
			</a>
			<hr />
			<h2 class="display-6 fw-normal lh-1 mb-3">Coding</h2>
			<p class="lead-dark mb-3">
				For creating the interactive behavior of your game, you can decide between writing <a
					class="fw-bold text-reset btn-link" href="https://haxe.org">Haxe</a> code or using visual scripting
				in the form of logic nodes. Logic nodes are easy to learn and provide you with a great variety of
				functionality. Creating your own logic nodes to encapsulate specific functionality is very
				straightforward.
			</p>
			<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/armory3d/armory/wiki/reference">
					<i class="bi bi-alt text-white me-2"></i>Logic Nodes
				</a>
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://api.armory3d.org">
					<i class="bi bi-code-slash text-white me-2"></i>API
				</a>
			</div>
		</div>
	</div>
	<!-- User Interface -->
	<div id="user-interface" class="position-relative row g-0">
		<div class="col-lg-6 p-4">
			<a class="heading_anchor d-block display-6 fw-bold text-reset lh-1 mb-3" href="#user-interface">
				User Interface<i class="bi bi-link-45deg text-light ms-2"></i>
			</a>
			<hr />
			<h2 class="display-6 fw-normal lh-1 mb-3">Zui</h2>
			<p class="lead-dark mb-3">
				Armory3D comes with its own UI library (Zui) and a corresponding WYSIWYG editor (Armory2D), making it
				easy to add user interfaces to your game.
			</p>
			<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/armory3d/armory/wiki/ui_editor">
					<i class="bi bi-book text-white me-2"></i>Armory2D
				</a>
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/armory3d/armory2d">
					<i class="bi bi-github text-white me-2"></i>Armory2D Source
				</a>
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/armory3d/zui">
					<i class="bi bi-github text-white me-2"></i>Zui Source
				</a>
			</div>
		</div>
		<div class="col-lg-6">
			<img class="ratio ratio-21x9 h-100" src="/engine/img/features/features-user-interface.jpg" loading="lazy"
				alt="2D / UI Editor Example" />
		</div>
	</div>
	<!-- Cross-Platform -->
	<div id="cross-platform" class="position-relative row g-0">
		<div class="col-lg-6">
			<img class="ratio ratio-21x9 h-100" src="/engine/img/features/features-cross-platform.jpg" loading="lazy"
				alt="Armory3D Exporter Example" />
		</div>
		<div class="col-lg-6 p-4">
			<a class="heading_anchor d-block display-6 fw-bold text-reset lh-1 mb-3" href="#cross-platform">
				Cross-Platform<i class="bi bi-link-45deg text-light ms-2"></i>
			</a>
			<hr />
			<h2 class="display-6 fw-normal lh-1 mb-3">Supported devices</h2>
			<p class="lead-dark mb-3">
				Thanks to the underlying <a class="fw-bold text-reset btn-link" href="http://kha.tech">Kha</a>
				framework,
				Armory3D runs
				on
				most devices!
				Whether you want to target desktop computers, mobile devices, web browsers or consoles, Armory3D can
				export your
				game to those devices.<br /><br />
				<span class="fw-bold text-light">Note:</span> You can try out the official Armory3D tutorials, examples,
				and templates directly in your browser <a class="fw-bold text-reset btn-link"
					href="https://armory3d.github.io/armory_examples_browser/">here</a>.
			</p>
			<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/Kode/Kha/blob/main/readme.md#supported-platforms">
					<i class="bi bi-laptop text-white me-2"></i>Supported Platforms
				</a>
			</div>
		</div>
	</div>
	<!-- Physics -->
	<div id="physics" class="position-relative row g-0">
		<div class="col-lg-6 p-4">
			<a class="heading_anchor d-block heading_anchor d-block display-6 fw-bold text-reset lh-1 mb-3"
				href="#physics">
				Physics<i class="bi bi-link-45deg text-light ms-2"></i>
			</a>
			<hr />
			<h2 class="display-6 fw-normal lh-1 mb-3">Supported engines</h2>
			<p class="lead-dark mb-3">
				Armory3D makes use of the Bullet physics engine to simulate all types of dynamic movements.
				It can also be configured to use the Oimo physics engine instead.
			</p>
			<h4 class="fw-bold text-light">Notable Features:</h4>
			<ul class="lead-dark mb-3 ps-3">
				<li>Rigid body simulation</li>
				<li>Soft body simulation</li>
				<li>Ragdoll simulation</li>
				<li>Ray casting</li>
				<li>Collision groups</li>
				<li>Simulation of breaking / fractured meshes</li>
			</ul>
			<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/armory3d/armory/wiki/physics">
					<i class="bi bi-wind text-white me-2"></i>Physics
				</a>
			</div>
		</div>
		<div class="col-lg-6">
			<video class="ratio ratio-21x9 h-100" playsinline autoplay muted loop>
				<source src="/engine/img/features/features-physics.mp4" type="video/mp4">
				This browser doesn't support MP4. Try using a different browser.
			</video>
		</div>
	</div>
	<!-- Navigation -->
	<div id="navigation" class="position-relative row g-0">
		<div class="col-lg-6">
			<video class="ratio ratio-21x9 h-100" playsinline autoplay muted loop>
				<source src="/engine/img/features/features-navigation.mp4" type="video/mp4">
				This browser doesn't support MP4. Try using a different browser.
			</video>
		</div>
		<div class="col-lg-6 p-4">
			<a class="heading_anchor d-block display-6 fw-bold text-reset lh-1 mb-3" href="#navigation">
				Navigation<i class="bi bi-link-45deg text-light ms-2"></i>
			</a>
			<hr />
			<h2 class="display-6 fw-normal lh-1 mb-3">Artificial intelligence</h2>
			<p class="lead-dark mb-3">
				Implement realistic NPC behavior to your game by marking objects as actors to allow them to calculate
				real-time
				pathing using navigational meshes.<br /><br />
				<span class="fw-bold text-light">Note:</span> Armory3D by default uses the Recast navigation system, but
				can be
				configured to use other navigation engines.
			</p>
			<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/armory3d/armory/wiki/navmesh">
					<i class="bi bi-bounding-box text-white me-2"></i>Navmesh
				</a>
			</div>
		</div>
	</div>
	<!-- Particles -->
	<div id="particles" class="position-relative row g-0">
		<div class="col-lg-6 p-4">
			<a class="heading_anchor d-block display-6 fw-bold text-reset lh-1 mb-3" href="#particles">
				Particles<i class="bi bi-link-45deg text-light ms-2"></i>
			</a>
			<hr />
			<h2 class="display-6 fw-normal lh-1 mb-3">VFX</h2>
			<p class="lead-dark mb-3">
				Armory3D supports both emitter and hair particle systems that can be used to create stunning VFX or
				foliage
				covered landscapes.
				Under the hood, GPU instancing is used to achieve the best possible performance.
			</p>
			<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/armory3d/armory/wiki/supported_particles">
					<i class="bi bi-fire text-white me-2"></i>Supported Particles
				</a>
			</div>
		</div>
		<div class="col-lg-6">
			<video class="ratio ratio-21x9 h-100" playsinline autoplay muted loop>
				<source src="/engine/img/features/features-particles.mp4" type="video/mp4">
				This browser doesn't support MP4. Try using a different browser.
			</video>
		</div>
	</div>
	<!-- Animation -->
	<div id="animation" class="position-relative row g-0">
		<div class="col-lg-6">
			<video class="ratio ratio-21x9 h-100" playsinline autoplay muted loop>
				<source src="/engine/img/features/features-animation.mp4" type="video/mp4">
				This browser doesn't support MP4. Try using a different browser.
			</video>
		</div>
		<div class="col-lg-6 p-4">
			<a class="heading_anchor d-block display-6 fw-bold text-reset lh-1 mb-3" href="#animation">
				Animation <i class="bi bi-link-45deg text-light ms-2"></i>
			</a>
			<hr />
			<h2 class="display-6 fw-normal lh-1 mb-3">Deformation & movement</h2>
			<ul class="lead-dark mb-3">
				<li>Keyframes</li>
				<li>Armature bones</li>
				<li>Shape keys</li>
				<li>GPU skinning</li>
				<li>Tilesheets</li>
			</ul>
			<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/armory3d/armory/wiki/Shape-Keys">
					<i class="bi bi-fast-forward text-white me-2"></i>Shape keys
				</a>
			</div>
		</div>
	</div>
	<!-- Lighting -->
	<div id="lighting" class="position-relative row g-0">
		<div class="col-lg-6 p-4">
			<a class="heading_anchor d-block display-6 fw-bold text-reset lh-1 mb-3" href="#lighting">
				Lighting<i class="bi bi-link-45deg text-light ms-2"></i>
			</a>
			<hr />
			<h2 class="display-6 fw-normal lh-1 mb-3">Scene illumination</h2>
			<ul class="lead-dark mb-3">
				<li>Lightmapping</li>
				<li>Area lights using LTC (linearly transformed cosines)</li>
				<li>Reflection probes</li>
				<li>IES textures</li>
			</ul>
			<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/armory3d/armory/wiki/global_illumination">
					<i class="bi bi-sun text-white me-2"></i>Lighting
				</a>
			</div>
		</div>
		<div class="col-lg-6">
			<video class="ratio ratio-21x9 h-100" playsinline autoplay muted loop>
				<source src="/engine/img/2021-09/2021-09-b.mp4" type="video/mp4">
				This browser doesn't support MP4. Try using a different browser.
			</video>
		</div>
	</div>
	<!-- Free & Open Source -->
	<div id="armory-statement" class="position-relative row g-0">
		<div class="col-lg-6">
			<img class="ratio ratio-21x9 h-100" loading="lazy" src="/engine/img/features/features-armory-statement.jpg"
				alt="Armory3D Software Example" />
		</div>
		<div class="col-lg-6 p-4">
			<a class="heading_anchor d-block display-6 fw-bold text-reset lh-1 mb-3" href="#armory-statement">
				Armory3D Statement<i class="bi bi-link-45deg text-light ms-2"></i>
			</a>
			<hr />
			<h2 class="display-6 fw-normal lh-1 mb-3">Development & production</h2>
			<p class="lead-dark mb-3">
				Armory3D is completely free, royalty-free and its source code is fully available on <a
					class="fw-bold text-reset btn-link" href="https://github.com/armory3d/armory">GitHub</a>.
				Want to change something specific for your game with the game engine?
				It couldn't be more easy.
				You don't know how exactly something works and the documentation is unclear?
				You can easily look it up!
				Armory3D uses a <a class="fw-bold text-reset btn-link"
					href="https://github.com/armory3d/armory/blob/main/LICENSE.md#the-zliblibpng-license">permissive
					license</a>;
				and compared to another well-known Blender game engine, your games aren't restricted by Blender's <a
					class="fw-bold text-reset btn-link" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL
					license</a>.
			</p>
			<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
				<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
					href="https://github.com/armory3d/armory/wiki">
					<i class="bi bi-book text-white me-2"></i>Start Learning
				</a>
			</div>
		</div>
	</div>
</main>