[submodule "iron"]
	path = iron
	url = https://github.com/armory3d/iron_docs
[submodule "manual"]
	path = manual
	url = https://github.com/armory3d/armory_docs
[submodule "armory_lab"]
	path = armory_lab
	url = https://github.com/armory3d/armory_lab
