%INFO - START%
December is here with <span class="display-6 fw-semibold text-danger align-middle">19</span> new pull requests from some
very awesome <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="mb-3">As usual, there's new bug fixes and improvements provided by fantastic contributors. Among the new
	features, one of the most noticeable ones are the addition of shape keys.</p>
<video class="notes_img" playsinline autoplay muted loop>
	<source src="/engine/img/2021-12/2021-12-b.mp4" type="video/mp4">
	This browser doesn't support MP4. Try using a different browser.
</video>
<hr />
<p class="my-3">There's also a bunch of new nodes to expand the possibilities of visual scripting.</p>
<img class="notes_img" src="/engine/img/2021-12/2021-12-c.jpg" loading="lazy" alt="2021-12-c Screenshot">
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2375">#2375</a> -
QuantumCoderQC added
Shape keys.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2389">#2389</a> - sh-dave added
run
eventnode output, even if the events could not be delivered.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2391">#2391</a> - t3du added
add tween
transform node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2395">#2395</a> -
MoritzBrueckner added
add option to enable Haxe's --no-traces param.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2399">#2399</a> - t3du added
raycast for
non physics objects.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2379">#2379</a> -
MoritzBrueckner added
fix cpu_count() for incomplete PATH var on Windows and improve error handling.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2381">#2381</a> - Skehmatics
added
correct depricated (and now removed) import.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2382">#2382</a> - Skehmatics
added fix
morph target exporting on Unix-based systems.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2384">#2384</a> -
QuantumCoderQC added
fix TransformExtension - Normalize vectors.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2385">#2385</a> -
MoritzBrueckner added
fix environment gamma and improve handling of envmap file formats.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2388">#2388</a> -
QuantumCoderQC added
fix bullet physics memory leak on HL targets.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2390">#2390</a> -
QuantumCoderQC added
fix Bool, Int and Float vector property export from logic nodes.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2392">#2392</a> -
MoritzBrueckner added
fix parser context references after reload and make enum values unique.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2397">#2397</a> -
MoritzBrueckner added
fix vertex buffer locking on html5 for soft bodies.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2398">#2398</a> -
MoritzBrueckner added
compare node: fix accessing vector methods when DCE is on.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2400">#2400</a> -
QuantumCoderQC added
detect mobile browser node fix.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/145">Iron: #145</a> -
QuantumCoderQC added
Implement Shape keys.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/146">Iron: #146</a> -
MoritzBrueckner
added Fix vertex buffer locking on html5 for deinterleaved buffers and batched meshes.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/147">Iron: #147</a> - t3du added
2
functions used in raycast objects nodes.<br />
%OTHER CHANGES - END%