%INFO - START%
September is here with <span class="display-6 fw-semibold text-danger align-middle">20</span> new pull requests from
some very awesome <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!<br />
On top of that, the long awaited release that provides compatibility with Blender 3.x is finally here!
%INFO - END%
%HIGHLIGHTS - START%
<p class="mb-3">Armory3D is now compatible with Blender +3.3 LTS! </p>
<video class="notes_img" playsinline autoplay muted loop>
	<source src="/engine/img/2022-09/2022-09-b.mp4" type="video/mp4">
	This browser doesn't support MP4. Try using a different browser.
</video><br />
<hr />
<p class="my-3">e2002e added support for screen-space reflections when using water.</p>
<img class="notes_img" loading="lazy" src="/engine/img/2022-09/2022-09-c.jpg" alt="2022.09-c Screenshot">
<hr />
<p class="my-3">Onek8 added created node for setting canvas input text.</p>
<img class="notes_img" loading="lazy" src="/engine/img/2022-09/2022-09-d.jpg" alt="2022.09-d Screenshot">
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2544">#2544</a> - e2002e added
SSR
support for water.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2560">#2560</a> -
MoritzBrueckner added
remove no longer supported proxy system and add support for library overrides.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2564">#2564</a> - Onek8 added
created
node for setting canvas input text.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2565">#2565</a> -
tong/MoritzBrueckner
added Support for Blender 3.3 LTS.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2538">#2538</a> -
MoritzBrueckner added
tree variables: fix missing synchronization when adding getters/setters.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2540">#2540</a> -
MoritzBrueckner added
fix initialization of tween and group nodes and ensure correct file version numbers.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2546">#2546</a> -
MoritzBrueckner added
fix "Set Scene Active" node when using asset compression.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2548">#2548</a> -
QuantumCoderQC added
fix sleep node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2552">#2552</a> -
MoritzBrueckner added
fix compilation error in Draw String node when Zui is disabled.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2553">#2553</a> -
MoritzBrueckner added
fix depth buffer access in SSS pass & fix numerical robustness of packFloatInt16().<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2557">#2557</a> -
QuantumCoderQC added
fix shape key export in optimized mesh export.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2559">#2559</a> -
QuantumCoderQC added
fix image texture parameters.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2561">#2561</a> -
MoritzBrueckner added
fix export of particle objects outside of the current scene and other collections.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2573">#2573</a> -
QuantumCoderQC added
fix rigid body angular/ rolling friction.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2574">#2574</a> -
MoritzBrueckner added
Fix int overflow in Nishita LUT calculations [HL].<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armsdk/pull/49">ArmSDK: #49</a> -
MoritzBrueckner
added Update Submodules option.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/167">Iron: #167</a> -
QuantumCoderQC added
Shape Keys per object basis.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/168">Iron: #168</a> -
MoritzBrueckner
added Fix particle positions.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/169">Iron: #169</a> -
QuantumCoderQC added
Fix shape keys in HL targets.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/170">Iron: #170</a> -
QuantumCoderQC added
Parse typedef or anonymous struct.<br />
%OTHER CHANGES - END%