%INFO - START%
May is here with <span class="display-6 fw-semibold text-danger align-middle">14</span> new pull requests from some very
awesome <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a>
- great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="mb-3">MoritzBrueckner added texture bindings support for custom materials, as well as the option to read depth
	texture for materials. This allows for interesting effects such as underwater caustics. Checkout the cool repository
	<a class="fw-semibold text-reset btn-link"
		href="https://github.com/MoritzBrueckner/armory-caustics-volume">here</a>.
</p>
<video class="notes_img" playsinline autoplay muted loop>
	<source src="/engine/img/2022-05/2022-05-b.mp4" type="video/mp4">
	This browser doesn't support MP4. Try using a different browser.
</video>
<hr />
<video class="notes_img" playsinline autoplay muted loop>
	<source src="/engine/img/2022-05/2022-05-c.mp4" type="video/mp4">
	This browser doesn't support MP4. Try using a different browser.
</video>
<hr />
<p class="my-3">QuantumCoderQC added key interpolation node. This allows linear interpolation (lerp) between values:
	0-1. Great for smoothing character animations.</p>
<img class="notes_img" src="/engine/img/2022-05/2022-05-d.jpg" loading="lazy" alt="2022-05-d Screenshot">
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2474">#2474</a> -
MoritzBrueckner added
allow materials to read from a depth texture.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2475">#2475</a> - tong added
use port
from prefs for html5 player path.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2477">#2477</a> -
QuantumCoderQC added
key Interpolation Node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2483">#2483</a> -
MoritzBrueckner added
support for texture bindings for custom (json) materials.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2470">#2470</a> -
MoritzBrueckner added
fix printing WASM errors when using ammo.js<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2479">#2479</a> - tong added
search
ffmpeg if not set.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2480">#2480</a> -
MoritzBrueckner added
fix export of logic nodes with Blender standard sockets.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2481">#2481</a> - tong added
remove head
style element.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/49">Armory Examples:
	#49</a> -
tong added sun Fix logic node errors.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/50">Armory Examples:
	#50</a> -
tong updated api links.<br />
<a class="fw-semibold text-reset btn-link" href="ttps://github.com/armory3d/armory_tutorials/pull/16">Armory Tutorials:
	#16</a> -
tong updated projects.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_tutorials/pull/17">Armory Tutorials:
	#17</a>
- tong updated workflows.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/160">Iron: #160</a> -
MoritzBrueckner
added Allow materials to read from a depth texture.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/161">Iron: #161</a> -
MoritzBrueckner
added sun world matrix uniform.<br />
%OTHER CHANGES - END%