%INFO - START%
November is here with <span class="display-6 fw-semibold text-danger align-middle">14</span> new pull requests from some
great <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> -
fantastic work!<br />
Halloween just passed and that means we've got a new month and a new release!
%INFO - END%
%HIGHLIGHTS - START%
<p class="my-3">QuantumCoderQC added option to set playback volume.</p>
<img class="notes_img" loading="lazy" src="/engine/img/2022-11/2022-11-b.jpg" alt="2022.11-b Screenshot">
<hr />
<p class="my-3">QuantumCoderQC added option for NavAgent height offset.</p>
<img class="notes_img" loading="lazy" src="/engine/img/2022-11/2022-11-c.jpg" alt="2022.11-c Screenshot">
<hr />
<p class="my-3">MoritzBrueckner added full support for emission colors in all supported shaders.</p>
<img class="notes_img" loading="lazy" src="/engine/img/2022-11/2022-11-d.jpg" alt="2022.11-d Screenshot">
<hr />
<p class="my-3">tong added custom letterbox color.</p>
<img class="notes_img" loading="lazy" src="/engine/img/2022-11/2022-11-e.jpg" alt="2022.11-e Screenshot">
<hr />
<p class="my-3">These developer bounties are still available! Earn paid rewards by developing new features:</p>
<img class="notes_img" loading="lazy" src="/engine/img/2022-10/2022-10-e.jpg" alt="2022.10-e Screenshot"><br /><br />
<p class="fw-semibold text-light">List of current bounties:</p>
<ul>
	<li>Parallax Occlusion Mapping: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2609">https://github.com/armory3d/armory/issues/2609</a>
	</li>
	<li>Dynamic Diffuse Global Illumination (DDGI): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2610">https://github.com/armory3d/armory/issues/2610</a>
	</li>
	<li>Stochastic Screen-Space Reflections: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2611">https://github.com/armory3d/armory/issues/2611</a>
	</li>
	<li>High-Quality Bloom: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2612">https://github.com/armory3d/armory/issues/2612</a>
	</li>
	<li>Box Projected Cube Environment Mapping (BPCEM): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2613">https://github.com/armory3d/armory/issues/2613</a>
	</li>
</ul>
<hr />
<p class="my-3">Exceptional3D made <span class="display-6 fw-semibold text-danger align-middle">9</span> new community
	tutorials this month - fantastic work!</p>
<!-- Using the Console and debugger in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=e9I0ZzHn7gw">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/e9I0ZzHn7gw/maxresdefault.jpg"
			alt="Using the Console and debugger in Armory 3D" />
	</a>
	<iframe id="e9I0ZzHn7gw" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Using the Console and debugger in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Using variables and variable trees in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=5GSEGx2xZ_s">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/5GSEGx2xZ_s/maxresdefault.jpg"
			alt="Using variables and variable trees in Armory 3D" />
	</a>
	<iframe id="5GSEGx2xZ_s" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Using variables and variable trees in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Mesh optimization is Armory 3D - LOD's explained -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=QzXmMlUEVS0">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/QzXmMlUEVS0/maxresdefault.jpg"
			alt="Mesh optimization is Armory 3D - LOD's explained" />
	</a>
	<iframe id="QzXmMlUEVS0" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Mesh optimization is Armory 3D - LOD's explained" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- How to make outlines in Armory 3D without code 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=8sWsOJDqNww">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/8sWsOJDqNww/maxresdefault.jpg"
			alt="How to make outlines in Armory 3D without code 3D" />
	</a>
	<iframe id="8sWsOJDqNww" class="d-none" loading="lazy" width="560" height="315" src=""
		title="How to make outlines in Armory 3D without code 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- How to use tilesheets in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=xLv_ftL5kkU">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/xLv_ftL5kkU/maxresdefault.jpg"
			alt="How to use tilesheets in Armory 3D" />
	</a>
	<iframe id="xLv_ftL5kkU" class="d-none" loading="lazy" width="560" height="315" src=""
		title="How to use tilesheets in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- How to display, modify, and save values/variables in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=k1vj5GFzwMM">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/k1vj5GFzwMM/maxresdefault.jpg"
			alt="How to display, modify, and save values/variables in Armory 3D" />
	</a>
	<iframe id="k1vj5GFzwMM" class="d-none" loading="lazy" width="560" height="315" src=""
		title="How to display, modify, and save values/variables in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Using draw nodes in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=OqYfnhWavEo">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/OqYfnhWavEo/maxresdefault.jpg"
			alt="Using draw nodes in Armory 3D" />
	</a>
	<iframe id="OqYfnhWavEo" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Using draw nodes in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Smooth vs crisp render in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=5btwJpfj8AE">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/5btwJpfj8AE/maxresdefault.jpg"
			alt="Smooth vs crisp render in Armory 3D" />
	</a>
	<iframe id="5btwJpfj8AE" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Smooth vs crisp render in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Sounds explained in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=-ZCg7SUpNSI">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/-ZCg7SUpNSI/maxresdefault.jpg"
			alt="Sounds explained in Armory 3D" />
	</a>
	<iframe id="-ZCg7SUpNSI" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Sounds explained in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2614">#2614</a> -
MoritzBrueckner added
new "Combine RGBA" node and add alpha output to "Separate RGB" node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2617">#2617</a> -
QuantumCoderQC added
add option to set playback volume.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2623">#2623</a> -
QuantumCoderQC added
add option for NavAgent height offset.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2632">#2632</a> - tong added
write
errors to stderr.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2638">#2638</a> -
MoritzBrueckner added
fully support emission colors in all supported shader nodes.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2641">#2641</a> - tong added
allow to
set custom letterbox color.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2615">#2615</a> -
MoritzBrueckner added
fix building for Krom on Windows.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2620">#2620</a> - e2002e added
disp
color mix.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2626">#2626</a> - tong added
fix
webbrowser get name.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2629">#2629</a> - e2002e added
tesselation missing consts.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2631">#2631</a> - tong added
fix
typo.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2637">#2637</a> -
MoritzBrueckner added
fix position of trait debug views if the debug console is left-aligned.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2640">#2640</a> -
QuantumCoderQC added
fix Get RB Velocity node.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armsdk/pull/54">ArmSDK: #54</a> - TriVoxel
fixed
long-standing permissions bug on Linux and macOS.<br /><br />
<span class="fw-bold text-light">Release Notes:</span> Backported <a class="fw-semibold text-reset btn-link"
	href="/notes#2021.06-title">June</a> and <a class="fw-semibold text-reset btn-link"
	href="/notes#2021.07-title">July</a> 2021
release notes.
%OTHER CHANGES - END%