%INFO - START%
March is here with <span class="display-6 fw-semibold text-danger align-middle">32</span> new pull requests from some
great <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> -
great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="my-3">t3du added Logic Nodes: Array Filter and Array Display.<br /></p>
<img class="notes_img" loading="lazy" src="/engine/img/2023-03/2023-03-d.jpg" alt="2023.03-d Screenshot">
<hr />
<p class="my-3">rpaladin added End frame for "Play Action From" node.<br /><br />
	<span class="fw-bold text-light">Note:</span> Bone scaling animation is still unsupported, but there is an
	experimental
	branch being developed to officially incorporate it.
</p>
<video class="notes_img" playsinline autoplay muted loop>
	<source src="/engine/img/2023-03/2023-03-c.mp4" type="video/mp4">
	This browser doesn't support MP4. Try using a different browser.
</video>
<hr />
<p class="my-3">knowledgenude added Add Vec4 moveTowards function and a new logic node for it.</p>
<video class="notes_img" playsinline autoplay muted loop>
	<source src="/engine/img/2023-03/2023-03-b.mp4" type="video/mp4">
	This browser doesn't support MP4. Try using a different browser.
</video>
<hr />
<p class="my-3">QuantumCoderQC added Improved Node Groups.<br /><br />
	<span class="fw-bold text-light">Note:</span> Some points about the new system:
<ul>
	<li>Works and feels more Blender-like</li>
	<li>Option to change socket names and socket order</li>
	<li>Supports nested groups</li>
	<li>Easy grouping and un-grouping in the Logic Node editor with dedicated buttons</li>
	<li>Logic Node editor breadcrumbs to show node hierarchy</li>
</ul>
After the update, exiting node groups in a file will automatically be replaced by new empty group nodes. One must
select the nodes to be grouped and then use the side panel to group the selected nodes.
</p>
<!-- Armory3D New Group System -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=eGdXT1ndkcw">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/eGdXT1ndkcw/maxresdefault.jpg"
			alt="Armory3D New Group System" />
	</a>
	<iframe id="eGdXT1ndkcw" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Armory3D New Group System" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<p class="my-3">These developer bounties are still available! Earn paid rewards by developing new features:</p>
<img class="notes_img" loading="lazy" src="/engine/img/2023-01/2023-01-i.jpg" alt="2023.01-i Screenshot"><br /><br />
<p class="fw-semibold text-light">List of current bounties:</p>
<ul>
	<li>Parallax Occlusion Mapping: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2609">https://github.com/armory3d/armory/issues/2609</a>
	</li>
	<li>Dynamic Diffuse Global Illumination (DDGI): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2610">https://github.com/armory3d/armory/issues/2610</a>
	</li>
	<li>Stochastic Screen-Space Reflections: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2611">https://github.com/armory3d/armory/issues/2611</a>
	</li>
	<li>Box Projected Cube Environment Mapping (BPCEM): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2613">https://github.com/armory3d/armory/issues/2613</a>
	</li>
</ul>
<hr />
<p class="my-3">Exceptional3D made <span class="display-6 fw-semibold text-danger align-middle">8</span> new community
	tutorials this month - fantastic work!</p>
<!-- When to clean your projects in -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=KrNJcHKCh_0">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy"
			src="https://i.ytimg.com/vi/KrNJcHKCh_0/oar2.jpg?sqp=-oaymwEaCNcDENAFSFXyq4qpAwwIARUAAIhCcAHAAQY=&rs=AOn4CLDV4wALjYUBlhUpzEPc7BRtW9o-TA"
			alt="When to clean your projects in" />
	</a>
	<iframe id="KrNJcHKCh_0" class="d-none" loading="lazy" width="560" height="315" src=""
		title="When to clean your projects in" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Make your first game with Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=8g7IekE_jJ4">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/8g7IekE_jJ4/maxresdefault.jpg"
			alt="Make your first game with Armory 3D" />
	</a>
	<iframe id="8g7IekE_jJ4" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Make your first game with Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Collision collections and masks explained in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=1eAcW4X_0AI">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/1eAcW4X_0AI/maxresdefault.jpg"
			alt="Collision collections and masks explained in Armory 3D" />
	</a>
	<iframe id="1eAcW4X_0AI" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Collision collections and masks explained in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Using events in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=M_voAUxJCjI">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/M_voAUxJCjI/maxresdefault.jpg"
			alt="Using events in Armory 3D" />
	</a>
	<iframe id="M_voAUxJCjI" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Using events in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- How to install Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=7mifu6Gkf-c">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/7mifu6Gkf-c/maxresdefault.jpg"
			alt="How to install Armory 3D" />
	</a>
	<iframe id="7mifu6Gkf-c" class="d-none" loading="lazy" width="560" height="315" src=""
		title="How to install Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Using Bundled scripts in -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=vg6IGjrvhw4">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/vg6IGjrvhw4/maxresdefault.jpg"
			alt="Using Bundled scripts in" />
	</a>
	<iframe id="vg6IGjrvhw4" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Using Bundled scripts in" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Understanding Conditions in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=KuoQqb76MnU">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/KuoQqb76MnU/maxresdefault.jpg"
			alt="Understanding Conditions in Armory 3D" />
	</a>
	<iframe id="KuoQqb76MnU" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Understanding Conditions in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Using 1 player controller across many levels in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=7lzT_IwGzgM">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/7lzT_IwGzgM/maxresdefault.jpg"
			alt="Using 1 player controller across many levels in Armory 3D" />
	</a>
	<iframe id="7lzT_IwGzgM" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Using 1 player controller across many levels in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2780">#2780</a> - t3du added
Logic
Node:
Get Object Dimension.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2781">#2781</a> - t3du added
Logic
Node:
Array Compare.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2783">#2783</a> - t3du added
Logic
Nodes: Array Count and Array Distinct.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2784">#2784</a> - t3du added
Camera
Logic Nodes: Get/Set Camera Aspect, Scale and Type.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2785">#2785</a> - t3du added
Logic
Nodes: Array Filter and Array Display.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2787">#2787</a> - t3du added
Logic
Node:
Array get Previous Next.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2788">#2788</a> - t3du added
ArrayAdd
Node: comparison for other type of values.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2790">#2790</a> - t3du added
Math
Node:
add Ping-Pong property.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2791">#2791</a> - rpaladin
added
Logic Node: Get Canvas Text.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2796">#2796</a> - rpaladin
added
New copy to bundled operator/button.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2797">#2797</a> - rpaladin
added
End frame for "Play Action From" node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2799">#2799</a> - t3du added
add
replacement function for math node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2802">#2802</a> - t3du added
PlayActionFrom: add boolean for Reverse Action.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2803">#2803</a> - knowledgenude
added
Add Vec4 moveTowards function and a new logic node for it.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2806">#2806</a> -
QuantumCoderQC added
Improved Node Groups.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2810">#2810</a> - rpaladin
added
New getFramerate() method.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2778">#2778</a> - rpaladin
added fix
realtime postprocessing.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2782">#2782</a> - t3du added
fix
ArrayContains and ArrayIndex Nodes.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2786">#2786</a> - t3du added
fix
Random Vector variable definition.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2788">#2788</a> - t3du added
ArrayAdd
Node: comparison for other type of values.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2794">#2794</a> -
MoritzBrueckner
added
Fix roughness artifacts in specularBRDF().<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2795">#2795</a> -
MoritzBrueckner
added
Various micro shadowing fixes and improvements.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2807">#2807</a> -
QuantumCoderQC added
Fix empty call group nodes.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2809">#2809</a> -
QuantumCoderQC added
Fix node group polling.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2811">#2811</a> -
QuantumCoderQC added
Fix apply force and apply impulse at location.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/73">Armory Examples:
	#73</a>
-
MoritzBrueckner added fix bloom strength in graphics_settings example.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/74">Armory Examples:
	#74</a>
-
MoritzBrueckner added game_bowling example: fix texture & library paths.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/75">Armory Examples:
	#75</a>
-
Onek9 added update readme.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/76">Armory Examples:
	#76</a>
-
Onek8 added Update README.md.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/77">Armory Examples:
	#77</a>
-
rpaladin added Reenable disabled LUT texture setting.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/186">Iron: #186</a> - rpaladin
added
New animation setFrame() function.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/zui/pull/162">Zui: 162</a> -
MathemanFlo added Right align line numbers.<br />
%OTHER CHANGES - END%