%INFO - START%
October is here with <span class="display-6 fw-semibold text-danger align-middle">23</span> new pull requests from some
very awesome <a class="fw-semibold text-reset"
  href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="mb-3">MoritzBrueckner created <span class="fw-semibold">Aura</span> - A fast and lightweight 3D audio engine
  for Kha & Armory3D.</p>
<img class="notes_img" src="/img/2021-10/2021-10-b.jpg" loading="lazy" alt="2021-10-b Screenshot">
<p class="my-3">tong created the <a class="fw-semibold text-reset"
    href="https://armory3d.github.io/armory_examples_browser/">Armory3D examples browser</a> - Try it out online now!
</p>
<img class="notes_img" src="/img/2021-10/2021-10-c.jpg" loading="lazy" alt="2021-10-c Screenshot">
<p class="my-3">The Armory3D Community Game Jam 2.0 has commenced, hosted by Willbot Studios. It will run throughout
  October.<br /><br />Join <a class="fw-semibold text-reset"
    href="https://itch.io/jam/armory-3d-community-game-jam-20">here</a>.</p>
<img class="notes_img" src="/img/2021-10/2021-10-d.jpg" loading="lazy" alt="2021-10-d Screenshot">
<p class="my-3">QuantumCoderQC added 3 new nodes for tweening values for both floats, vectors and rotations:</p>
<img class="notes_img" src="/img/2021-10/2021-10-e.jpg" loading="lazy" alt="2021-10-e Screenshot">
<p class="my-3">And also a new new get NavAgent data node:</p>
<img class="notes_img" src="/img/2021-10/2021-10-f.jpg" loading="lazy" alt="2022.10-f Screenshot">
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2351">#2351</a> - MoritzBrueckner added
debug console: make log output more readable.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2349">#2349</a> - MoritzBrueckner added
add nodes to get/set global canvas scale.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2342">#2342</a> - tong added improve log
messages.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2338">#2338</a> - tong added remove Haxe
--times param per default.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2336">#2336</a> - QuantumCoderQC added
introducing Tween nodes.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2331">#2331</a> - tong added do not open
build directory in background mode.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2326">#2326</a> - onelsonic added update
props_ui.py.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2325">#2325</a> - onelsonic added update
props.py.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2319">#2319</a> - MoritzBrueckner added
the possibility of using more complex string expressions for assert() messages.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2318">#2318</a> - QuantumCoderQC added a
node to get NavAgent data and improved the Go To Location node.
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2350">#2350</a> - MoritzBrueckner added
fix add-on reloading when there are new unimported node files.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2339">#2339</a> - tong added fix invalid
fp when using local sdk.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2335">#2335</a> - MoritzBrueckner added
fix fake user export for traits.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2334">#2334</a> - tong added fix assert
throw error.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2332">#2332</a> - MoritzBrueckner added
fix realtime postprocess & cleanup arm.lib.make_datas.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2329">#2329</a> - MoritzBrueckner added
fix ArmNodeAddInputOutputButton.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2320">#2320</a> - QuantumCoderQC added a
trait fix.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2316">#2316</a> - onelsonic fixed some
Haxe warnings related to type check.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2315">#2315</a> - MoritzBrueckner fixed
some postprocess uniform warnings.
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/iron/pull/139">Iron: #139</a> - MoritzBrueckner
added deferred unloading the world shader until the new shader is loaded.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/iron/pull/138">Iron: #138</a> - MoritzBrueckner
added a fix for switching scenes with different light objects.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/iron/pull/137">Iron: #137</a> - QuantumCoderQC added
reset collection transform after spawn.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/iron/pull/136">Iron: #136</a> - tong added Armpack
macro compatibility.<br /><br />
<span class="fw-bold text-light">Additional</span>: Release notes for <a class="fw-semibold text-reset"
  href="/notes#2021.08-title">August - 2021</a> have been added.
%OTHER CHANGES - END%