%INFO - START%
September is here with <span class="display-6 fw-semibold text-danger align-middle">22</span> new pull requests from
some very awesome <a class="fw-semibold text-reset"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="mb-3">N8n5h added a fix for volumetric lights when using shadow map atlas. Volumetric lights (god rays) should
	now work with the shadow map atlasing option:</p>
<video class="notes_img" playsinline autoplay muted loop>
	<source src="/img/2021-09/2021-09-b.mp4" type="video/mp4">
	This browser doesn't support MP4. Try using a different browser.
</video>
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2309">#2309</a> - MoritzBrueckner added
the assert() macro for better error handling.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2308">#2308</a> - tong added the option
to disable http logging and change web-server port if pre-used.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2305">#2305</a> - niacdoial added a
rotation socket for nodes. Revamped most nodes that uses rotations.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2304">#2304</a> - tong added the option
to play without building (Shift + Play).<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2298">#2298</a> - MoritzBrueckner added
basic add-on reloading. Great feature for Armory developers!<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2296">#2296</a> - tong added linear and
angular control properties to the PhysicsDrag.
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2307">#2307</a> - MoritzBrueckner fixed
Armory3D define and ES6 switch for Krom.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2306">#2306</a> - MoritzBrueckner added
various node fixes.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2303">#2303</a> - MoritzBrueckner fixed
the Nishita sky artifacts and improved the LUT range.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2302">#2302</a> - MoritzBrueckner fixed
the accidental module reloading caused by global variables.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2300">#2300</a> - N8n5h fixed the
volumetric lights not working with the shadow map atlas option.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2299">#2299</a> - MoritzBrueckner fixed
Logic.hx that caused failed CI compilation.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2297">#2297</a> - MoritzBrueckner added
a canvas fix when using non-default fonts.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/iron/pull/135">Iron: #135</a> - niacdoial added a
complimentary commit for rotation socket (#2305).<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/iron/pull/134">Iron: #134</a> - MoritzBrueckner
added the exp() exponent function to vector classes.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/iron/pull/133">Iron: #133</a> - QuantumCoderQC added
a fix for the particle system related to scale and locations.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory_examples/pull/30">Armory Examples: #30</a> -
tong added miscellaneous improvements to the examples.
%OTHER CHANGES - END%