%INFO - START%
July is here with <span class="display-6 fw-semibold text-danger align-middle">13</span> new pull requests from some
very awesome <a class="fw-semibold text-reset"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="lead-dark"><span class="fw-bold text-light">Note:</span> These release notes were created in 2022.</p>
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2242">#2242</a> - knowledgenude added
"Parent Relative" option to location nodes.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2240">#2240</a> - QuantumCoderQC added
option for relative physics constraint.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2239">#2239</a> - QuantumCoderQC added
set material parameter on per object basis.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2235">#2235</a> - knowledgenude added
cleanup in UI Ext.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2221">#2221</a> - QuantumCoderQC added
extra logic nodes.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2220">#2220</a> - MoritzBrueckner added
add Select node.
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2238">#2238</a> - MoritzBrueckner fixed
threading and publishing for when in background mode.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2233">#2233</a> - MoritzBrueckner fixed
compilation of some nodes.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2231">#2231</a> - knowledgenude fixed
GetBoneFkIkOnly node & add new input nodes.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2228">#2228</a> - MoritzBrueckner fixed
rendering multiple movie textures.
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armsdk/pull/25">ArmSDK: #25</a> - tong added add
manual build trigger.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armsdk/pull/24">ArmSDK: #24</a> - tong added add gh
actions workflow to build api docs to gh-pages.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armsdk/pull/23">ArmSDK: #23</a> - tong added improve
api docs generation.
%OTHER CHANGES - END%