%INFO - START%
August is here with <span class="display-6 fw-semibold text-danger align-middle">5</span> new pull requests from some
very awesome <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="mt-0 mb-3">knowledgenude improved the Input map and added nodes to it.</p>
<img class="ratio ratio-21x9 notes_img" src="/img/2021-08/2021-08-b.jpg" loading="lazy" alt="2021-08-b Screenshot">
<hr />
<p class="mb-3">MoritzBrueckner added an immense overhaul of the existing live patching system. The new additional
	features includes support for light color and strength, as well as support for live patching nodes and more!</p>
<!-- Armory 3D Live Patch update: logic nodes support and more -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=mxklu7TfwBw">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/mxklu7TfwBw/maxresdefault.jpg"
			alt="Armory 3D Live Patch update: logic nodes support and more" />
	</a>
	<iframe id="mxklu7TfwBw" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Using 1 player controller across many levels in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2260">#2260</a> - knowledgenude
improved
the Input map and added nodes to it.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2283">#2283</a> -
MoritzBrueckner added
an immense overhaul of the existing live patching system.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2285">#2285</a> - tong added
the axis
trait prop to ArcBall. For direction and speed control.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2286">#2286</a> -
MoritzBrueckner fixed
filepath error if project is on Windows drive root.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2287">#2287</a> -
MoritzBrueckner fixed
thread polling being stopped after callback exception.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
N/A.
%OTHER CHANGES - END%