%INFO - START%
<sup>(Credits: render - lubos <a class="fw-semibold text-reset"
    href="https://opensource.org/licenses/MIT">[MIT]</a>.)</sup><br />
June is here with <span class="display-6 fw-semibold text-danger align-middle">10</span> new pull requests from some
very awesome <a class="fw-semibold text-reset"
  href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="lead-dark"><span class="fw-bold text-light">Note:</span> These release notes were created in 2022.</p>
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2210">#2210</a> - MoritzBrueckner added
add execution mode and output for input index to merge node.<br />
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2206">#2206</a> - QuantumCoderQC added
improve bone IK: added new nodes for better animation control.<br />
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2196">#2196</a> - N8n5h added small
improvements for the shadow map atlas Blender UI.<br />
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2184">#2184</a> - MoritzBrueckner added
[Blender 2.9]: slightly improve debug console panel UI .<br />
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2176">#2176</a> - MoritzBrueckner added
update Blender version information to 2.93 LTS.
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2216">#2216</a> - MoritzBrueckner added
fix layer weight node and multiple cycles shaders in one material.<br />
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2213">#2213</a> - MoritzBrueckner added
fix instancing on mobile and solid renderpaths.<br />
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2185">#2185</a> - MoritzBrueckner added
fix double-export of linked objects.<br />
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2177">#2177</a> - QuantumCoderQC added
fix get object by name node.
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-light" href="https://github.com/armory3d/armsdk/pull/21">ArmSDK: #21</a> - MoritzBrueckner
added [Blender 2.9]: update Blender version information to 2.93 LTS.
%OTHER CHANGES - END%