%INFO - START%
									<p class="lead-dark">Release notes for June are in progress.</p>
%INFO - END%
%HIGHLIGHTS - START%
									<p class="lead-dark">Release notes for June are in progress.</p>
%HIGHLIGHTS - END%
%NEW - START%
									<p class="lead-dark">Release notes for June are in progress.</p>
%NEW - END%
%BUG FIXES - START%
									<p class="lead-dark">Release notes for June are in progress.</p>
%BUG FIXES - END%
%OTHER CHANGES - START%
									<p class="lead-dark">Release notes for June are in progress.</p>
%OTHER CHANGES - END%