%INFO - START%
									December is here with <span class="display-6 fw-semibold text-danger align-middle">25</span> new pull requests and 1 additional new commit from some great <a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!<br /><br />
%INFO - END%
%HIGHLIGHTS - START%
									<p class="my-3">Onek8 added networking integration (works on all platform targets except Krom)</p>
									<img class="notes_img" loading="lazy" src="/img/2022-12-b.jpg" alt="2022.12-b Screenshot">
									<p class="my-3">Onek8 added a date and time node</p>
									<img class="notes_img" loading="lazy" src="/img/2022-12-c.jpg" alt="2022.12-c Screenshot">
									<p class="my-3">These developer bounties are still available! Earn rewards by developing new features:</p>
									<img class="notes_img" loading="lazy" src="/img/2022-10-e.jpg" alt="2022.10-e Screenshot"><br /><br />
									<p class="fw-semibold text-light">List of current bounties:</p>
									<ul>
										<li>Parallax Occlusion Mapping: <a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/issues/2609">https://github.com/armory3d/armory/issues/2609</a></li>
										<li>Dynamic Diffuse Global Illumination (DDGI): <a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/issues/2610">https://github.com/armory3d/armory/issues/2610</a></li>
										<li>Stochastic Screen-Space Reflections: <a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/issues/2611">https://github.com/armory3d/armory/issues/2611</a></li>
										<li>High-Quality Bloom: <a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/issues/2612">https://github.com/armory3d/armory/issues/2612</a></li>
										<li>Box Projected Cube Environment Mapping (BPCEM): <a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/issues/2613">https://github.com/armory3d/armory/issues/2613</a></li>
									</ul>
									<p class="my-3">Exceptional3D made <span class="display-6 fw-semibold text-danger align-middle">7</span> new community tutorials this month - fantastic work!</p>
									<a href="https://youtube.com/shorts/W7RXxK_yQjI"><img class="notes_img" loading="lazy" src="/img/2022-12-d.jpg" alt="Spawning any object in Armory 3D Screenshot"></a><br /><br />
									<a href="https://youtube.com/watch?v=EyOP6kZFp9M"><img class="notes_img" loading="lazy" src="/img/2022-12-e.jpg" alt="How to create INTERACTIVE 3D text in Armory 3D Screenshot"></a><br /><br />
									<a href="https://youtube.com/shorts/pwis6QY13EQ"><img class="notes_img" loading="lazy" src="/img/2022-12-f.jpg" alt="Get access to networking nodes in armory 3D Screenshot"></a><br /><br />
									<a href="https://youtube.com/watch?v=ZmaG_JFmn0Q"><img class="notes_img" loading="lazy" src="/img/2022-12-g.jpg" alt="Networking tutorial / multiplayer games in Armory 3D Screenshot"></a><br /><br />
									<a href="https://youtube.com/watch?v=6HqsRFteGKo"><img class="notes_img" loading="lazy" src="/img/2022-12-h.jpg" alt="Animated plants in Armory 3D tutorial Screenshot"></a><br /><br />
									<a href="https://youtube.com/watch?v=tizOdOpXE6E"><img class="notes_img" loading="lazy" src="/img/2022-12-i.jpg" alt="Post processing explained in Armory 3D Screenshot"></a><br /><br />
									<a href="https://youtube.com/watch?v=gEYEfkIIjDk"><img class="notes_img" loading="lazy" src="/img/2022-12-j.jpg" alt="Randomness explained in Armory 3D Screenshot"></a><br /><br />
%HIGHLIGHTS - END%
%NEW - START%
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2682">#2682</a> - QuantumCoderQC added PR that implements Physics Convex Casting<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2667">#2667</a> - MoritzBrueckner added event.get(): always return null if no listeners exist<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2658">#2658</a> - Onek8 added networking integration :)<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2653">#2653</a> - LVutner added let's make the BxDFs more consistent! <br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2644">#2644</a> - Onek8 added get date time node<br />
%NEW - END%
%BUG FIXES - START%
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2684">#2684</a> - QuantumCoderQC added fix uniforms manager<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2683">#2683</a> - tong added skip text editor write if area is not available<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2679">#2679</a> - tong added log no ansi in blender console<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2678">#2678</a> - tong added fix custom exporter khamake arguments<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2673">#2673</a> - Naxela added fix for Armory baker<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2672">#2672</a> - LVutner added * FIX: Temporary fix(es) for BRDF LUT issues<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2670">#2670</a> - QuantumCoderQC added fix map range node<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2666">#2666</a> - tong added fix unwanted string concatenation in list<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2665">#2665</a> - tong added fix background mode build<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2664">#2664</a> - rpaladin added fix missing input socket minimums<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2656">#2656</a> - MoritzBrueckner added fix .arm reading issue when world color exceeds [0, 1] range<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2648">#2648</a> - MoritzBrueckner added playSoundNode: set volume to 1 by default<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2647">#2647</a> - MoritzBrueckner added fix [Get/Set]DebugConsoleSettings nodes<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2646">#2646</a> - Onek8 added fixed GetDateTimeNode<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2643">#2643</a> - MoritzBrueckner added fix exception when marking object as asset<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armsdk/pull/57">ArmSDK: #57</a> - Onek8 added missing path / for mac<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armsdk/pull/56">ArmSDK: #56</a> - MoritzBrueckner added utility to print detailed version information to the console<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armsdk/pull/55">ArmSDK: #55</a> - tong added custom dox theme with custom favicon<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/iron/commit/56cc6323ca200f6983579f732bbace1404a2edcc">Iron [commit]: #56cc632</a> - luboslenco added Improve pen input handling<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/iron/pull/172">Iron: #172</a> - tong added fix null error if no Pen device exists<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/iron/pull/171">Iron: #171</a> - e2002e added Iron code that goes with Voxel GI<br />
%OTHER CHANGES - END%