%INFO - START%
April is here with <span class="display-6 fw-bold text-danger align-middle">17</span> new pull requests from some very awesome <a class="fw-bold text-reset" href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="mb-3">MoritzBrueckner added follow reroutes for group nodes, as well as update call group node upon changes:</p>
<img class="ratio ratio-21x9" src="/img/2022-04-c.gif">
<img class="ratio ratio-21x9" src="/img/2022-04-d.gif">
<p class="my-3">RPaladin added upgrades for the onEvent nodes:</p>
<img class="ratio ratio-21x9" src="/img/2022-04-b.png">
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2466">#2466</a> - RPaladin added upgrade OnEvent node.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2462">#2462</a> - MoritzBrueckner added improve output socket handling of the Value Changed .<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2461">#2461</a> - MoritzBrueckner added add support for particle emission from faces.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2455">#2455</a> - MoritzBrueckner added follow reroutes for group nodes and update call group node upon changes.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2451">#2451</a> - MoritzBrueckner added new Array Resize node.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2446">#2446</a> - MoritzBrueckner added add support for VS2022.
%NEW - END%
%BUG FIXES - START%
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2470">#2470</a> - MoritzBrueckner added fix printing WASM errors when using ammo.js.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2465">#2465</a> - MoritzBrueckner added fix updating rotation sockets during live patch session.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2458">#2458</a> - MoritzBrueckner added fix polling of tree variable operators outside of logic trees.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2457">#2457</a> - MoritzBrueckner added remove unused code that substantially slowed down texture export.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2456">#2456</a> - MoritzBrueckner added fix socket order for Retain Value node.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2454">#2454</a> - MoritzBrueckner added fix compiling texture node with triplanar (box) mapping.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2450">#2450</a> - MoritzBrueckner added various export fixes for subsurface scattering.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2449">#2449</a> - MoritzBrueckner added remove legacy code from utils.py and fix possible installation error.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2448">#2448</a> - MoritzBrueckner added fix exception in ArmAnySocket.draw_color() when connecting reroute node.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2445">#2445</a> - MoritzBrueckner added fix redefinition in volumetric light shader when using both sun and single spot light.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2443">#2443</a> - MoritzBrueckner added prevent exception when exporting a world with an empty image texture node.
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-bold text-light" href="https://github.com/armory3d/armsdk/pull/44">ArmSDK: #144 </a> - RPaladin added fix for relocating Armory addon to Game Engine category.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/iron/pull/159">Iron: #159</a> - MoritzBrueckner added Add support for particle emission from faces and fix scaled volume particles.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/iron/pull/158">Iron: #158</a> - MoritzBrueckner added Fix LZ4 encoding/decoding for new Kha array types.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/iron/pull/157">Iron: #157</a> - MoritzBrueckner added Set sceneParent object before calling trait inits.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/iron/pull/156">Iron: #156</a> -  MoritzBrueckner added fix for MeshBatch.remove().<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory_examples/pull/48">Armory Examples: #48</a> - QuantumCoderQC fixed and updated examples. Added documentation to some examples.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory_examples/pull/47">Armory Examples: #47</a> - Yangol-oleksiy added fix script_rigidbody_trigger sample bug.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory_tutorials/pull/15">Armory Tutorials: #15</a> - QuantumCoderQC updated nodes in Tanks example.
%OTHER CHANGES - END%