%INFO - START%
January is here with <span class="display-6 fw-bold text-danger align-middle">7</span> new pull requests from some very awesome <a class="fw-bold text-reset" href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="mb-3">QuantumCoderQC added Node Grops - now your Node Trees can be used as Node Groups:</p>
<img class="ratio ratio-21x9" src="/img/2022-01-b.jpg">
<img class="ratio ratio-21x9" src="/img/2022-08-c.png">
<p class="my-3">There's a bunch of great new nodes to expand the possibilities of visual scripting:</p>
<img class="ratio ratio-21x9" src="/img/2022-01-c.jpg">
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2412">#2412</a> - T3du added add Remove Parent Bone Node.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2410">#2410</a> - MoritzBrueckner added improve node library handling.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2409">#2409</a> - Tong added update custom icons.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2408">#2408</a> - QuantumCoderQC added introducing Node Groups.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2406">#2406</a> - Sh-dave added add IsRigidBodyActive node.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2403">#2403</a> - MoritzBrueckner added replace deprecated addChild()/removeChild() functions with setParent().
%NEW - END%
%BUG FIXES - START%
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2411">#2411</a> - T3du added onCanvasElementNode: fix elements values for scaled canvas.
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-bold text-light" href="https://github.com/armory3d/iron/pull/151">Iron: #151</a> - T3du added functions for add/remove object in collection.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/iron/pull/150">Iron: #150</a> - Tong added Use inverse distance model to calculate audio volume (Same as Blender).<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/iron/pull/149">Iron: #149</a> - T3du added remove bone child function.<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/iron/pull/148">Iron: #148</a> - MoritzBrueckner refactored object parenting.
%OTHER CHANGES - END%