%INFO - START%
									July is here with <span class="display-6 fw-semibold text-danger align-middle">6</span> new pull requests from some very awesome <a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
									<p class="mb-3">
										<span class="fw-semibold">Note:</span> that for this release it is required to re-download the full SDK rather than using the "Update SDK" option in the user preferences, in order to ensure correct SDK updates with the "Update SDK" option in the future.<br /><br />
										Also worth noting in this month's release is that the bug which was limiting point lights on DirectX has finally been resolved in Krafix (see <a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/issues/1772#issuecomment-1172971955">#1772</a>):
									</p>
									<video class="notes_img" playsinline autoplay muted loop>
										<source src="/img/2022-07-b.mp4" type="video/mp4">
										This browser doesn't support MP4. Try using a different browser.
									</video>
%HIGHLIGHTS - END%
%NEW - START%
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2503">#2503</a> - MoritzBrueckner added object Info node: make "random" output random per GPU instance.
%NEW - END%
%BUG FIXES - START%
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2502">#2502</a> - MoritzBrueckner added fix color ramp node for factors left of the left-most stop.<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2501">#2501</a> - MoritzBrueckner added align RGB to grayscale luminance with Blender.<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2500">#2500</a> - MoritzBrueckner added fix node tree caching.
%BUG FIXES - END%
%OTHER CHANGES - START%
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armsdk/pull/46">ArmSDK: #46 </a> - MoritzBrueckner fixed SDK updater: also update armory.py.<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/iron/pull/165">Iron: #165</a> - lampysprites added Initialize scene's object properties.
%OTHER CHANGES - END%