%INFO - START%
									June is here with <span class="display-6 fw-semibold text-danger align-middle">7</span> new pull requests from some very awesome <a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
									<p class="mb-3">N/A</p>
%HIGHLIGHTS - END%
%NEW - START%
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2493">#2493</a> - MoritzBrueckner added better shader node tree warnings.
%NEW - END%
%BUG FIXES - START%
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2496">#2496</a> - MoritzBrueckner added fix and improve loading of libraries.<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2488">#2488</a> - MoritzBrueckner added fix exporting node sockets when using live patch or unconnected reroutes.
%BUG FIXES - END%
%OTHER CHANGES - START%
									<a class="fw-semibold text-light" href="https://github.com/armory3d/armory_examples/pull/51">Armory Examples: #51 </a> - MoritzBrueckner Add depth texture example.<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/iron/pull/164">Iron: #164</a> - MoritzBrueckner added Fix particle emission for scaled emitters.<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/iron/pull/163">Iron: #163</a> - MoritzBrueckner added Make tilesheet frame rate independent of render path + fix race condition.<br />
									<a class="fw-semibold text-light" href="https://github.com/armory3d/iron/pull/162">Iron: #162</a> - MoritzBrueckner added Fix compilation when using deinterleaved buffers.
%OTHER CHANGES - END%