%INFO - START%
August is here with <span class="display-6 fw-bold text-danger align-middle">7</span> new pull requests from some very awesome <a class="fw-bold text-reset" href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
T3du added good bunch of useful nodes allowing for both camera viewport drawing and drawing shapes<br />
Knowledgenude added a pulse node, good for controlling weapons fire rate and similar
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2521">#2521</a> - QuantumCoderQC added add parent relative bone constraint option<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2517">#2517</a> - Knowledgenude added introduce Pulse Node<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2499">#2499</a> - T3du added several Draw nodes: cameras, images, string, geometric figures, etc<br />
%NEW - END%
%BUG FIXES - START%
<!-- #2523 - MoritzBrueckner added deferred renderpath: fix volumetric light combined with translucent materials<br />
#2514 - QuantumCoderQC added stop tweening when NavAgent is removed<br />
#2513 - MoritzBrueckner added fix for RotationNode.set(): get rid of invalid input length check<br />
#2509 - E2002e added firstPersonController.hx anti chess fool cheat. -->
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2523">#2523</a></span> - MoritzBrueckner added deferred renderpath: fix volumetric light combined with translucent materials<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2514">#2514</a></span> - QuantumCoderQC added stop tweening when NavAgent is removed<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2513">#2513</a></span> - MoritzBrueckner added fix for RotationNode.set(): get rid of invalid input length check<br />
<a class="fw-bold text-light" href="https://github.com/armory3d/armory/pull/2509">#2509</a></span> - E2002e added firstPersonController.hx anti chess fool cheat.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-bold text-light" href="https://github.com/armory3d/iron/pull/166">Iron: #166</a></span> - QuantumCoderQC added Parent relative bone constraint<br />
%OTHER CHANGES - END%