%INFO - START%
August is here with <span class="display-6 fw-semibold text-danger align-middle">8</span> new pull requests from some
very awesome <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="my-3">knowledgenude added a new pulse node, which is useful for controlling weapon firing rates, as well as
	similar features.</p>
<img class="notes_img" src="/img/2022-08/2022-08-b.jpg" loading="lazy" alt="2022.08-b Screenshot">
<hr />
<p class="mb-3">t3du added a bunch of useful new nodes that allow drawing of the camera viewport, as well as shapes.</p>
<img class="notes_img" src="/img/2022-08/2022-08-c.jpg" loading="lazy" alt="2022.08-c Screenshot">
<hr />
<img class="notes_img" src="/img/2022-08/2022-08-d.jpg" loading="lazy" alt="2022.08-d Screenshot">
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2499">#2499</a> - t3du added
several
Draw nodes: cameras, images, string, geometric figures, etc.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2517">#2517</a> - knowledgenude
added
introduce Pulse Node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2521">#2521</a> -
QuantumCoderQC added
add parent relative bone constraint option.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2509">#2509</a> - e2002e added
firstPersonController.hx anti chess fool cheat.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2513">#2513</a> -
MoritzBrueckner added
fix for RotationNode.set(): get rid of invalid input length check.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2514">#2514</a> -
QuantumCoderQC added
stop tweening when NavAgent is removed.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2523">#2523</a> -
MoritzBrueckner added
deferred renderpath: fix volumetric light combined with translucent materials.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/166">Iron: #166</a> -
QuantumCoderQC added
Parent relative bone constraint.
%OTHER CHANGES - END%