%INFO - START%
<sup>(Credits: render - Naxela <a class="fw-semibold text-reset"
    href="https://opensource.org/licenses/MIT">[MIT]</a>.)</sup><br />
March is here with <span class="display-6 fw-semibold text-danger align-middle">8</span> new pull requests from some
very awesome <a class="fw-semibold text-reset"
  href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="mb-3">MoritzBrueckner added a new logic tree variable system that was implemented alongside a complete rewrite
  of the logic ID system. Thanks to these changes, options for using logic node variables have been extended and made
  much more dynamic:</p>
<img class="notes_img" src="/img/2022-03/2022-03-b.jpg" loading="lazy" alt="2022-03-b Screenshot">
<p class="my-3">You can find out more about the new tree variable system at the <a class="fw-semibold text-reset"
    href="https://github.com/armory3d/armory/wiki">Armory wiki</a>.</p>
<hr />
<p class="my-3">MoritzBrueckner also added bitwise math nodes for bit masking (for users who need more advanced
  options):</p>
<img class="notes_img" src="/img/2022-03/2022-03-c.jpg" loading="lazy" alt="2022-03-c Screenshot">
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2442">#2442</a> - MoritzBrueckner added
full support for arbitrary spotlight scales.<br />
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2441">#2441</a> - MoritzBrueckner added
add bitwise math node.<br />
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2439">#2439</a> - MoritzBrueckner added
new logic tree variable system.
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2443">#2443</a> - MoritzBrueckner fixed
prevent exception when exporting a world with an empty image texture node.<br />
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory/pull/2437">#2437</a> - MoritzBrueckner fixed
don't count not exported lights when setting shader defines.
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-light" href="https://github.com/armory3d/iron/pull/155">Iron: #155</a> - MoritzBrueckner
added support for arbitrary spotlight scales.<br />
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory_examples/pull/46">Armory Examples: #46</a> -
tong added armpack macro usage example.<br />
<a class="fw-semibold text-light" href="https://github.com/armory3d/armory_examples/pull/14">Armory Tutorials: #14</a> -
tong updated the armory tutorial projects to work with the latest SDK.
%OTHER CHANGES - END%