%INFO - START%
<sup>(<span class="fw-bold text-light">Credits:</span> assets - <a class="fw-semibold text-reset"
		href="https://sketchfab.com/3d-models/the-great-drawing-room-feb9ad17e042418c8e759b81e3b2e5d7">The Great Drawing
		Room</a> by TheHallwylMuseum <a class="fw-semibold text-reset"
		href="https://creativecommons.org/licenses/by/4.0">[CC
		BY 4.0]</a> & <a class="fw-semibold text-reset"
		href="https://sketchfab.com/3d-models/antique-chandelier-c98d235a1df849388423b06f4e0a858c">Antique
		Chandelier</a> by Amatsukast <a class="fw-semibold text-reset"
		href="https://creativecommons.org/licenses/by-nc-sa/4.0">[CC BY-NC-SA 4.0]</a> | render & modifications -
	rpaladin.)</sup><br />
February is here with <span class="display-6 fw-semibold text-danger align-middle">31</span> new pull requests from some
great <a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> -
great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="my-3">lampysprites added add player buttons to topbar.</p>
<video class="notes_img" playsinline autoplay muted loop>
	<source src="/img/2023-02/2023-02-b.mp4" type="video/mp4">
	This browser doesn't support MP4. Try using a different browser.
</video>
<p class="my-3">MoritzBrueckner added option to disable OpenCL processing in CMFT to avoid driver freeze.</p>
<img class="notes_img" loading="lazy" src="/img/2023-02/2023-02-c.jpg" alt="2023.02-c Screenshot">
<p class="my-3">rpaladin added new compositing distort shader.</p>
<video class="notes_img" playsinline autoplay muted loop>
	<source src="/img/2023-02/2023-02-d.mp4" type="video/mp4">
	This browser doesn't support MP4. Try using a different browser.
</video>
<p class="my-3">t3du added logic node: Array Sort Node.</p>
<img class="notes_img" loading="lazy" src="/img/2023-02/2023-02-e.jpg" alt="2023.02-d Screenshot">
<p class="my-3">These developer bounties are still available! Earn rewards by developing new features:</p>
<img class="notes_img" loading="lazy" src="/img/2023-01/2023-01-i.jpg" alt="2023.01-i Screenshot"><br /><br />
<p class="fw-semibold text-light">List of current bounties:</p>
<ul>
	<li>Box Projected Cube Environment Mapping (BPCEM): <a class="fw-semibold text-reset"
			href="https://github.com/armory3d/armory/issues/2613">https://github.com/armory3d/armory/issues/2613</a>
	</li>
	<li>Stochastic Screen-Space Reflections: <a class="fw-semibold text-reset"
			href="https://github.com/armory3d/armory/issues/2611">https://github.com/armory3d/armory/issues/2611</a>
	</li>
	<li>Dynamic Diffuse Global Illumination (DDGI): <a class="fw-semibold text-reset"
			href="https://github.com/armory3d/armory/issues/2610">https://github.com/armory3d/armory/issues/2610</a>
	</li>
	<li>Parallax Occlusion Mapping: <a class="fw-semibold text-reset"
			href="https://github.com/armory3d/armory/issues/2609">https://github.com/armory3d/armory/issues/2609</a>
	</li>
</ul>
<p class="my-3">Exceptional3D made <span class="display-6 fw-semibold text-danger align-middle">5</span> new community
	tutorials this month - fantastic work!</p>
<!-- How to create a custom loading screen in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=lSgbZNBQwkc">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/lSgbZNBQwkc/maxresdefault.jpg"
			alt="How to create a custom loading screen in Armory 3D" />
	</a>
	<iframe id="lSgbZNBQwkc" class="d-none" loading="lazy" width="560" height="315" src=""
		title="How to create a custom loading screen in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div><br />
<!-- Exporting Armory 3D games to HTML -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=jtmKOiGNDBs">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/jtmKOiGNDBs/maxresdefault.jpg"
			alt="Exporting Armory 3D games to HTML" />
	</a>
	<iframe id="jtmKOiGNDBs" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Exporting Armory 3D games to HTML" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div><br />
<!-- Using shape keys in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=N0E-WMIHsrI">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/N0E-WMIHsrI/maxresdefault.jpg"
			alt="Using shape keys in Armory 3D" />
	</a>
	<iframe id="N0E-WMIHsrI" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Using shape keys in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div><br />
<!-- Character controller tutorial in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=w0vQTVyGCyM">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/w0vQTVyGCyM/maxresdefault.jpg"
			alt="Character controller tutorial in Armory 3D" />
	</a>
	<iframe id="w0vQTVyGCyM" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Character controller tutorial in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div><br />
<!--  How to use NodeTrees PROPERLY in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=cejbGl_jk-A">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/cejbGl_jk-A/maxresdefault.jpg"
			alt="How to use NodeTrees PROPERLY in Armory 3D" />
	</a>
	<iframe id="cejbGl_jk-A" class="d-none" loading="lazy" width="560" height="315" src=""
		title="How to use NodeTrees PROPERLY in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2777">#2777</a> - t3du added logic
nodes: Get/Set Camera Start End Node.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2775">#2775</a> - MoritzBrueckner added
option to disable OpenCL processing in CMFT to avoid driver freeze.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2772">#2772</a> - t3du added logic node:
Random String.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2771">#2771</a> - rpaladin added allow
custom naming of lens texture.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2769">#2769</a> - rpaladin added custom
lut naming.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2768">#2768</a> - t3du added logic node:
Array Index.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2766">#2766</a> - t3du added logic node:
Loop Continue.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2765">#2765</a> - t3du added logic
Nodes: Array Sort Node.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2762">#2762</a> - MoritzBrueckner added
rename "Khafile" option to "Append Khafile".<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2759">#2759</a> - rpaladin added
export deform only option.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2758">#2758</a> - lampysprites added
add player buttons to topbar.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2757">#2757</a> - t3du added
draw section for draw nodes.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2756">#2756</a> - t3du added
logic nodes: Array Reverse and Array Concat.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2755">#2755</a> - t3du added
logic node: get object collection add array collection output.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2753">#2753</a> - t3du added
logic node: Remove Trait from Object.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2752">#2752</a> - t3du added logic node:
get Object Collection.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2751">#2751</a> - rpaladin added new
compositing distort shader.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2749">#2749</a> - rpaladin added "Edit
Script" button for WASM traits.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2776">#2776</a> - t3du added fix Random
String Node.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2774">#2774</a> - rpaladin added fix
volumetric light.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2773">#2773</a> - rpaladin added fix
deferred light solid.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2764">#2764</a> - rpaladin added fix
typo.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2754">#2754</a> - rpaladin added fix
incorrect node replacements.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2750">#2750</a> - MoritzBrueckner added
don't delete actions if baking was not successful.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2748">#2748</a> - t3du added
StringReplace: fix output to string.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armsdk/pull/62">ArmSDK: #62</a> - MoritzBrueckner
added add option to disable OpenCL processing in CMFT to avoid driver issue.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/iron/pull/184">Iron: #184</a> - rpaladin added
New getNumBones() method.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory_examples/pull/72">Armory Examples: #72</a> -
rpaladin added fix bowling demo.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory_examples/pull/70">Armory Examples: #70</a> -
MoritzBrueckner added update bloom example.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory_examples/pull/69">Armory Examples: #69</a> -
QuantumCoderQC added fix material_decal_colors example.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory_templates/pull/20">Armory Tutorials: #20</a>
- MoritzBrueckner added update bloom values to new bloom effect.<br />
%OTHER CHANGES - END%