%INFO - START%
April is here with <span class="display-6 fw-semibold text-danger align-middle">15</span> new pull requests from some
great <a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> -
great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="my-3">QuantumCoderQC added
  Implement Ray Cast On and Convex Cast On nodes.</p>
<img class="notes_img" loading="lazy" src="/img/2023-04/2023-04-b.jpg" alt="2023.04-b Screenshot">
<p class="my-3">rpaladin added
  New clear console option + logic node.</p>
<img class="notes_img" loading="lazy" src="/img/2023-04/2023-04-c.jpg" alt="2023.04-c Screenshot">
<p class="my-3">These developer bounties are still available! Earn rewards by developing new features:</p>
<img class="notes_img" loading="lazy" src="/img/2023-01/2023-01-h.jpg" alt="2023.01-i Screenshot"><br /><br />
<p class="fw-semibold text-light">List of current bounties:</p>
<ul>
  <li>Parallax Occlusion Mapping: <a class="fw-semibold text-reset"
      href="https://github.com/armory3d/armory/issues/2609">https://github.com/armory3d/armory/issues/2609</a></li>
  <li>Dynamic Diffuse Global Illumination (DDGI): <a class="fw-semibold text-reset"
      href="https://github.com/armory3d/armory/issues/2610">https://github.com/armory3d/armory/issues/2610</a></li>
  <li>Stochastic Screen-Space Reflections: <a class="fw-semibold text-reset"
      href="https://github.com/armory3d/armory/issues/2611">https://github.com/armory3d/armory/issues/2611</a></li>
  <li>Box Projected Cube Environment Mapping (BPCEM): <a class="fw-semibold text-reset"
      href="https://github.com/armory3d/armory/issues/2613">https://github.com/armory3d/armory/issues/2613</a></li>
</ul>
<p class="my-3">Exceptional3D made <span class="display-6 fw-semibold text-danger align-middle">5</span> new community
  tutorials this month - fantastic work!</p>
<!-- Armory 3D project structure -->
<div class="youtube_video">
  <a class="position-relative" href="https://youtube.com/watch?v=lA78BM90sFU">
    <svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
      viewBox="0 0 68 48">
      <path
        d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
        fill="#f00"></path>
      <path d="M 45,24 27,14 27,34" fill="#fff"></path>
    </svg>
    <img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/lA78BM90sFU/maxresdefault.jpg"
      alt="Armory 3D project structure" />
  </a>
  <iframe id="lA78BM90sFU" class="d-none" loading="lazy" width="560" height="315" src=""
    title="Armory 3D project structure" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div><br />
<!-- Smooth camera follow in Armory 3D -->
<div class="youtube_video">
  <a class="position-relative" href="https://youtube.com/watch?v=7Ayu9bwU2vU">
    <svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
      viewBox="0 0 68 48">
      <path
        d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
        fill="#f00"></path>
      <path d="M 45,24 27,14 27,34" fill="#fff"></path>
    </svg>
    <img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/7Ayu9bwU2vU/maxresdefault.jpg"
      alt="Smooth camera follow in Armory 3D" />
  </a>
  <iframe id="7Ayu9bwU2vU" class="d-none" loading="lazy" width="560" height="315" src=""
    title="Smooth camera follow in Armory 3D" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div><br />
<!-- Basic vehicle controller in Armory 3D -->
<div class="youtube_video">
  <a class="position-relative" href="https://youtube.com/watch?v=dZjylqyxNxs">
    <svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
      viewBox="0 0 68 48">
      <path
        d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
        fill="#f00"></path>
      <path d="M 45,24 27,14 27,34" fill="#fff"></path>
    </svg>
    <img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/dZjylqyxNxs/maxresdefault.jpg"
      alt="Basic vehicle controller in Armory 3D" />
  </a>
  <iframe id="dZjylqyxNxs" class="d-none" loading="lazy" width="560" height="315" src=""
    title="Basic vehicle controller in Armory 3D" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div><br />
<!-- Color grading in Armory 3D -->
<div class="youtube_video">
  <a class="position-relative" href="https://youtube.com/watch?v=mQoXA2dzTII">
    <svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
      viewBox="0 0 68 48">
      <path
        d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
        fill="#f00"></path>
      <path d="M 45,24 27,14 27,34" fill="#fff"></path>
    </svg>
    <img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/mQoXA2dzTII/maxresdefault.jpg"
      alt="Color grading in Armory 3D" />
  </a>
  <iframe id="mQoXA2dzTII" class="d-none" loading="lazy" width="560" height="315" src=""
    title="Color grading in Armory 3D" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div><br />
<!-- Build and preview your game live -->
<div class="youtube_video">
  <a class="position-relative" href="https://youtube.com/watch?v=02i-5Tv5qAo">
    <svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
      viewBox="0 0 68 48">
      <path
        d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
        fill="#f00"></path>
      <path d="M 45,24 27,14 27,34" fill="#fff"></path>
    </svg>
    <img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/02i-5Tv5qAo/maxresdefault.jpg"
      alt="Build and preview your game live" />
  </a>
  <iframe id="02i-5Tv5qAo" class="d-none" loading="lazy" width="560" height="315" src=""
    title="Build and preview your game live" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2840">#2840</a> - QuantumCoderQC added
Implement Ray Cast On and Convex Cast On nodes.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2836">#2836</a> - QuantumCoderQC added
Implement Node group improvements.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2826">#2826</a> - rpaladin added
Implement "capslock" detection.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2820">#2820</a> - QuantumCoderQC added
Use panels for watch nodes in Debug Console.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2816">#2816</a> - rpaladin added
New clear console option + logic node.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2843">#2843</a> - rpaladin added
Fix missing overlay emission color.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2827">#2827</a> - rpaladin added
Add missing checks for bundled traits.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2822">#2822</a> - MoritzBrueckner added
Fix export of delta transform animations.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2819">#2819</a> - QuantumCoderQC added
Fix nested node group parsing.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2818">#2818</a> - rpaladin added
Fix broken inits for various logic nodes.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2815">#2815</a> - MoritzBrueckner added
Fix html anchor in the "Open Node Documentation" operator for some nodes.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2814">#2814</a> - QuantumCoderQC added
Fix material batch.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2813">#2813</a> - rpaladin added Don't
export particle if instance isn't exported.<br />
<a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/pull/2812">#2812</a> - rpaladin added Fix get
canvas text node directory.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset" href="https://github.com/armory3d/iron/pull/189">Iron: #189</a> - rpaladin added
Implement "capslock" detection.<br />
%OTHER CHANGES - END%