%INFO - START%
August is here with <span class="display-6 fw-semibold text-danger align-middle">10</span> new pull requests from some
great <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> -
great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="my-3">MoritzBrueckner added Add "clean" button to 3D view topbar.</p>
<img class="notes_img" loading="lazy" src="/img/2023-08/2023-08-b.jpg" alt="2023.08-b Screenshot" /><br />
<hr />
<p class="my-3">These developer bounties are still available! Earn paid rewards by developing new features:</p>
<img class="notes_img" loading="lazy" src="/img/2023-01/2023-01-i.jpg" alt="2023.01-i Screenshot" /><br /><br />
<p class="fw-semibold text-light">List of active Armory3D bounties with payments:</p>
<ul>
	<li>Parallax Occlusion Mapping: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2609">https://github.com/armory3d/armory/issues/2609</a>
	</li>
	<li>Dynamic Diffuse Global Illumination (DDGI): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2610">https://github.com/armory3d/armory/issues/2610</a>
	</li>
	<li>Stochastic Screen-Space Reflections: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2611">https://github.com/armory3d/armory/issues/2611</a>
	</li>
	<li>Box Projected Cube Environment Mapping (BPCEM): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2613">https://github.com/armory3d/armory/issues/2613</a>
	</li>
	<li>Unbroken Gamepad Logic Nodes: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2886">https://github.com/armory3d/armory/issues/2886</a>
	</li>
</ul>
<hr />
<p class="my-3">Exceptional3D made <span class="display-6 fw-semibold text-danger align-middle">2</span> new community
	tutorials this month - fantastic work!</p>
<!-- Physics debugging in armory3d -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=maRNht-IfrQ">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/maRNht-IfrQ/maxresdefault.jpg"
			alt="Armory 3D can be like Unreal engine" />
	</a>
	<iframe id="maRNht-IfrQ" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Armory 3D can be like Unreal engine" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Custom text in armory3d -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=dX4xeGNYJ4A">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/dX4xeGNYJ4A/maxresdefault.jpg"
			alt="Armory 3D can be like Unreal engine" />
	</a>
	<iframe id="dX4xeGNYJ4A" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Armory 3D can be like Unreal engine" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2911">#2911</a> -
MoritzBrueckner added
Add "clean" button to 3D view topbar.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2902">#2902</a> -
MoritzBrueckner added
Ensure referenced collections are always exported.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2907">#2907</a> - Onek8 added
Hashlink Null Float Fix.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2908">#2908</a> - Onek8 added
Support JS Float Type.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2909">#2909</a> - Onek8 added
NetworkHttpRequestNode.hx: limit async requests to JS.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2910">#2910</a> - Onek8 added
Fix type cast in CreateMapNode.hx.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armsdk/pull/66">ArmSDK: #66 </a> -
QuantumCoderQC
added Fix unix permissions.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armsdk/pull/67">ArmSDK: #67 </a> -
MoritzBrueckner
added Apply symlink option on change.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/haxebullet/pull/44">HaxeBullet: #44</a> -
MoritzBrueckner added Fix compilation of bullet.cpp for Android.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/195">Iron: #195</a> -
MoritzBrueckner
added Fix black screen and display warning if referenced group doesn't exist.<br />
%OTHER CHANGES - END%