%INFO - START%
February is here with <span class="display-6 fw-semibold text-danger align-middle">4</span> new pull requests from some great <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="my-3">Armory now supports <i>Screen-Space Refractions</i> thanks to a contribution from <i>e2002e</i>:</p>
<img class="notes_img" loading="lazy" src="/img/2024-02/2024-02-b.jpg" alt="2024-01-b Screenshot" />
<p class="my-3">You can enable Screen-Space reflection in the <code>Armory Render Path > Post Process</code> panel:</p>
<img class="notes_img" loading="lazy" src="/img/2024-02/2024-02-c.jpg" alt="2024-01-c Screenshot" />
<hr />
<p>These developer bounties are still available! Earn paid rewards by developing new
	features.<br /><br /><span class="fw-semibold text-light">List of active Armory3D bounties with payments:</span></p>
<ul>
	<li>Parallax Occlusion Mapping: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2609">https://github.com/armory3d/armory/issues/2609</a>
	</li>
	<li>Dynamic Diffuse Global Illumination (DDGI): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2610">https://github.com/armory3d/armory/issues/2610</a>
	</li>
	<li>Stochastic Screen-Space Reflections: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2611">https://github.com/armory3d/armory/issues/2611</a>
	</li>
	<li>Box Projected Cube Environment Mapping (BPCEM): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2613">https://github.com/armory3d/armory/issues/2613</a>
	</li>
	<li>Unbroken Gamepad Logic Nodes: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2886">https://github.com/armory3d/armory/issues/2886</a>
	</li>
</ul>
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2960">#2960</a> -
e2002e added Screen-Space Refraction.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2993">#2993</a> -
MoritzBrueckner added Fix rendering of two sided materials in some render paths.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2994">#2994</a> -
MoritzBrueckner added Fix INF values in cloud shader (causing bloom flickering).<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/204">Iron: #204</a> -
QuantumCoderQC added Fix Tilesheet Frame and Time.<br />
%OTHER CHANGES - END%