%INFO - START%
January is here with <span class="display-6 fw-semibold text-danger align-middle">7</span> new pull requests and 3
additional new commit from some great <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="my-3">t3du added Play Sound Node: add option for sound/sound name.</p>
<img class="notes_img" loading="lazy" src="/img/2024-01/2024-01-b.jpg" alt="2024-01-b Screenshot" />
<hr />
<p class="my-3">t3du added World Logic Nodes.</p>
<img class="notes_img" loading="lazy" src="/img/2024-01/2024-01-c.jpg" alt="2024-01-c Screenshot" />
<hr />
<p>These developer bounties are still available! Earn paid rewards by developing new
	features.<br /><br /><span class="fw-semibold text-light">List of active Armory3D bounties with payments:</span></p>
<ul>
	<li>Parallax Occlusion Mapping: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2609">https://github.com/armory3d/armory/issues/2609</a>
	</li>
	<li>Dynamic Diffuse Global Illumination (DDGI): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2610">https://github.com/armory3d/armory/issues/2610</a>
	</li>
	<li>Stochastic Screen-Space Reflections: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2611">https://github.com/armory3d/armory/issues/2611</a>
	</li>
	<li>Box Projected Cube Environment Mapping (BPCEM): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2613">https://github.com/armory3d/armory/issues/2613</a>
	</li>
	<li>Unbroken Gamepad Logic Nodes: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2886">https://github.com/armory3d/armory/issues/2886</a>
	</li>
</ul>
<hr />
<p class="my-3">SIMPLE CUBE made <span class="display-6 fw-semibold text-danger align-middle">6</span> (including
	Russian translations) new community
	tutorials this month - fantastic work!</p>
<span class="fw-semibold text-light">English:</span>
<ul>
	<li>
		<a class="fw-semibold text-reset btn-link"
			href="https://youtube.com/@_SIMPLECUBE_/videos">https://youtube.com/@_SIMPLECUBE_/videos</a>
	</li>
</ul>
<span class="fw-semibold text-light">Russian:</span>
<ul>
	<li>
		<a class="fw-semibold text-reset btn-link"
			href="https://youtube.com/@SimpleCubeRus/videos">https://youtube.com/@SimpleCubeRus/videos</a>
	</li>
</ul>
<hr />
<p class="my-3">You may also be interested in videos from PleaseTryThis:</p>
<ul>
	<li>
		<span class="fw-semibold text-light">English:</span> <a class="fw-semibold text-reset btn-link"
			href="https://youtube.com/@PleaseTryThis/videos">https://youtube.com/@PleaseTryThis/videos</a>
	</li>
</ul>
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2978">#2978</a> -
MoritzBrueckner added Enable GPU for environment rendering also for non-CUDA compute devices.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2981">#2981</a> -
t3du added Play Sound Node: add option for sound/sound name.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2982">#2982</a> -
t3du added World Logic Nodes.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2983">#2983</a> -
MoritzBrueckner added Add DebugConsole.isDebugConsoleHovered (+ node integration).<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2984">#2984</a> -
t3du added Play sound node: fix update routine version.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2985">#2985</a> -
t3du added Play sound node: fix sound load and retrigger.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/203">Iron: #203</a> -
tong added Add Trait documentation.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/commit/efb9d75c8f28d7cc23bd651fb0f7a7d012480670
">Armory [commit]: #efb9d75</a>
-
MoritzBrueckner added Cleanup whitespace.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/commit/a67b5f5222007bf527a02544da3b78c3d249bfa6
">Armory [commit]: #a67b5f5</a>
-
MoritzBrueckner added Play Sound node: fix version check once more.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/commit/6c09dbbe951180ece756c28d0c3cb600bd35f728
">Armory [commit]: #6c09dbb</a>
-
MoritzBrueckner added Whitespace cleanup.<br />
%OTHER CHANGES - END%