%INFO - START%
November is here with <span class="display-6 fw-semibold text-danger align-middle">21</span> new pull requests from some
very awesome <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="mb-3">While most of this months features are backend additions, fixes and improved stability, there is a bunch
	of new and improved nodes.</p>
<img class="notes_img" src="/img/2021-11/2021-11-b.jpg" loading="lazy" alt="2021-11-b Screenshot">
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2353">#2353</a> -
MoritzBrueckner added
allow to set default renderpath for debugging.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2359">#2359</a> - t3du added
add logic
nodes: set/get canvas font size and set progress bar color.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2361">#2361</a> - SaxonGao-SZ
added use
project name for web title.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2363">#2363</a> - t3du added
add get
object uid nodes / agg args to call Haxe static function / add Between to gate node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2368">#2368</a> - t3du added
add Not
Equal to Gate Node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2369">#2369</a> - t3du added
add Between
and Not Equal to Compare Logic.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2373">#2373</a> -
QuantumCoderQC added
add normal output for pick rb node.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2352">#2352</a> -
MoritzBrueckner added
fix CPU count parameter for cmft.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2355">#2355</a> -
MoritzBrueckner added
fix deprecated nodes and improve deprecation handling.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2356">#2356</a> -
MoritzBrueckner added
fix Geometry and Texture Coordinate nodes for world shaders.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2357">#2357</a> -
QuantumCoderQC added
random color node fix.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2362">#2362</a> - tong added
fix dox
when using special characters.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2366">#2366</a> -
MoritzBrueckner added
fix exporting collections with parent object in another collection.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2367">#2367</a> -
MoritzBrueckner added
fix exporting textures from linked libraries.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2372">#2372</a> -
QuantumCoderQC added
decal fix.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2374">#2374</a> - tong added
fix switch
expression.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/140">Iron: #140</a> -
MoritzBrueckner fix
world geometry.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/141">Iron: #141</a> - tong added
fix dox
when using special characters.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/142">Iron: #142</a> -
MoritzBrueckner
added fix vector trait properties on HTML5.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/143">Iron: #143</a> - tong added
Fix
undefined markerevents.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/144">Iron: #144</a> -
QuantumCoderQC Added
support for decal object uniforms.<br />
%OTHER CHANGES - END%