%INFO - START%
February is here with <span class="display-6 fw-semibold text-danger align-middle">17</span> new pull requests from some
very awesome <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="mb-3">Many new nodes were added thanks to QuantumCoderQC & t3du.</p>
<img class="notes_img flex-fill" src="/img/2022-02/2022-02-b.jpg" loading="lazy" alt="2022-02-b Screenshot">
<hr />
<img class="notes_img flex-fill" src="/img/2022-02/2022-02-c.jpg" loading="lazy" alt="2022-02-c Screenshot">
<hr />
<img class="notes_img flex-fill" src="/img/2022-02/2022-02-d.jpg" loading="lazy" alt="2022-02-d Screenshot">
<hr />
<img class="notes_img" src="/img/2022-02/2022-02-e.jpg" loading="lazy" alt="2022-02-e Screenshot">
<hr />
<img class="notes_img" src="/img/2022-02/2022-02-f.jpg" loading="lazy" alt="2022-02-f Screenshot">
<hr />
<p class="my-3">MoritzBrueckner added a sidebar to make logic node development much easier.</p>
<img class="notes_img" src="/img/2022-02/2022-02-g.jpg" loading="lazy" alt="2022-02-g Screenshot">
<hr />
<p class="my-3">Naxela updated the lightmapper. Now it supports indirect lighting and logluv encoding.</p>
<video class="notes_img" playsinline autoplay muted loop>
	<source src="/img/2022-02/2022-02-h.mp4" type="video/mp4">
	This browser doesn't support MP4. Try using a different browser.
</video>
<hr />
<img class="notes_img" src="/img/2022-02/2022-02-i.jpg" loading="lazy" alt="2022-02-i Screenshot">
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2416">#2416</a> - t3du added
add and
remove objects from collections.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2419">#2418</a> - t3du added
math node -
add precision for round.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2419">#2419</a> -
QuantumCoderQC added
retain Value Node, Float Delta Interpolation Node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2422">#2422</a> - tong added
export
speaker distance fields.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2423">#2423</a> - t3du added
add Gamepad
Sticks node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2425">#2425</a> - Naxela added
update
lightmapper to v0.6.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2427">#2427</a> - t3du added
alternate
Output - alternate outputs with several outputs.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2429">#2429</a> - t3du added
array -
ArraySampleNode and ArrayShuffleNode.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2430">#2430</a> -
MoritzBrueckner added
new sidebar panel to ease logic node development.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2431">#2431</a> - t3du added
lights -
Add nodes to control spot and area size, and spot blend.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2433">#2433</a> -
MoritzBrueckner added
add detailed documentation for read/write json/file/storage nodes.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2414">#2414</a> -
MoritzBrueckner added
fix SetRotationNode: don't change rotation of previous objects.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2420">#2420</a> - t3du added
get Gamepad
Started - fix node input.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2421">#2421</a> -
MoritzBrueckner added
fix is_transluc_type(): do not activate translucency with Principled BSDF emission strength.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2426">#2426</a> - t3du added
fix
NavigableLocationNode error.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/153">Iron: #153</a> - tong added
speaker
distance fields.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/154">Iron: #154</a> -
QuantumCoderQC fixed
billboard scaling.<br />
%OTHER CHANGES - END%