%INFO - START%
<sup>(<span class="fw-bold text-light">Credits:</span> assets - <a class="fw-semibold text-reset btn-link"
		href="https://sketchfab.com/3d-models/christmas-ball-36868988285f4b60b3e389e1aa1bab3f">Christmas Ball</a> by
	Ivanix88 <a class="fw-semibold text-reset btn-link" href="https://creativecommons.org/licenses/by/4.0">[CC
		BY 4.0]</a> | render & modifications -
	MoritzBrueckner.)</sup><br />
January is here with <span class="display-6 fw-semibold text-danger align-middle">57</span> new pull requests from some
great <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> -
great work!<br />
Christmas just passed and that means we've got a new month, year, and release!<br />
Merry Christmas Armory community!
%INFO - END%
%HIGHLIGHTS - START%
<p class="my-3">Happy New Year Armory community!</p>
<img class="notes_img" loading="lazy" src="/engine/img/2023-01/2023-01-b.jpg" alt="2023.01-b Screenshot"><br /><br />
<sup>(<span class="fw-bold text-light">Credits:</span> assets - LowPoly@Sketchfab, render - rpladin.)</sup>
<hr />
<p class="my-3">knowledgenude added add getPointVelocity method.</p>
<img class="notes_img" loading="lazy" src="/engine/img/2023-01/2023-01-c.jpg" alt="2023.01-c Screenshot">
<hr />
<p class="my-3">MoritzBrueckner added High-Quality Bloom.</p>
<img class="notes_img" loading="lazy" src="/engine/img/2023-01/2023-01-d.jpg" alt="2023.01-d Screenshot">
<hr />
<p class="my-3">QuantumCoderQC added Cursor/ Touch in region.</p>
<img class="notes_img" loading="lazy" src="/engine/img/2023-01/2023-01-e.jpg" alt="2023.01-e Screenshot">
<hr />
<p class="my-3">tong added append khamake options to command on preset exporters.</p>
<img class="notes_img" loading="lazy" src="/engine/img/2023-01/2023-01-f.jpg" alt="2022.12-f Screenshot">
<hr />
<p class="my-3">t3du added add Draw Text Area String node.</p>
<img class="notes_img" loading="lazy" src="/engine/img/2023-01/2023-01-g.jpg" alt="2023.01-g Screenshot">
<hr />
<p class="my-3">rpaladin added new trait specials menu.</p>
<img class="notes_img" loading="lazy" src="/engine/img/2023-01/2023-01-h.jpg" alt="2023.01-h Screenshot">
<hr />
<p class="mt-1 mb-0 px-4 py-3 d-inline-block fs-5 text-bg-success"><span class="fw-semibold">A paid bounty was
		completed:</span>
	High-Quality Bloom</p>
<p class="my-3">These developer bounties are still available! Earn paid rewards by developing new features:</p>
<img class="notes_img" loading="lazy" src="/engine/img/2023-01/2023-01-i.jpg" alt="2023.01-i Screenshot"><br /><br />
<p class="fw-semibold text-light">List of current bounties:</p>
<ul>
	<li>Parallax Occlusion Mapping: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2609">https://github.com/armory3d/armory/issues/2609</a>
	</li>
	<li>Dynamic Diffuse Global Illumination (DDGI): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2610">https://github.com/armory3d/armory/issues/2610</a>
	</li>
	<li>Stochastic Screen-Space Reflections: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2611">https://github.com/armory3d/armory/issues/2611</a>
	</li>
	<li>
		<span class="text-danger">
			High-Quality Bloom:
			<a class="fw-semibold text-reset btn-link"
				href="https://github.com/armory3d/armory/issues/2612">https://github.com/armory3d/armory/issues/2612
			</a>
		</span>
	</li>
	<li>Box Projected Cube Environment Mapping (BPCEM): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2613">https://github.com/armory3d/armory/issues/2613</a>
	</li>
</ul>
<hr />
<p class="my-3">Exceptional3D made <span class="display-6 fw-semibold text-danger align-middle">5</span> new community
	tutorials this month - fantastic work!</p>
<!-- How to change materials at runtime with Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=lyX9WGR7lsg">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/lyX9WGR7lsg/maxresdefault.jpg"
			alt="How to change materials at runtime with Armory 3D" />
	</a>
	<iframe id="lyX9WGR7lsg" class="d-none" loading="lazy" width="560" height="315" src=""
		title="How to change materials at runtime with Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Fix camera overlaying frames issue -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=-HQox6rb3WQ">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/-HQox6rb3WQ/maxresdefault.jpg"
			alt="Fix camera overlaying frames issue" />
	</a>
	<iframe id="-HQox6rb3WQ" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Fix camera overlaying frames issue" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- How to make a custom cursor in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=_Niwk5zHUzU">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/_Niwk5zHUzU/maxresdefault.jpg"
			alt="How to make a custom cursor in Armory 3D" />
	</a>
	<iframe id="_Niwk5zHUzU" class="d-none" loading="lazy" width="560" height="315" src=""
		title="How to make a custom cursor in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Raycasting EXPLAINED in Armory 3D-->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=8ymSPfgnY4Y">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/8ymSPfgnY4Y/maxresdefault.jpg"
			alt="Raycasting EXPLAINED in Armory 3D" />
	</a>
	<iframe id="8ymSPfgnY4Y" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Raycasting EXPLAINED in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Using TWEENS in Armory 3D for smooth animations -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=XHCyGScD4cM">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/XHCyGScD4cM/maxresdefault.jpg"
			alt="Using TWEENS in Armory 3D for smooth animations" />
	</a>
	<iframe id="XHCyGScD4cM" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Using TWEENS in Armory 3D for smooth animations" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2697">#2697</a> - knowledgenude
added
add getPointVelocity method.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2704">#2704</a> - tong added
improve
player launch command.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2712">#2712</a> - rpaladin
added add
extra mouse buttons.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2713">#2713</a> -
QuantumCoderQC added
implement Pause Active Camera Render Node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2715">#2715</a> - t3du added
logic node:
Array get next.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2719">#2719</a> -
QuantumCoderQC added
implement rotate render target node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2723">#2723</a> - t3du added
add gate
and compare between condition for vectors.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2725">#2725</a> -
MoritzBrueckner added
High-Quality Bloom.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2727">#2727</a> -
QuantumCoderQC added
Cursor/ Touch in region.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2729">#2729</a> - tong added
always
print calls to external tools.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2730">#2730</a> - t3du added
add
StringReplace and ParseInt nodes.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2731">#2731</a> - tong added
append
khamake options to command on preset exporters.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2734">#2734</a> - t3du added
add
CaseIndex and BooleanToInt nodes.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2735">#2735</a> - t3du added
add Draw
Text Area String node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2736">#2736</a> - rpaladin
added new
trait specials menu.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2738">#2738</a> - t3du added
add Combine
and Separate HSVA colors.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2743">#2743</a> - t3du added
add vector
comparison to case index node.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2687">#2687</a> - rpaladin
added switch
node: fix removing output sockets.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2689">#2689</a> -
added socket
output cleanup.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2688">#2688</a> - rpaladin
MoritzBrueckner added
fix loading world shader contexts if world name contains special characters.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2691">#2691</a> - rpaladin
added fix
array node indexes.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2692">#2692</a> - Onek8 added
add nodejs
socket back to networking.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2699">#2699</a> - rpaldin added
fix misc
nodes.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2700">#2700</a> - tong added
remove
executable file permissions.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2709">#2709</a> - rpaladin
added check
if voxel AO shadows enabled for deferred lighting.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2710">#2710</a> - t3du added
add
variable socket to array integer.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2711">#2711</a> - rpaladin
added check
if no sky texture for dark clouds.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2716">#2716</a> - rpaladin
added ceck if
RenderPath preset is none.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2717">#2717</a> - tong added
fix null
error on no arm_skin.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2718">#2718</a> -
MoritzBrueckner added
fix node version updates for mouse and pick RB nodes.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2732">#2732</a> - Onek8 added
persist
server process.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2733">#2733</a> -
MoritzBrueckner added
fix emission ghosting effect on some platforms.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2737">#2737</a> - t3du added
little
fix.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2739">#2739</a> - rpaladin
added fix
crash on recompile.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2740">#2740</a> -
MoritzBrueckner added
Gate node: fix accessing vector methods when DCE is on.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2747">#2747</a> - t3du added
fix select
node returning value0 when index is null.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armorcore/pull/56">ArmorCore: #56</a> -
MoritzBrueckner added return null to Haxe if sound could not be created.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armorcore/pull/59">ArmorCore: #59</a> -
MoritzBrueckner added fix memory leak when using web workers.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armsdk/pull/58">ArmSDK: #58</a> - tong
added exclude
armory.network from api docs build.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armsdk/pull/59">ArmSDK: #59</a> - tong
added upgrade
workflow actions.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armsdk/pull/60">ArmSDK: #60</a> - tong
added fix
typo in workflow.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armsdk/pull/61">ArmSDK: #61</a> - tong
added fix
print_version_info on non git armsdk.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/61">Armory Examples:
	#61</a> -
Onek8 added Network Zui Chat Example.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/62">Armory Examples:
	#62</a> -
Onek8 added create README.md.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/63">Armory Examples:
	#63</a> -
tong added fix projects.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/64">Armory Examples:
	#64</a> -
tong added rename blend file to project name.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/65">Armory Examples:
	#65</a> -
MoritzBrueckner added fix physics_picking example.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/66">Armory Examples:
	#66</a> -
tong added fix physics_picking example name.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_examples/pull/67">Armory Examples:
	#67</a> -
t3du added text area string node examples of use.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory_tutorials/pull/19">Armory Tutorials:
	#19</a>
- tong added update projects.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/173">Iron: #173</a> - tong added
add
gamepad id property.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/174">Iron: #174</a> - tong added
run test
workflow on pull_request too.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/176">Iron: #176</a> - tong added
update
exporter.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/177">Iron: #177</a> - tong added
remove
executable file permissions.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/178">Iron: #178</a> - rpaladin
added add
extra mouse buttons.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/180">Iron: #180</a> - rpaladin
added
cleanup extra mouse buttons.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/181">Iron: #181</a> -
MoritzBrueckner
added Ensure bilinear filtering is used for bloom mips.<br />
%OTHER CHANGES - END%