%INFO - START%
December is here with <span class="display-6 fw-semibold text-danger align-middle">11</span> new pull requests and 1
additional new commit and 1 additional new fork from some great <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> - great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="my-3">MoritzBrueckner added Show object properties in debug console.</p>
<img class="notes_img" loading="lazy" src="/img/2023-12/2023-12-b.jpg" alt="2023.12-b Screenshot" />
<hr />
<p class="my-3">MoritzBrueckner added Show event names in event node headers.</p>
<img class="notes_img" loading="lazy" src="/img/2023-12/2023-12-c.jpg" alt="2023.12-c Screenshot" />
<hr />
<p class="my-3">MoritzBrueckner added Make node groups available from "Add node" menu.</p>
<img class="notes_img" loading="lazy" src="/img/2023-12/2023-12-d.jpg" alt="2023.12-d Screenshot" />
<hr />
<p class="my-3">t3du added Armory Traits UI: Remove Traits and Print Scene Traits.</p>
<img class="notes_img" loading="lazy" src="/img/2023-12/2023-12-e.jpg" alt="2023.12-e Screenshot" />
<img class="notes_img" loading="lazy" src="/img/2023-12/2023-12-f.jpg" alt="2023.12-f Screenshot" />
<hr />
<p>These developer bounties are still available! Earn paid rewards by developing new
	features.<br /><br /><span class="fw-semibold text-light">List of active Armory3D bounties with payments:</span></p>
<ul>
	<li>Parallax Occlusion Mapping: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2609">https://github.com/armory3d/armory/issues/2609</a>
	</li>
	<li>Dynamic Diffuse Global Illumination (DDGI): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2610">https://github.com/armory3d/armory/issues/2610</a>
	</li>
	<li>Stochastic Screen-Space Reflections: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2611">https://github.com/armory3d/armory/issues/2611</a>
	</li>
	<li>Box Projected Cube Environment Mapping (BPCEM): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2613">https://github.com/armory3d/armory/issues/2613</a>
	</li>
	<li>Unbroken Gamepad Logic Nodes: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2886">https://github.com/armory3d/armory/issues/2886</a>
	</li>
</ul>
<hr />
<p class="my-3">Ariel Gimenez made <span class="display-6 fw-semibold text-danger align-middle">1</span> new community
	tutorials this month - fantastic work!</p>
<ul>
	<li>
		<span class="fw-semibold text-light">Spanish:</span> <a class="fw-semibold text-reset btn-link"
			href="https://youtube.com/watch?v=SGRHTqHd-eQ">https://youtube.com/watch?v=SGRHTqHd-eQ</a>
	</li>
</ul>
<hr />
<p class="my-3">Exceptional3D made <span class="display-6 fw-semibold text-danger align-middle">3</span> (2 videos and 1
	short) new community
	tutorials this month - fantastic work!</p>
<span class="fw-semibold text-light">English:</span>
<ul>
	<li>
		<a class="fw-semibold text-reset btn-link"
			href="https://youtube.com/@armory.3d/videos">https://youtube.com/@armory.3d/videos</a>
	</li>
	<li>
		<a class="fw-semibold text-reset btn-link"
			href="https://youtube.com/@armory.3d/shorts">https://youtube.com/@armory.3d/shorts</a>
	</li>
</ul>
<hr />
<p class="my-3">SIMPLE CUBE made <span class="display-6 fw-semibold text-danger align-middle">15</span> (including
	Russian translations) new community
	tutorials this month - fantastic work!</p>
<span class="fw-semibold text-light">English:</span>
<ul>
	<li>
		<a class="fw-semibold text-reset btn-link"
			href="https://youtube.com/@_SIMPLECUBE_/videos">https://youtube.com/@_SIMPLECUBE_/videos</a>
	</li>
</ul>
<span class="fw-semibold text-light">Russian:</span>
<ul>
	<li>
		<a class="fw-semibold text-reset btn-link"
			href="https://youtube.com/@SimpleCubeRus/videos">https://youtube.com/@SimpleCubeRus/videos</a>
	</li>
</ul>
<hr />
<p class="my-3">You may also be interested in videos from PleaseTryThis:</p>
<ul>
	<li>
		<span class="fw-semibold text-light">English:</span> <a class="fw-semibold text-reset btn-link"
			href="https://youtube.com/@PleaseTryThis/videos">https://youtube.com/@PleaseTryThis/videos</a>
	</li>
</ul>
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2965">#2965</a> -
MoritzBrueckner added Show object properties in debug console.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2969">#2969</a> -
MoritzBrueckner added Show event names in event node headers.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2970">#2970</a> -
MoritzBrueckner added Make node groups available from "Add node" menu.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2971">#2971</a> -
t3du added Armory Traits UI: Remove Traits and Print Scene Traits.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2974">#2974</a> -
MoritzBrueckner added Print exception if player cannot be started.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2924">#2924</a> -
e2002e added Fix for ssr search dist.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2966">#2966</a> -
tong added Keep WalkNavigation init function if arm_debug.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2972">#2972</a> -
Onek8 added Update WebSocket and replace Regex.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2975">#2975</a> -
Onek8 added Include ZUI when Debug Console is activated.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2976">#2976</a> -
rpaladin added Fix context for remove traits operator.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2977">#2977</a> -
t3du added SetNameNode: update animation armature action references for armature name changes.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/commit/f08461e4adcec49458c81adbc828f8e2c61a837e
">Armory [commit]: #f08461e</a>
-
MoritzBrueckner added Regular Expression node: fix docstring for wiki generation.<br />
%OTHER CHANGES - END%