%INFO - START%
<sup>(<span class="fw-bold text-light">Credits:</span> assets - <a class="fw-semibold text-reset btn-link"
		href="https://sketchfab.com/3d-models/hand-a43c9c9059b24e2aa4af08d1a76f0916">hand</a> by
	kevinruiz <a class="fw-semibold text-reset btn-link" href="http://creativecommons.org/licenses/by/4.0">[CC
		BY 4.0]</a> | render & modifications -
	rpaladin.)</sup><br />
May is here with <span class="display-6 fw-semibold text-danger align-middle">16</span> new pull requests from some
great <a class="fw-semibold text-reset btn-link"
	href="https://github.com/armory3d/armory/graphs/contributors">contributors</a> -
great work!
%INFO - END%
%HIGHLIGHTS - START%
<p class="my-3">MoritzBrueckner added Add component-wise mode to Vector Clamp node.</p>
<img class="notes_img" loading="lazy" src="/img/2023-05/2023-05-b.jpg" alt="2023.05-e Screenshot">
<hr />
<p class="my-3">MoritzBrueckner added Make Bump node work with arbitrary height inputs.</p>
<br />
<div class="container">
	<div class="row">
		<div class="col">
			<sup class="fw-bold text-light">Blender</sup><br />
			<img loading="lazy" src="/img/2023-05/2023-05-c.jpg" alt="2023.05-c Screenshot">
		</div>
		<div class="col mt-4 mt-md-0">
			<sup class="fw-bold text-light">Armory (before changes)</sup><br />
			<img loading="lazy" src="/img/2023-05/2023-05-d.jpg" alt="2023.05-d Screenshot">
		</div>
		<div class="col mt-4 mt-xxl-0">
			<sup class="fw-bold text-light">Armory (after changes)</sup><br />
			<img loading="lazy" src="/img/2023-05/2023-05-e.jpg" alt="2023.05-e Screenshot">
		</div>
	</div>
</div>
<hr />
<p class="my-3">rpaladin added
	Implement missing renderpath attributes for postprocessing logic nodes.</p>
<img class="notes_img" loading="lazy" src="/img/2023-05/2023-05-f.jpg" alt="2023.05-f Screenshot">
<hr />
<p class="my-3">Onek8 added
	New Map Nodes.</p>
<img class="notes_img" loading="lazy" src="/img/2023-05/2023-05-g.jpg" alt="2023.05-g Screenshot">
<hr />
<p class="my-3">rpaladin added
	New logic nodes - get/set letterbox settings logic.</p>
<img class="notes_img" loading="lazy" src="/img/2023-05/2023-05-h.jpg" alt="2023.05-h Screenshot">
<hr />
<p class="my-3">These developer bounties are still available! Earn paid rewards by developing new features:</p>
<img class="notes_img" loading="lazy" src="/img/2023-01/2023-01-i.jpg" alt="2023.01-i Screenshot"><br /><br />
<p class="fw-semibold text-light">List of current bounties:</p>
<ul>
	<li>Parallax Occlusion Mapping: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2609">https://github.com/armory3d/armory/issues/2609</a>
	</li>
	<li>Dynamic Diffuse Global Illumination (DDGI): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2610">https://github.com/armory3d/armory/issues/2610</a>
	</li>
	<li>Stochastic Screen-Space Reflections: <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2611">https://github.com/armory3d/armory/issues/2611</a>
	</li>
	<li>Box Projected Cube Environment Mapping (BPCEM): <a class="fw-semibold text-reset btn-link"
			href="https://github.com/armory3d/armory/issues/2613">https://github.com/armory3d/armory/issues/2613</a>
	</li>
</ul>
<hr />
<p class="my-3">Exceptional3D made <span class="display-6 fw-semibold text-danger align-middle">6</span> new community
	tutorials this month - fantastic work!</p>
<!-- Node grouping is changing Armory 3D FOREVER -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=EJemk24yvMM">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/EJemk24yvMM/maxresdefault.jpg"
			alt="Node grouping is changing Armory 3D FOREVER" />
	</a>
	<iframe id="EJemk24yvMM" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Node grouping is changing Armory 3D FOREVER" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- All types of movement explained -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=uYUAeMlm9a0">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/uYUAeMlm9a0/maxresdefault.jpg"
			alt="All types of movement explained" />
	</a>
	<iframe id="uYUAeMlm9a0" class="d-none" loading="lazy" width="560" height="315" src=""
		title="All types of movement explained" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- All physics movement explained in Armory 3D -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=f58limisAK0">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/f58limisAK0/maxresdefault.jpg"
			alt="All physics movement explained in Armory 3D" />
	</a>
	<iframe id="f58limisAK0" class="d-none" loading="lazy" width="560" height="315" src=""
		title="All physics movement explained in Armory 3D" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Building a simple game in Armory 3D - Beginners tutorial part 1 -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=4j58m23mlSE">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/4j58m23mlSE/maxresdefault.jpg"
			alt="Building a simple game in Armory 3D - Beginners tutorial part 1" />
	</a>
	<iframe id="4j58m23mlSE" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Building a simple game in Armory 3D - Beginners tutorial part 1" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Building a simple game in Armory 3D - Beginners tutorial part 2 -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=TUC5g7xStHI">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/TUC5g7xStHI/maxresdefault.jpg"
			alt="Building a simple game in Armory 3D - Beginners tutorial part 2" />
	</a>
	<iframe id="TUC5g7xStHI" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Building a simple game in Armory 3D - Beginners tutorial part 2" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
<hr />
<!-- Armory 3D can be like Unreal engine -->
<div class="youtube_video">
	<a class="position-relative" href="https://youtube.com/watch?v=du-CTKcZ7jU">
		<svg class="position-absolute top-50 start-50 translate-middle" width="200%" height="200%" version="1.1"
			viewBox="0 0 68 48">
			<path
				d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
				fill="#f00"></path>
			<path d="M 45,24 27,14 27,34" fill="#fff"></path>
		</svg>
		<img class="notes_img" loading="lazy" src="https://i3.ytimg.com/vi/du-CTKcZ7jU/maxresdefault.jpg"
			alt="Armory 3D can be like Unreal engine" />
	</a>
	<iframe id="du-CTKcZ7jU" class="d-none" loading="lazy" width="560" height="315" src=""
		title="Armory 3D can be like Unreal engine" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</div>
%HIGHLIGHTS - END%
%NEW - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2849">#2849</a> -
MoritzBrueckner added
Add component-wise mode to Vector Clamp node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2850">#2850</a> -
MoritzBrueckner added
Make Bump node work with arbitrary height inputs.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2857">#2857</a> - rpaladin
added
Implement missing renderpath attributes for postprocessing logic nodes.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2858">#2858</a> - Onek8 added
New Map Nodes.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2859">#2859</a> - Onek8 added
NetworkHttpRequestNode: add support for headers and parameters in requests.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2860">#2860</a> - rpaladin
added
New logic nodes - get/set letterbox settings logic.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2864">#2864</a> - rpaladin
added
Improve compilation warnings.<br />
%NEW - END%
%BUG FIXES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2844">#2844</a> -
MoritzBrueckner added
Fix shader generation for vertex displacement with procedural textures.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2848">#2848</a> - Onek8 added
Declare type for HL static targets.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2851">#2851</a> -
QuantumCoderQC added
Fix parsing of custom shader data node.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2852">#2852</a> -
QuantumCoderQC added
Fix collection spawning.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2853">#2853</a> -
QuantumCoderQC added
Do not use colorspace when exporting images.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2855">#2855</a> -
QuantumCoderQC added
Fix normal vectors for instanced objects.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2862">#2862</a> -
MoritzBrueckner added
Fix performance issue when creating zoo collection for correct modifier export.<br />
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/armory/pull/2867">#2867</a> -
MoritzBrueckner added
Improve and fix handling of tree variables.<br />
%BUG FIXES - END%
%OTHER CHANGES - START%
<a class="fw-semibold text-reset btn-link" href="https://github.com/armory3d/iron/pull/190">Iron: #190</a> -
QuantumCoderQC added
Fix spawning of group objects.<br />
%OTHER CHANGES - END%