  <!-- Main Content -->
  <div class="uk-cover-container cover-container" style="height: 50vh">
    <img src="img/FeaturedCover.jpg" alt="Cover Image" uk-cover>
  </div>
  <div class="uk-section uk-section-secondary">
    <br><br><br>
    <div class="uk-child-width-expand@l uk-text-center uk-grid-medium" uk-grid>
      <!-- Discord -->
      <div>
        <h1 class="uk-inline uk-heading-divider ro-text-header">Discord</h1><br />
        <a class="uk-button uk-button-default" href="https://discord.gg/axq6qWV" uk-icon="icon: discord"></a>
      </div>
      <!-- Github -->
      <div>
        <h1 class="uk-inline uk-heading-divider ro-text-header">Github</h1><br />
        <a class="uk-button uk-button-default" href="https://github.com/search?q=armory3d" uk-icon="icon: hashtag"></a>
        <a class="uk-button uk-button-default" href="https://github.com/armory3d/armory/discussions" uk-icon="icon: github"></a>
      </div>
      <!-- Discourse -->
      <div>
        <h1 class="uk-inline uk-heading-divider ro-text-header">Discourse</h1><br />
        <a class="uk-button uk-button-default" href="http://forums.armory3d.org" uk-icon="icon: social"></a>
      </div>
    </div>
    <div class="uk-child-width-expand@l uk-text-center uk-grid-medium" uk-grid>
      <!-- Reddit -->
      <div>
        <h1 class="uk-inline uk-heading-divider ro-text-header">Reddit</h1><br />
        <a class="uk-button uk-button-default" href="https://reddit.com/r/armory3d" uk-icon="icon: reddit"></a>
      </div>
      <!-- Facebook -->
      <div>
        <h1 class="uk-inline uk-heading-divider ro-text-header">Facebook</h1><br />
        <a class="uk-button uk-button-default" href="https://facebook.com/hashtag/armory3d" uk-icon="icon: hashtag"></a>
        <a class="uk-button uk-button-default" href="https://facebook.com/armorytools/" uk-icon="icon: facebook"></a>
      </div>
      <!-- Twitter -->
      <div>
        <h1 class="uk-inline uk-heading-divider ro-text-header">Twitter</h1><br />
        <a class="uk-button uk-button-default" href="https://twitter.com/hashtag/armory3d" uk-icon="icon: hashtag"></a>
        <a class="uk-button uk-button-default" href="https://twitter.com/armory3d" uk-icon="icon: twitter"></a>
      </div>
    </div>
    <div class="uk-child-width-expand@l uk-text-center uk-grid-medium" uk-grid>
      <!-- Instagram -->
      <div>
        <h1 class="uk-inline uk-heading-divider ro-text-header">Instagram</h1><br />
        <a class="uk-button uk-button-default" href="https://instagram.com/explore/tags/armory3d" uk-icon="icon: hashtag"></a>
        <a class="uk-button uk-button-default" href="https://instagram.com/armory3d" uk-icon="icon: instagram"></a>
      </div>
      <!-- YouTube -->
      <div>
        <h1 class="uk-inline uk-heading-divider ro-text-header">YouTube</h1><br />
        <a class="uk-button uk-button-default" href="https://youtube.com/hashtag/armory3d" uk-icon="icon: hashtag"></a>
        <a class="uk-button uk-button-default" href="https://youtube.com/c/Armory3d" uk-icon="icon: youtube"></a>
      </div>
      <!-- Artstation -->
      <div>
        <h1 class="uk-inline uk-heading-divider ro-text-header">Artstation</h1><br />
        <a class="uk-button uk-button-default" href="https://artstation.com/search?sort_by=relevance&query=armory3d" uk-icon="icon: hashtag"></a>
      </div>
    </div>
    <br><br><br>
  </div>