  <!-- Main Content -->
  <div class="uk-cover-container cover-container" style="height: 50vh">
    <img src="img/FeaturedCover.jpg" alt="Cover Image" uk-cover>
  </div>
  <div class="uk-section uk-section-secondary uk-text-center">
    <!-- 1 - 3 -->
    <div class="uk-margin-large-top uk-child-width-expand@l uk-grid">
      <!-- Discord -->
      <div>
        <a class="uk-button uk-button-default" href="https://discord.gg/axq6qWV">
          <i class="uk-margin-small-top" uk-icon="icon: discord; ratio: 4"></i><br />
          <h1 class="uk-inline uk-margin-remove-top uk-heading-divider ro-text-header">Discord</h1><br />
        </a>
      </div>
      <!-- Forum -->
      <div>
        <a class="uk-button uk-button-default" href="http://forums.armory3d.org">
          <i class="uk-margin-top uk-margin-small-bottom" uk-icon="icon: discourse; ratio: 2.5"></i><br />
          <h1 class="uk-inline uk-margin-remove-top uk-heading-divider ro-text-header">Forum</h1><br />
        </a>
      </div>
      <!-- Github -->
      <div>
        <a class="uk-button uk-button-default" href="https://github.com/armory3d/armory/discussions">
          <i class="uk-margin-small-top" uk-icon="icon: github; ratio: 4"></i><br />
          <h1 class="uk-inline uk-margin-remove-top uk-heading-divider ro-text-header">Github</h1><br />
        </a>
        <p class="uk-margin-small-top">Or <a href="https://github.com/search?q=armory3d">#hashtag</a></p>
      </div>
    </div>
    <!-- 4 - 5 -->
    <div class="uk-child-width-expand@l" uk-grid>
      <!-- Twitter -->
      <div>
        <a class="uk-button uk-button-default" href="https://twitter.com/armory3d">
          <i class="uk-margin-small-top" uk-icon="icon: twitter; ratio: 4"></i><br />
          <h1 class="uk-inline uk-margin-remove-top uk-heading-divider ro-text-header">Twitter</h1><br />
        </a>
        <p class="uk-margin-small-top">Or <a href="https://twitter.com/hashtag/armory3d">#hashtag</a></p>
      </div>
      <!-- Facebook -->
      <div>
        <a class="uk-button uk-button-default" href="https://facebook.com/armorytools/">
          <i class="uk-margin-small-top" uk-icon="icon: facebook; ratio: 4"></i><br />
          <h1 class="uk-inline uk-margin-remove-top uk-heading-divider ro-text-header">Facebook</h1><br />
        </a>
        <p class="uk-margin-small-top">Or <a href="https://facebook.com/hashtag/armory3d">#hashtag</a></p>
      </div>
    </div>
    <!-- 6 - 9 -->
    <div class="uk-child-width-expand@l" uk-grid>
      <!-- Instagram -->
      <div>
        <a class="uk-button uk-button-default" href="https://instagram.com/armory3d">
          <i class="uk-margin-small-top" uk-icon="icon: instagram; ratio: 4"></i><br />
          <h1 class="uk-inline uk-margin-remove-top uk-heading-divider ro-text-header">Instagram</h1><br />
        </a>
        <p class="uk-margin-small-top">Or <a href="https://instagram.com/explore/tags/armory3d">#hashtag</a></p>
      </div>
      <!-- YouTube -->
      <div>
        <a class="uk-button uk-button-default" href="https://youtube.com/c/Armory3d">
          <i class="uk-margin-small-top" uk-icon="icon: youtube; ratio: 4"></i><br />
          <h1 class="uk-inline uk-margin-remove-top uk-heading-divider ro-text-header">YouTube</h1><br />
        </a>
        <p class="uk-margin-small-top">Or <a href="https://youtube.com/hashtag/armory3d">#hashtag</a></p>
      </div>
      <!-- Artstation -->
      <div>
        <div style="color: white">
          <i class="uk-margin-small-top" uk-icon="icon: artstation; ratio: 3"></i><br />
          <h1 class="uk-inline uk-margin-remove-top uk-margin-remove-bottom uk-heading-divider ro-text-header">Artstation</h1><br />
        </div>
        <p class="uk-margin-small-top"><a href="https://artstation.com/search?sort_by=relevance&query=armory3d">#hashtag</a></p>
      </div>
    </div>
    <!-- 10 - 11 -->
    <div class="uk-margin-large-bottom uk-child-width-expand@l" uk-grid>
      <!-- TikTok -->
      <div>
        <div style="color: white">
          <i class="uk-margin-small-top" uk-icon="icon: tiktok; ratio: 3.5"></i><br />
          <h1 class="uk-inline uk-margin-remove-top uk-margin-remove-bottom uk-heading-divider ro-text-header">TikTok</h1><br />
        </div>
        <p class="uk-margin-small-top"><a href="https://www.tiktok.com/tag/armory3d">#hashtag</a></p>
      </div>
      <!-- Reddit -->
      <div>
        <a class="uk-button uk-button-default" href="https://reddit.com/r/armory3d">
          <i class="uk-margin-small-top" uk-icon="icon: reddit; ratio: 4"></i><br />
          <h1 class="uk-inline uk-margin-remove-top uk-heading-divider ro-text-header">Reddit</h1><br />
        </a>
      </div>
    </div>
  </div>