	<!-- Main Content -->
  <div class="uk-cover-container cover-container">
    <img src="img/FeaturedCover.jpg" alt="Cover Image" uk-cover />
  </div>

  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-flex-last uk-flex-first@l" style="padding: 0">
        <iframe frameborder="0" src="https://itch.io/embed/92423?linkback=true&amp;dark=true" width=100% style="padding-top: 100px"><a href="https://armory.itch.io/armory3d">Armory3D by armory</a></iframe>
      </div>
      <div class="uk-flex-first uk-flex-last@l" style="padding: 0;">
        <div class="uk-margin-left uk-margin-top text-container">
          <h2 class="uk-heading-divider ro-text-header">Get Armored</h2>
          Before proceeding, please read the <a href="https://github.com/armory3d/armory/wiki">manual</a> first to know what parts need more work. The preview version has many rough edges and the experience may be frustrating. Armory is running a <a href="fund">funding campaign</a> to develop it as a fully free and open-source project. Thank you for support!
          <p><a href="notes">Read the release notes</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-flex-last uk-flex-first@l" style="padding: 0">
        <script src="https://gumroad.com/js/gumroad-embed.js"></script>
        <div class="gumroad-product-embed" data-gumroad-product-id="armory" style="text-align: center;">
          <a href="https://gumroad.com/l/armory">Loading...</a>
        </div>
      </div>
      <div class="uk-flex-first uk-flex-last@l" style="padding: 0;">
        <div class="uk-margin-left uk-margin-top text-container">
          <h2 class="uk-heading-divider ro-text-header">Development Fund</h2>
          Armory is developed as a free and open source software, supported by you. Each contribution brings us closer to the ultimate vision - a new way of building games, all in a single Blender package.<br><br>
          Armory is envisioned as a long-term project. With your help, the engine will get developed faster every single day.
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div style="padding: 0">
        <div class="uk-margin-left uk-margin-top text-container">
          <h2 class="uk-heading-divider ro-text-header">Status</h2>
          <ul class="uk-list" style="display: inline-block; text-align: left;">
            <li>&bull; Funding - <span id="spanstatus">...</span></li>
            <li>&bull; Subscribing includes access to <a href="https://armorpaint.org">ArmorPaint</a></li>
            <li>&bull; Thank you for enabling further Armory development</li>
          </ul>
        </div>
      </div>
      <div style="padding: 0">
        <img src="img/Donate.jpg" alt="Donate Image" />
      </div>
    </div>
  </div>

  <script>
    $.get("https://luboslenco.gitlab.io/fund_import/index.html", function(data) {
      data = JSON.parse(data);
      $("#spanstatus").html("€" + data.val + "/m, " + data.subs + " subscribers");
    });
  </script>

  <div class="uk-section uk-section-secondary">
      <div class="uk-align-center">
        <br/><br/><br/><br/>
        <img src="img/UseNodes.jpg" alt="Nodes Image" />
      </div>
  </div>
