    <!-- $main.html -->
    <main class="text-bg-dark">
      <!-- Releases -->
      <div id="releases" class="bg-secondary position-relative row g-0 px-lg-5 border-bottom border-light border-opacity-25">
        <div class="col-lg-6 mb-lg-0 p-lg-4">
          <img class="ratio ratio-21x9 position-relative top-50 start-0 translate-middle-y" src="/img/Platforms.jpg" alt="Armory Releases Example" />
        </div>
        <div class="col-lg-6 p-4 ps-lg-0">
          <a class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#releases">
            <i class="bi bi-link-45deg text-light me-2"></i>Releases
          </a>
          <hr />
          <h2 class="display-6 fw-normal lh-1 mb-3">Get Armored</h2>
          <p class="lead mb-4">
            Before proceeding, please read Armory <a class="fw-bold text-reset" href="https://github.com/armory3d/armory/wiki/setup">installation instructions</a>
            to better understand how to setup Armory for your computer.<br /><br />
            <span class="fw-bold">Note:</span> Windows builds may be more stable then Mac or Linux builds.<br />
          </p>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
            <a class="fw-bold btn btn-danger btn-lg d-flex align-items-center justify-content-center" href="https://armory.itch.io/armory3d">
              <i class="bi bi-download text-white me-2"></i>Download
            </a>
            <a class="fw-bold btn btn-danger btn-lg d-flex align-items-center justify-content-center" href="/notes">
              <i class="bi bi-megaphone text-white me-2"></i>Release Notes
            </a>
          </div>
        </div>
      </div>
      <!-- Contribute -->
      <div id="contribute" class="position-relative text-end row g-0 px-lg-5 border-bottom border-light border-opacity-25">
        <div class="col-lg-6 p-4 ps-lg-0">
          <a class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#contribute">
            <i class="bi bi-link-45deg text-light me-2"></i>Contribute
          </a>
          <hr />
          <h2 class="display-6 fw-normal lh-1 mb-3">Armory Development</h2>
          <p class="lead mb-4">
            Want to contribute to Armory development? Whether your contributions relate to <a class="fw-bold text-reset" href="https://github.com/armory3d/armory">engine</a> development,
            <a class="fw-bold text-reset" href="https://github.com/armory3d/armory/wiki">documentation</a> development,
            <a class="fw-bold text-reset" href="https://github.com/armory3d/armory/wiki/community_tutorials">tutorials</a>,
            <a class="fw-bold text-reset" href="https://github.com/armory3d/armory_web">website</a> development
            or <a class="fw-bold text-reset" href="#donate">financial donations</a>, they are always welcome and appreciated!
          </p>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-end">
            <a class="fw-bold btn btn-danger btn-lg d-flex align-items-center justify-content-center" href="https://github.com/armory3d/armory/wiki/contribute">
              <i class="bi bi-wrench-adjustable text-white me-2"></i>Contribute
            </a>
          </div>
        </div>
        <div class="col-lg-6 mb-lg-0 p-lg-4">
          <img class="ratio ratio-21x9 position-relative top-50 start-0 translate-middle-y" src="/img/Platforms.jpg" alt="Download Example" />
        </div>
      </div>
      <!-- Donate -->
      <div id="donate" class="bg-secondary position-relative px-lg-5 row g-0">
        <div class="col-lg-6 mb-lg-0 p-lg-4">
          <img class="ratio ratio-21x9 position-relative top-50 start-0 translate-middle-y" src="/img/community.jpg" alt="Donate Example" />
        </div>
        <div class="col-lg-6 p-4 pe-lg-0">
          <a class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#donate">
            <i class="bi bi-link-45deg text-light me-2"></i>Donate
          </a>
          <hr />
          <h2 class="display-6 fw-normal lh-1 mb-3">Maintaince Fund</h2>
          <p class="lead mb-4">
            Even though Armory is free and open-source, online maintaince isn't free.
            Domains, sub-domains, as well as SSL certificates for both <a class="fw-bold text-reset" href="/">this</a> website as well as the Armory <a class="fw-bold text-reset" href="https://api.armory3d.org">API</a> website all costs money.
            Consider supporting Armory by contributing donations to help pay for some of those fees.<br />
          </p>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
            <a class="fw-bold btn btn-danger btn-lg align-items-center justify-content-center" href="https://armory.gumroad.com/l/armory">
              <i class="bi bi-gift text-white me-2"></i>Donate
            </a>
          </div>
        </div>
      </div>
    </main>