<!-- $main.html -->
<main class="text-bg-secondary">
	<div id="accordionMain" class="accordion container p-3 p-lg-5">
		<!-- FAQ 1 -->
		<div class="text-bg-dark accordion-item border border-light" style="--bs-border-opacity: 0.1875;">
			<h2 id="armory-status-title" class="accordion-header">
				<button class="accordion-button d-flex collapsed" onclick="faqToggle(this);" type="button"
					data-bs-toggle="collapse" data-bs-target="#armory-status-body" aria-expanded="false"
					aria-controls="armory-status-body">
					<i class="bi bi-plus-circle text-light me-3"></i>
					<span class="w-100">Q1 - What is Armory3D's current development status</span>
				</button>
			</h2>
			<div id="armory-status-body" class="accordion-collapse collapse" aria-labelledby="armory-status-title"
				data-bs-parent="#accordionMain">
				<div class="fs-6 bg-secondary lead-dark accordion-body">
					It's quite quite active with <a class="fw-semibold text-reset btn-link" href="/notes">monthly
						releases</a>!
				</div>
			</div>
		</div>
		<!-- FAQ 2 -->
		<div class="text-bg-dark accordion-item border border-light" style="--bs-border-opacity: 0.1875;">
			<h2 id="how-to-contribute-title" class="accordion-header">
				<button class="accordion-button d-flex collapsed" onclick="faqToggle(this);" type="button"
					data-bs-toggle="collapse" data-bs-target="#how-to-contribute-body" aria-expanded="false"
					aria-controls="how-to-contribute-body">
					<i class="bi bi-plus-circle text-light me-3"></i>
					<span class="w-100">Q2 - How can I contribute to Armory3D development</span>
				</button>
			</h2>
			<div id="how-to-contribute-body" class="accordion-collapse collapse"
				aria-labelledby="how-to-contribute-title" data-bs-parent="#accordionMain">
				<div class="fs-6 bg-light lead-dark accordion-body">
					See <a class="fw-semibold text-reset btn-link" href="/download#contribute">here</a> on ways you can
					contribute to Armory3D. Thank you for helping Armory3D grow!
				</div>
			</div>
		</div>
		<!-- FAQ 3 -->
		<div class="text-bg-dark accordion-item border border-light" style="--bs-border-opacity: 0.1875;">
			<h2 id="commercial-use-title" class="accordion-header">
				<button class="accordion-button d-flex collapsed" onclick="faqToggle(this);" type="button"
					data-bs-toggle="collapse" data-bs-target="#commercial-use-body" aria-expanded="false"
					aria-controls="commercial-use-body">
					<i class="bi bi-plus-circle text-light me-3"></i>
					<span class="w-100">Q3 - Can I sell my game commercially</span>
				</button>
			</h2>
			<div id="commercial-use-body" class="accordion-collapse collapse" aria-labelledby="commercial-use-title"
				data-bs-parent="#accordionMain">
				<div class="fs-6 bg-light lead-dark accordion-body">
					Absolutely! The Armory3D Engine is licensed under <a class="fw-semibold text-reset btn-link"
						href="https://github.com/armory3d/armory/blob/main/LICENSE.md#the-zliblibpng-license">zlib/libpng</a>,
					which entitles you to sell your own game commercially if you wish to.<br /><br />
					<span class="fw-bold text-light">Note:</span> Please be aware that the Armory3D add-on itself
					however, is licensed
					under its own licensing - Blender <a class="fw-semibold text-reset btn-link"
						href="https://github.com/armory3d/armory/blob/main/blender/arm/LICENSE.md">GPL</a> licensing.
				</div>
			</div>
		</div>
		<!-- FAQ 4 -->
		<div class="text-bg-dark accordion-item border border-light" style="--bs-border-opacity: 0.1875;">
			<h2 id="bug-reporting-title" class="accordion-header">
				<button class="accordion-button d-flex collapsed" onclick="faqToggle(this);" type="button"
					data-bs-toggle="collapse" data-bs-target="#bug-reporting-body" aria-expanded="false"
					aria-controls="bug-reporting-body">
					<i class="bi bi-plus-circle text-light me-3"></i>
					<span class="w-100">Q4 - I have a bug and cannot run my game due to errors.</span>
				</button>
			</h2>
			<div id="bug-reporting-body" class="accordion-collapse collapse" aria-labelledby="bug-reporting-title"
				data-bs-parent="#accordionMain">
				<div class="fs-6 bg-light lead-dark accordion-body">
					Please follow basic troubleshooting steps from <a class="fw-semibold text-reset btn-link"
						href="https://github.com/armory3d/armory/wiki/troubleshooting">here</a>. If error(s) still
					persist, please open an
					<a class="fw-semibold text-reset btn-link"
						href="https://github.com/armory3d/armory/issues">ticket</a>
					or ask for help at any of the Armory3D <a class="fw-semibold text-reset btn-link"
						href="/community">community</a>
					platforms.
				</div>
			</div>
		</div>
		<!-- FAQ 5 -->
		<div class="text-bg-dark accordion-item border border-light" style="--bs-border-opacity: 0.1875;">
			<h2 id="logic-node-references-title" class="accordion-header">
				<button class="accordion-button d-flex collapsed" onclick="faqToggle(this);" type="button"
					data-bs-toggle="collapse" data-bs-target="#logic-node-references-body" aria-expanded="false"
					aria-controls="logic-node-references-body">
					<i class="bi bi-plus-circle text-light me-3"></i>
					<span class="w-100">Q5 - Where can I found information describing what a certain logic node
						does</span>
				</button>
			</h2>
			<div id="logic-node-references-body" class="accordion-collapse collapse"
				aria-labelledby="logic-node-references-title" data-bs-parent="#accordionMain">
				<div class="fs-6 bg-light lead-dark accordion-body">
					The Armory3D manual has a full list of
					<a class="fw-semibold text-reset btn-link"
						href="https://github.com/armory3d/armory/wiki/reference">logic
						node references</a>. The references contain detailed descriptions of what each logic node is
					capable of and what features it comprises of.
				</div>
			</div>
		</div>
		<!-- FAQ 6 -->
		<div class="text-bg-dark accordion-item border border-light" style="--bs-border-opacity: 0.1875;">
			<h2 id="armory-vs-upbge-title" class="accordion-header">
				<button class="accordion-button d-flex collapsed" onclick="faqToggle(this);" type="button"
					data-bs-toggle="collapse" data-bs-target="#armory-vs-upbge-body" aria-expanded="false"
					aria-controls="armory-vs-upbge-body">
					<i class="bi bi-plus-circle text-light me-3"></i>
					<span class="w-100">Q6 - How good is Armory3D compared to UPBGE</span>
				</button>
			</h2>
			<div id="armory-vs-upbge-body" class="accordion-collapse collapse" aria-labelledby="armory-vs-upbge-title"
				data-bs-parent="#accordionMain">
				<div class="fs-6 bg-light lead-dark accordion-body">
					To avoid bias, you"ll need to conclude that on your own. Here is a <a
						class="fw-semibold text-reset btn-link"
						href="https://github.com/rpaladin/armory3d-vs-upbge#readme">list</a>
					of pros and cons of both game-engines that is maintained by the community.
					Feel free to open a <a class="fw-semibold text-reset btn-link"
						href="https://github.com/rpaladin/armory3d-vs-upbge/pulls">pull request</a>
					if you feel additional information could be added to the list.
				</div>
			</div>
		</div>
	</div>
</main>
<script>
	// jshint esversion: 6
	function faqToggle(e) {
		const eButtons = document.getElementsByTagName("button");

		// Reset uncollapsed
		Array.from(eButtons).forEach(eButton => eButton.children[0].classList.contains("bi-dash-circle") ? eButton.children[0].classList.replace("bi-dash-circle", "bi-plus-circle") : {});

		// Collapse active
		e.children[0].classList.replace(...!e.classList.contains("collapsed") ? ["bi-plus-circle", "bi-dash-circle"] : ["bi-dash-circle", "bi-plus-circle"]);
	};
</script>