    <!-- $main.html -->
    <div class="text-bg-dark">
      <!-- Blender Integration -->
      <div id="blender-integration" class="bg-secondary position-relative row g-0 px-lg-5 border-bottom border-light border-opacity-25">
        <div class="col-lg-6 mb-lg-0 p-lg-4">
          <img class="ratio ratio-21x9" src="/img/ArmoryInterface.png" alt="Armory Interface Example" />
        </div>
        <div class="col-lg-6 p-4 ps-lg-0">
          <a class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#blender-integration">
            <i class="bi bi-link-45deg text-light me-2"></i>Blender Integration
          </a>
          <hr />
          <p class="lead mb-3">
            Armory is directly integrated into Blender as an add-on, so there is no need to leave your favorite 3D software to create awesome games.
            You can use the workflows you are used to without having to constantly switch between different programs.
          </p>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
            <a class="fw-bold btn btn-danger btn-lg align-items-center justify-content-center" href="https://blender.org">
              <i class="bi bi-link-45deg text-white me-2"></i>Blender
            </a>
          </div>
        </div>
      </div>
      <!-- Render Path -->
      <div id="render-path" class="position-relative row g-0 px-lg-5 border-bottom border-light border-opacity-25">
        <div class="text-end col-lg-8 p-4 ms-auto pe-lg-0">
          <a class="d-block display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#render-path">
            <i class="bi bi-link-45deg text-light me-2"></i>Render Path
          </a>
          <hr />
          <p class="lead mb-3">
            Armory's render path is designed to work with Blender's material nodes.
            You can create beautiful materials with ease and choose from a broad range of post-processing effects.
            Projects can configure multiple render paths so that the optimal one can be selected for the target platform and hardware.
            If you need more fine-grained control, you can code your own shaders and even create your own render path from scratch!
          </p>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-end">
            <a class="fw-bold btn btn-danger btn-lg align-items-center justify-content-center" href="https://github.com/armory3d/armory/wiki/screen-effects">
              <i class="bi bi-card-image text-white me-2"></i>Post-Process
            </a>
            <a class="fw-bold btn btn-danger btn-lg align-items-center justify-content-center" href="https://github.com/armory3d/armory/wiki/materials">
              <i class="bi bi-palette text-white me-2"></i>Materials
            </a>
          </div>
        </div>
        <div class="col-lg-4 mb-lg-0 p-lg-4">
          <img class="ratio ratio-21x9" src="/img/SSRSearch.gif" alt="Screen-Spaced Reflections Comparisons Example" />
          <img class="ratio ratio-21x9" src="/img/pic.jpg" alt="Celshader Driver Example" />
        </div>
      </div>
      <!-- Scripting -->
      <div id="scripting" class="bg-secondary position-relative row g-0 px-lg-5 border-bottom border-light border-opacity-25">
        <div class="col-lg-6 mb-lg-0 p-lg-4">
          <img class="ratio ratio-21x9" src="/img/9.jpg" alt="Logic Node Editor Example" />
        </div>
        <div class="col-lg-6 p-4 ps-lg-0">
          <a class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#scripting">
            <i class="bi bi-link-45deg text-light me-2"></i>Scripting
          </a>
          <hr />
          <p class="lead mb-3">
            For creating the interactive behavior of your game, you can decide between writing <a class="fw-bold text-reset" href="https://haxe.org">Haxe</a> code or using visual scripting in the form of logic nodes.
            Logic nodes are easy to learn and provide you with a great variety of functionality.
            Creating your own logic nodes to encapsulate specific functionality is very straightforward.
          </p>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
            <a class="fw-bold btn btn-danger btn-lg align-items-center justify-content-center" href="https://github.com/armory3d/armory/wiki/Introduction-to-Logic-Nodes">
              <i class="bi bi-code text-white me-2"></i>Logic Nodes
            </a>
          </div>
        </div>
      </div>
      <!-- User Interface -->
      <div id="user-interface" class="text-end position-relative row g-0 px-lg-5 border-bottom border-light border-opacity-25">
        <div class="col-lg-6 p-4 pe-lg-0">
          <a class="d-block display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#user-interface">
            <i class="bi bi-link-45deg text-light me-2"></i>User Interface
          </a>
          <hr />
          <p class="lead mb-3">
            Armory comes with its own UI library and a corresponding WYSIWYG editor, making it easy to add user interfaces to your game.
          </p>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-end">
            <a class="fw-bold btn btn-danger btn-lg align-items-center justify-content-center" href="https://github.com/armory3d/armory2d">
              <i class="bi bi-justify-right text-white me-2"></i>2D Editor
            </a>
          </div>
        </div>
        <div class="col-lg-6 mb-lg-0 p-lg-4">
          <img class="ratio ratio-21x9" src="/img/img.jpg" alt="2D / UI Editor Example" />
        </div>
      </div>
      <!-- Cross-Platform -->
      <div id="cross-platform" class="bg-secondary position-relative row g-0 px-lg-5 border-bottom border-light border-opacity-25">
        <div class="col-lg-4 mb-lg-0 p-lg-4">
          <img class="ratio ratio-21x9" src="/img/13.jpg" alt="Armory Exporter Example" />
        </div>
        <div class="col-lg-8 me-auto p-4 ps-lg-0">
          <a class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#cross-platform">
            <i class="bi bi-link-45deg text-light me-2"></i>Cross-Platform
          </a>
          <hr />
          <p class="lead mb-3">
            Thanks to the underlying <a class="fw-bold text-reset" href="http://kha.tech">Kha</a> framework, Armory runs almost everywhere!
            Whether you want to target desktop computers, browsers, mobile phones or consoles, Armory can export your game to those platforms.
            By the way, you can try out the Armory examples and templates directly in your browser: <a class="fw-bold text-reset" href="https://armory3d.github.io/armory_examples_browser/">Armory Examples Browser</a>.
          </p>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
            <a class="fw-bold btn btn-danger btn-lg align-items-center justify-content-center" href="https://github.com/Kode/Kha/blob/main/readme.md#supported-platforms">
              <i class="bi bi-laptop text-white me-2"></i>Supported Platforms
            </a>
          </div>
        </div>
      </div>
      <!-- Physics -->
      <div id="physics" class="text-start position-relative row g-0 px-lg-5 border-bottom border-light border-opacity-25">
        <div class="col-lg-6 p-4 pe-lg-0">
          <a class="text-end d-block display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#physics">
            <i class="bi bi-link-45deg text-light me-2"></i>Physics
          </a>
          <hr />
          <p class="lead text-end mb-3">
            Armory makes use of the Bullet physics engine to simulate all kinds of dynamic movements.
            It can also be configured to use the Oimo physics engine instead.
          </p>
          <h4>Notable Features:</h4>
          <ul class="lead mb-3">
            <li>Rigid body simulation</li>
            <li>Soft body simulation</li>
            <li>Ragdoll simulation</li>
            <li>Ray casting</li>
            <li>Collision groups</li>
            <li>Simulation of breaking / fractured meshes</li>
          </ul>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
            <a class="fw-bold btn btn-danger btn-lg align-items-center justify-content-center" href="https://github.com/armory3d/armory/wiki/physics">
              <i class="bi bi-wind text-white me-2"></i>Physics
            </a>
          </div>
        </div>
        <div class="col-lg-6 mb-lg-0 p-lg-4">
          <img class="ratio ratio-21x9" src="/img/Ragdoll.webp" alt="Physics Example" />
        </div>
      </div>
      <!-- Navigation -->
      <div id="navigation" class="bg-secondary position-relative row g-0 px-lg-5 border-bottom border-light border-opacity-25">
        <div class="col-lg-5 mb-lg-0 p-lg-4">
          <img class="ratio ratio-21x9" src="/img/Navmesh.webp" alt="Navmesh Example" />
        </div>
        <div class="col-lg-7 p-4 ps-lg-0">
          <a class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#navigation">
            <i class="bi bi-link-45deg text-light me-2"></i>Navigation
          </a>
          <hr />
          <p class="lead mb-3">
            Add realistic NPC behavior to your game by letting actors move on navigation meshes.
            Armory uses the Recast navigation system but can be configured to use any other navigation engine.
          </p>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
            <a class="fw-bold btn btn-danger btn-lg align-items-center justify-content-center" href="https://github.com/armory3d/armory/wiki/navmesh">
              <i class="bi bi-bounding-box text-white me-2"></i>Navmesh
            </a>
          </div>
        </div>
      </div>
      <!-- Particles -->
      <div id="particles" class="text-end position-relative row g-0 px-lg-5 border-bottom border-light border-opacity-25">
        <div class="col-lg-6 ms-auto p-4 pe-lg-0">
          <a class="d-block display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#particles">
            <i class="bi bi-link-45deg text-light me-2"></i>Particles
          </a>
          <hr />
          <p class="lead mb-3">
            Armory supports both emitter and hair particle systems that can be used to create stunning visual effects or grassy landscapes for example.
            Internally, GPU instancing is used to achieve the best possible performance.
          </p>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-end">
            <a class="fw-bold btn btn-danger btn-lg align-items-center justify-content-center" href="https://github.com/armory3d/armory/wiki/supported_particles">
              <i class="bi bi-fire text-white me-2"></i>Supported Particles
            </a>
          </div>
        </div>
        <div class="col-lg-6 mb-lg-0 p-lg-4">
          <div class="row">
            <img class="ratio ratio-21x9 col pe-0" src="/img/Particles.webp" alt="Particles Example" />
            <img class="ratio ratio-21x9 col ps-0" src="/img/Fire.webp" alt="Fire Example" />
          </div>
          <div class="row">
            <img class="ratio ratio-21x99 col pe-0" src="/img/Asteroids.webp" alt="Asteroids Example" />
            <img class="ratio ratio-21x99 col ps-0" src="/img/Hair.png" alt="Hair Example" />
          </div>
        </div>
      </div>
      <!-- Animation -->
      <div id="animation" class="bg-secondary position-relative row g-0 px-lg-5 border-bottom border-light border-opacity-25">
        <div class="col-lg-3 mb-lg-0 p-lg-4">
          <img class="ratio ratio-21x9" src="/img/Animations.webp" alt="Animations Example" />
          <img class="ratio ratio-21x9" src="/img/Tilesheet.png" alt="Tilesheet Example" />
        </div>
        <div class="col-lg-9 me-auto p-4 ps-lg-0">
          <a class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#animation">
            <i class="bi bi-link-45deg text-light me-2"></i>Animation
          </a>
          <hr />
          <ul class="lead mb-3">
            <li>GPU skinning</li>
            <li>Keyframes</li>
            <li>Shape keys</li>
            <li>Tilesheets</li>
          </ul>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
            <a class="fw-bold btn btn-danger btn-lg align-items-center justify-content-center" href="https://github.com/armory3d/armory/wiki/Shape-Keys">
              <i class="bi bi-fast-forward text-white me-2"></i>Shape keys
            </a>
          </div>
        </div>
      </div>
      <!-- Lighting -->
      <div id="lighting" class="text-start position-relative row g-0 px-lg-5 border-bottom border-light border-opacity-25">
        <div class="col-lg-8 p-4 pe-lg-0">
          <a class="d-block display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#lighting">
            <i class="bi bi-link-45deg text-light me-2"></i>Lighting
          </a>
          <hr />
          <ul class="lead mb-3">
            <li>Lightmapping</li>
            <li>Area lights using LTC (linearly transformed cosines)</li>
            <li>Reflection probes</li>
            <li>IES textures</li>
          </ul>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
            <a class="fw-bold btn btn-danger btn-lg align-items-center justify-content-center" href="https://github.com/armory3d/armory/wiki/global_illumination">
              <i class="bi bi-sun text-white me-2"></i>Lighting
            </a>
          </div>
        </div>
        <div class="col-lg-4 mb-lg-0 p-lg-4">
          <img class="ratio ratio-21x9" src="/img/2021-09-b.gif" alt="IES Lights Example" />
          <img class="ratio ratio-21x9" src="/img/ArmoryIESLights.png" alt="IES Lights" />
        </div>
      </div>
      <!-- Free & Open-Source -->
      <div id="armory-statement" class="bg-secondary position-relative row g-0 px-lg-5 border-light border-opacity-25">
        <div class="col-lg-3 mb-lg-0 p-lg-4">
          <img class="ratio ratio-21x9 position-relative top-50 start-50 translate-middle" src="/img/Logo.png" alt="Armory Software Example"/>
        </div>
        <div class="col-lg-9 me-auto p-4 ps-lg-0">
          <a class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" href="#armory-statement">
            <i class="bi bi-link-45deg text-light me-2"></i>Free & Open-Source
          </a>
          <hr />
          <p class="lead mb-3">
            Armory is completely free and its source code is available on <a class="fw-bold text-reset" href="https://github.com/armory3d/armory">Github</a>.
            Do want to change something specific to your game in the engine?
            It couldn't be more easy.
            You don't know how exactly something works and the documentation is unclear?
            You can easily look it up!
            Armory uses a <a class="fw-bold text-reset" href="https://github.com/armory3d/armory/blob/main/LICENSE.md#the-zliblibpng-license">permissive license</a>; and compared to another well-known Blender game engine, your games aren't restricted by Blender's <a class="fw-bold text-reset" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL license</a>.
          </p>
          <div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
            <a class="fw-bold btn btn-danger btn-lg align-items-center justify-content-center" href="https://github.com/armory3d/armory/wiki">
              <i class="bi bi-book text-white me-2"></i>Start Learning
            </a>
          </div>
        </div>
      </div>
    </div>