  <!-- Main Content -->
  <!-- Blender Integration -->
  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-margin-medium-right uk-margin-medium-left uk-flex-last uk-flex-first@l" style="padding: 0">
        <img src="https://cdn.discordapp.com/attachments/983073364144963654/983423470429958174/ArmoryInterface.png" alt="Armory Interface Example" />
      </div>
      <div class="uk-flex-first uk-flex-last@l" style="padding: 0">
        <div class="uk-margin-top uk-margin-bottom uk-margin-right uk-margin-left text-container">
          <h2 class="uk-heading-divider ro-text-header">Blender Integration</h2>
          Armory is directly integrated into Blender as an add-on, so there is no need to leave your favorite 3D software to create awesome games.
          You can use the workflows you are used to without having to constantly switch between different programs.
        </div>
      </div>
    </div>
  </div>
  <!-- Render Path -->
  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div style="padding: 0">
        <div class="uk-margin-top uk-margin-bottom uk-margin-right uk-margin-left text-container">
          <h2 class="uk-heading-divider ro-text-header">Render Path</h2>
          Armory's render path is designed to work with Blender's material nodes.
          You can create beautiful materials with ease and choose from a broad range of post-processing effects.
          Projects can configure multiple render paths so that the optimal one can be selected for the target plaform and hardware.
          If you need more fine-grained control, you can code your own shaders and even create your own render path from scratch!<br /><br />
          <a class="uk-button uk-button-default" href="https://github.com/armory3d/armory/wiki/materials">materials</a>
          <a class="uk-button uk-button-default" href="https://github.com/armory3d/armory/wiki/screen-effects">post-process</a>
        </div>
      </div>
      <div class="uk-margin-medium-right uk-margin-medium-left" style="padding: 0">
        <img src="https://github.com/armory3d/armory_wiki_images/raw/master/graphics/se/SSRSearch.gif" alt="Screen-Spaced Reflections Comparisions Example" />
        <img src="https://github.com/armory3d/driver_celshade_example/raw/master/pic.jpg" alt="Celshader Driver Example" />
      </div>
    </div>
  </div>
  <!-- Scripting -->
  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-margin-medium-right uk-margin-medium-left uk-flex-last uk-flex-first@l" style="padding: 0">
        <img src="https://github.com/armory3d/armory_wiki_images/raw/master/getting_started/tanks/9.jpg" alt="Logic Node Editor Example" />
      </div>
      <div class="uk-flex-first uk-flex-last@l" style="padding: 0">
        <div class="uk-margin-top uk-margin-bottom uk-margin-right uk-margin-left text-container">
          <h2 class="uk-heading-divider ro-text-header">Scripting</h2>
          For creating the interactive behaviour of your game, you can decide between writing <a href="https://haxe.org">Haxe</a> code or using visual scripting in the form of logic nodes.
          Logic nodes are easy to learn and provide you with a great variety of functionality.
          Creating your own logic nodes to encapsulate specific functionality is very straightforward.<br /><br />
          <a class="uk-button uk-button-default" href="https://github.com/armory3d/armory/wiki/Introduction-to-Logic-Nodes">logic nodes</a>
        </div>
      </div>
    </div>
  </div>
  <!-- User Interface -->
  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div style="padding: 0">
        <div class="uk-margin-top uk-margin-bottom uk-margin-right uk-margin-left text-container">
          <h2 class="uk-heading-divider ro-text-header">User Interface</h2>
          Armory comes with its own UI library and a corresponding WYSIWYG editor, making it easy to add user interfaces to your game.<br /><br />
          <a class="uk-button uk-button-default" href="https://github.com/armory3d/armory2d">2d editor</a>
        </div>
      </div>
      <div class="uk-margin-medium-right uk-margin-medium-left" style="padding: 0">
        <img src="https://github.com/armory3d/armory2d/raw/master/img.jpg" alt="2D / UI Editor Example" />
      </div>
    </div>
  </div>
  <!-- Cross-Platform Support -->
  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-margin-medium-right uk-margin-medium-left uk-flex-last uk-flex-first@l" style="padding: 0">
        <img class="uk-position-relative uk-position-center" src="https://github.com/armory3d/armory_wiki_images/raw/master/getting_started/playground/13.jpg" alt="Armory Exporter Example" />
      </div>
      <div class="uk-flex-first uk-flex-last@l" style="padding: 0">
        <div class="uk-margin-top uk-margin-bottom uk-margin-right uk-margin-left text-container">
          <h2 class="uk-heading-divider ro-text-header">Cross-Platform Support</h2>
          Thanks to the underlying <a href="http://kha.tech">Kha</a> framework, Armory runs almost everywhere!
          Whether you want to target desktop computers, browsers, mobile phones or consoles, Armory can export your game to those platforms.
          By the way, you can try out the Armory examples and templates directly in your browser: <a href="https://armory3d.github.io/armory_examples_browser/">Armory Examples Browser</a>.
        </div>
      </div>
    </div>
  </div>
  <!-- Physics -->
  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div style="padding: 0">
        <div class="uk-margin-top uk-margin-bottom uk-margin-right uk-margin-left text-container">
          <h2 class="uk-heading-divider ro-text-header">Physics</h2>
          Armory makes use of the Bullet physics engine to simulate all kinds of dynamic movements.
          It can also be configured to use the Oimo physics engine instead.
          <h4>Notable features:</h4>
          <ul>
            <li>Rigid body simulation</li>
            <li>Soft body simulation</li>
            <li>Ragdoll simulation</li>
            <li>Ray casting</li>
            <li>Collision groups</li>
            <li>Simulation of breaking / fractured meshes</li>
          </ul>
          <a class="uk-button uk-button-default" href="https://github.com/armory3d/armory/wiki/physics">physics</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Navigation -->
  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-margin-top uk-margin-bottom uk-margin-right uk-margin-left text-container">
        <h2 class="uk-heading-divider ro-text-header">Navigation</h2>
        Add believable NPC behaviour to your game by letting actors move on navigation meshes.
        Armory uses the Recast navigation system but can be configured to use any other navigation engine.<br /><br />
        <a class="uk-button uk-button-default" href="https://github.com/armory3d/armory/wiki/navmesh">navmesh</a>
      </div>
    </div>
  </div>
  <!-- Particles -->
  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div style="padding: 0">
        <div class="uk-margin-top uk-margin-bottom uk-margin-right uk-margin-left text-container">
          <h2 class="uk-heading-divider ro-text-header">Particles</h2>
          Armory supports both emitter and hair particle systems that can be used to create stunning visual effects or grassy landscapes for example.
          Internally, GPU instancing is used to achieve the best possible performance.
        </div>
      </div>
    </div>
  </div>
  <!-- Animation -->
  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-margin-top uk-margin-bottom uk-margin-right uk-margin-left text-container">
        <h2 class="uk-heading-divider ro-text-header">Animation</h2>
        <ul>
          <li>Keyframes</li>
          <li>Armatures using GPU skinning (is that true?)</li>
          <li>Shape Keys</li>
          <li>Tilesheets</li>
        </ul>
      </div>
      <div class="uk-margin-medium-right uk-margin-medium-left" style="padding: 0">
        <img src="img/Demo.jpg" alt="Animations Example" />
      </div>
    </div>
  </div>
  <!-- Lighting -->
  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-margin-medium-right uk-margin-medium-left uk-flex-last uk-flex-first@l" style="padding: 0">
        <img src="https://cdn.discordapp.com/attachments/983073364144963654/983423470882939030/ArmoryIESLights.png" alt="IES Lights Example" />
      </div>
      <div style="padding: 0">
        <div class="uk-margin-top uk-margin-bottom uk-margin-right uk-margin-left text-container">
          <h2 class="uk-heading-divider ro-text-header">Lighting</h2>
          <ul>
            <li>Light Mapping</li>
            <li>Area Lights using Linearly Transformed Cosines (LTC)</li>
            <li>Reflection Probes</li>
            <li>IES textures</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Free and Open-Source -->
  <div class="uk-section uk-section-secondary">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-margin-top uk-margin-bottom uk-margin-right uk-margin-left text-container">
        <h2 class="uk-heading-divider ro-text-header">Free and Open-Source</h2>
        Armory is completely free and its source code is available on <a href="https://github.com/armory3d/armory">Github</a>.
        You need to change something specific to your game in the engine?
        It couldn't be more easy.
        You don't know how exactly something works and the documentation is unclear?
        You can easily look it up!
        Armory uses a <a href="https://github.com/armory3d/armory/blob/master/LICENSE.md">permissive license</a> and compared to another well-known Blender game engine your games aren't restricted by the GNU GPL license.
      </div>
      <div style="padding: 0">
        <img class="uk-position-relative uk-position-center" src="img/Logo.png" alt="Screen-Spaced Reflections Comparisions Example" />
      </div>
    </div>
  </div>