  <!-- Footer Content -->
  <div class="ro-background-darksecondary">
    <br><br>
    <div class="uk-container uk-container-small">
      <div class="uk-child-width-expand" uk-grid>
        <div class="uk-text-left">
          <br><span class="ro-logocolor">Development</span>
          <br><a style="color: #666" href="https://github.com/armory3d/armory">GitHub</a>
          <br><a style="color: #666" href="https://github.com/armory3d/armory/issues">Tracker</a>
          <br><a style="color: #666" href="https://github.com/armory3d/armory/projects">Roadmap</a>
          <br><a style="color: #666" href="https://github.com/armory3d/armory/wiki/contribute">Contribute</a>
        </div>
        <div class="uk-text-center">
          <br><span class="ro-logocolor">Special Thanks</span>
          <br><a style="color: #666" href="http://kode.tech">Kode</a>
          <br><a style="color: #666" href="https://blender.org">Blender 3D</a>
          <br><a style="color: #666" href="https://github.com/armory3d/armory/graphs/contributors">Contributors</a>
        </div>
        <div class="uk-text-right">
          <br><span class="ro-logocolor">Contact</span>
          <br><a>
          <script>
            var user_name = "lubos";
            var host_name = "armory3d.org";
            document.write("<a href='" + "mail" + "to:" + user_name + "@" + host_name + "' style='color: #666'>Email</a>");
          </script>
          </a>
          <br><a style="color: #666" href="community">Community</a>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
  <!-- JS UIkit -->
  <script src="js/uikit.min.js"></script>
  <script src="js/uikit-icons.min.js"></script>
</body>
</html>