    <!-- footer.html -->
    <footer class="text-bg-dark" style="padding-bottom: 50vh;">
      <div class="container pt-3 pt-lg-5">
        <div class="row">
          <div class="col-6 col-lg-2 mb-3 px-lg-0">
            <h1 class="fs-6">DEVELOPMENT</h1>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a class="nav-link p-0 link-secondary" href="/notes">Release Notes</a></li>
              <li class="nav-item mb-2"><a class="nav-link p-0 link-secondary" href="https://github.com/armory3d/armory">GitHub</a></li>
              <li class="nav-item mb-2"><a class="nav-link p-0 link-secondary" href="https://github.com/armory3d/armory/issues">Tracker</a></li>
              <li class="nav-item mb-2"><a class="nav-link p-0 link-secondary" href="https://github.com/armory3d/armory/wiki/contribute">Contribute</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3 px-lg-0">
            <h1 class="fs-6">CREDITS</h1>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a class="nav-link p-0 link-secondary" href="http://kode.tech">Kode</a></li>
              <li class="nav-item mb-2"><a class="nav-link p-0 link-secondary" href="https://blender.org">Blender</a></li>
              <li class="nav-item mb-2"><a class="nav-link p-0 link-secondary" href="https://github.com/armory3d/armory/graphs/contributors">Contributors</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3 px-lg-0">
            <h1 class="fs-6">CONTACT</h1>
            <ul class="nav flex-column">
              <script>
                var user_name = "lubos";
                var host_name = "armory3d.org";
                document.write("<li class='nav-item mb-2'><a class='nav-link p-0 link-secondary' href='" + "mail" + "to:" + user_name + "@" + host_name + "'>Email</a></li>");
              </script>
            </ul>
          </div>
          <!-- ScrollToTop -->
          <div class="text-end col-lg-5 offset-lg-1 mb-3 px-lg-0">
            <button class="btn btn-outline-light" type="button" onclick="scrollToTop(this);" data-bs-toggle="collapse" data-bs-target="#formDocs" aria-expanded="false">
              Back to Top<i class="bi bi-chevron-double-up text-light ms-2"></i>
            </button>
          </div>
        </div>
      </div>
      <hr class="container mt-0" />
      <div class="container d-flex flex-column flex-sm-row justify-content-between py-2 px-lg-0">
        <div class="row-8 row-lg-3 mb-3 px-0">
          <h1 class="fs-6 text-light">&copy; 2022 Lubos Lenco & contributors</h1>
          <ul class="nav me-auto">
            <li class="nav-item me-2"><a class="nav-link p-0 link-secondary" href="https://github.com/armory3d/armory/blob/main/LICENSE.md#the-zliblibpng-license">Armory License</a></li>
            <li class="text-muted nav-item me-2">|</li>
            <li class="nav-item me-2"><a class="nav-link p-0 link-secondary" href="https://github.com/armory3d/armory/blob/main/blender/arm/LICENSE.md">Blender License</a></li>
            <li class="text-muted nav-item me-2">|</li>
            <li class="nav-item me-2"><a class="nav-link p-0 link-secondary" href="/privacy">Armory Privacy Policy</a></li>
            <li class="text-muted nav-item me-2">|</li>
            <li class="nav-item"><a class="nav-link p-0 link-secondary" href="https://www.blender.org/privacy-policy">Blender Privacy Policy</a></li>
          </ul>
        </div>
        <ul class="list-unstyled d-flex">
          <!-- Discord -->
          <li class="ms-1">
            <a href="#">
              <i class="bi bi-discord text-light" style="font-size: 1.5rem;"></i>
            </a>
          </li>
          <!-- Discourse -->
          <li class="ms-1">
            <a href="#">
              <svg class="text-light" style="padding-top: 0.25rem; width: 24px;" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32px" height="32px">
                <path d="M 16.109375 3 C 8.994375 3 3 8.7164375 3 15.773438 C 3 15.999438 3.0058594 29 3.0058594 29 L 16.109375 28.988281 C 23.230375 28.988281 29 23.051141 29 15.994141 C 29 8.9371406 23.230375 3 16.109375 3 z M 16 8 C 20.418 8 24 11.582 24 16 C 24 20.418 20.418 24 16 24 C 14.58 24 13.247797 23.625563 12.091797 22.976562 L 8 24 L 9.1210938 20.070312 C 8.4130937 18.877312 8 17.489 8 16 C 8 11.582 11.582 8 16 8 z"/>
              </svg>
            </a>
          </li>
          <!-- Github -->
          <li style="margin-left: 0.125rem;">
            <a href="#">
              <i class="bi bi-github text-light" style="font-size: 1.5rem;"></i>
            </a>
          </li>
          <!-- Twitter -->
          <li class="ms-1">
            <a href="#">
              <i class="bi bi-twitter text-light" style="font-size: 1.5rem;"></i>
            </a>
          </li>
          <!-- Instagram -->
          <li class="ms-1">
            <a href="#">
              <i class="bi bi-instagram text-light" style="font-size: 1.5rem;"></i>
            </a>
          </li>
          <!-- Facebook -->
          <li class="ms-1">
            <a href="#">
              <i class="bi bi-facebook text-light" style="font-size: 1.5rem;"></i>
            </a>
          </li>
          <!-- Reddit -->
          <li class="ms-1">
            <a href="#">
              <i class="bi bi-reddit text-light" style="font-size: 1.5rem;"></i>
            </a>
          </li>
          <!-- YouTube -->
          <li class="ms-1">
            <a href="#">
              <i class="bi bi-youtube text-light" style="font-size: 1.5rem;"></i>
            </a>
          </li>
          <!-- Artstation -->
          <li>
            <a href="#">
              <svg class="text-light" style="padding-top: 0.25rem; width: 24px;" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32px" height="32px">
                <path d="M 13.730469 5 L 26 27 L 27.994141 22.488281 C 28.457141 21.562281 28.410094 20.463078 27.871094 19.580078 L 20.095703 6.4355469 C 19.550703 5.5445469 18.580156 5 17.535156 5 L 13.730469 5 z M 11.511719 7.1777344 L 5.6308594 18 L 17.546875 18 L 11.511719 7.1777344 z M 4 21 L 6.171875 25.341797 C 6.679875 26.357797 7.7175156 27 8.8535156 27 L 22.566406 27 L 19.220703 21 L 4 21 z"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </footer>
    <script>
    // Navbar Scroll Transition
    let nav = document.getElementById("brand");
    window.addEventListener("scroll", function () {
      if (window.pageYOffset >= 64) {
        if (nav.classList.contains("navbar-dark")) {
          nav.classList.add("text-bg-dark");
          nav.classList.remove("text-bg-light");
        } else if (nav.classList.contains("navbar-light")) {
          nav.classList.add("text-bg-light");
          nav.classList.remove("text-bg-dark");
        }
      } else if (window.pageYOffset < 256) {
        nav.classList.remove("text-bg-dark");
        nav.classList.remove("text-bg-light");
      }
    });
    // Theme Toggle
    function toggleTheme(p) {
      const e = document.querySelectorAll("*");
      for (let i=0; i<e.length; i++) {
        // bg-light
        if (e[i].classList.contains("bg-light")) {
          e[i].classList.replace("bg-light", "bg-dark");
        // bg-dark
        } else if (e[i].classList.contains("bg-dark")) {
          e[i].classList.replace("bg-dark", "bg-light");
        // bg-secondary
        } else if (e[i].classList.contains("bg-secondary")) {
          e[i].classList.replace("bg-secondary", "bg-thirdly");
        // bg-thirdly
        } else if (e[i].classList.contains("bg-thirdly")) {
          e[i].classList.replace("bg-thirdly", "bg-secondary");
        }
        // text-light
        if (e[i].classList.contains("text-light")) {
          e[i].classList.replace("text-light", "text-dark");
        // text-dark
        } else if (e[i].classList.contains("text-dark")) {
          e[i].classList.replace("text-dark", "text-light");
        } else if (e[i].classList.contains("text-white-50")) {
        // text-white-50
          e[i].classList.replace("text-white-50", "text-muted");
        // text-muted
        } else if (e[i].classList.contains("text-muted")) {
          e[i].classList.replace("text-muted", "text-white-50");
        }
        // navbar-light
        if (e[i].classList.contains("navbar-light")) {
          e[i].classList.replace("navbar-light", "navbar-dark");
        // navbar-dark
        } else if (e[i].classList.contains("navbar-dark")) {
          e[i].classList.replace("navbar-dark", "navbar-light");
        }
        // text-bg-light
        if (e[i].classList.contains("text-bg-light")) {
          e[i].classList.replace("text-bg-light", "text-bg-secondary");
        // text-bg-dark
        } else if (e[i].classList.contains("text-bg-dark")) {
          e[i].classList.replace("text-bg-dark", "text-bg-thirdly");
        // text-bg-secondary
        } else if (e[i].classList.contains("text-bg-secondary")) {
          e[i].classList.replace("text-bg-secondary", "text-bg-light");
        // text-bg-secondary
        } else if (e[i].classList.contains("text-bg-thirdly")) {
          e[i].classList.replace("text-bg-thirdly", "text-bg-dark");
        }
        // lead-light
        if (e[i].classList.contains("lead-light")) {
          e[i].classList.replace("lead-light", "lead-dark");
        // lead-dark
        } else if (e[i].classList.contains("lead-dark")) {
          e[i].classList.replace("lead-dark", "lead-light");
        }
        // border-light
        if (e[i].classList.contains("border-light")) {
          e[i].classList.replace("border-light", "border-dark");
        // border-dark
        } else if (e[i].classList.contains("border-dark")) {
          e[i].classList.replace("border-dark", "border-light");
        }
        p.blur();
      }
      // bi-sun
      if (t.children[0].classList.contains("bi-sun")) {
        t.children[0].classList.replace("bi-sun", "bi-moon-stars");
      // bi-moon-stars
      } else if (t.children[0].classList.contains("bi-moon-stars")) {
        t.children[0].classList.replace("bi-moon-stars", "bi-sun");
      }
      t.blur();
    }
    f = document.getElementById("formDocs");
    // Docs Search Toggle - Search/Close Icons
    function docsToggle(e) {
      if (!e.classList.contains("collapsed")) {
        e.children[0].classList.replace("bi-search", "bi-x-lg");
      } else {
        e.children[0].classList.replace("bi-x-lg", "bi-search");
      }
      e.blur();
    }
    // Docs Search - Form Reset
    function formReset() {
      document.getElementById("navRight").children[0].children[2].children[0].classList.replace("bi-x-lg", "bi-search");
      formDocs.classList.remove("show");
      formDocs.parentElement.children[2].classList.toggle("collapsed");
      let a = formDocs.parentElement.children[2].getAttribute("aria-expanded");
      a = "false";
      formDocs.parentElement.children[2].setAttribute("aria-expanded", a);
      f.children[0].value = "";
    }
    // Docs Search - Close Control
    window.addEventListener("keydown", e => {
      if (e.key === "Escape") {
        formReset();
      }
    });
    // Docs Search - Search Destination
    function checkValidation() {
      if (f.children[0].value.length >= 3) {
        location.href = "https://forums.armory3d.org/search?q=" + String(f.children[0].value);
      } else {
        alert("Search terms require a minimum of three characters.");
      }
    }
    // Docs Search - Init Undo
    window.addEventListener("pageshow", function() {
      formReset();
    });
    // Footer - ScrollToTop
    function scrollToTop(e) {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
      e.blur();
    }
    </script>
  </body>
</html>