	<!-- Main Content -->
  <div class="uk-height-1-1 uk-section uk-section-secondary uk-background-cover uk-light" data-src="img/2021-08-b.gif" uk-img>
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-flex-first uk-flex-last@l" style="padding: 0">
        <div class="uk-inline uk-position-center-left text-container">
          <h2 class="uk-inline uk-margin-remove uk-padding-small ro-text-header" style="background-color: rgb(207,43,67)">Armory Game Engine</h2>
          <p class="uk-margin-remove uk-padding-small uk-background-secondary" style="color: white">A powerful, free & open-source cross-platform game engine, integrated in Blender.</p>
          <div class="uk-margin-small-top uk-flex uk-flex-center uk-flex-left@m">
            <a class="uk-button uk-button-default" href="features" style="margin-right: 0.5em">learn more</a>
            <a class="uk-button uk-button-default" href="https://armory3d.github.io/armory_examples_browser/">online demos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-section uk-section-secondary">
    <div class="uk-padding uk-padding-remove-top uk-padding-remove-bottom uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-margin-medium-top uk-flex-last uk-flex-first@l" style="padding: 0">
        <img src="img/Workflow.jpg" alt="Armory3D Image">
      </div>
      <div class="uk-flex-first uk-flex-last@l" style="padding: 0">
        <div class="text-container" style="padding-top: 30px">
          <h2 class="uk-heading-divider ro-text-header">Armory 3D Engine</h2>
          Armory is an open-source 3D engine focused on portability, minimal footprint and performance. The renderer is fully scriptable with deferred and forward paths supported out of the box.<br><br>
          Armory provides a full Blender integration add-on, turning it into a complete game development tool. The result is a unified workflow from start to finish.<br/><br/>
          <a class="uk-button uk-button-default" href="https://github.com/armory3d/armory/wiki">learn more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-secondary">
    <div class="uk-padding uk-padding-remove-top uk-child-width-expand@l" uk-grid style="margin: 0">
      <div style="padding: 0">
        <div class="text-container">
          <h2 class="uk-heading-divider ro-text-header">ArmorPaint</h2>
          Powered by Armory engine - ArmorPaint is a stand-alone software designed for physically-based texture painting. Drag & drop your 3D models and start painting. Receive instant visual feedback in the viewport as you paint.<br/><br/>
          <a class="uk-button uk-button-default" href="https://armorpaint.org">learn more</a>
        </div>
      </div>
      <div style="padding: 0">
        <img src="img/rtbot.jpg" alt="ArmorPaint Image">
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-secondary">
      <div class="uk-padding uk-padding-remove-top uk-child-width-expand@l" uk-grid style="margin: 0">
        <div class="uk-margin-top uk-flex-last uk-flex-first@l" style="padding: 0">
          <img src="img/lab.jpg" alt="ArmorLab Image">
        </div>
        <div class="uk-flex-first uk-flex-last@l" style="padding: 0">
          <div class="text-container">
            <h2 class="uk-heading-divider ro-text-header">ArmorLab</h2>
            Powered by Armory engine - ArmorLab is a stand-alone software designed for AI-powered texture authoring. Generate PBR materials by drag & dropping your photos.<br/><br/>
            <a class="uk-button uk-button-default" href="https://armorlab.org">learn more</a>
          </div>
        </div>
      </div>
  </div>