<!-- $main.html -->
<main class="text-white">
	<!-- Home Splash -->
	<header>
		<video playsinline autoplay muted loop>
			<source src="/img/2022-10/2022-10-a.mp4" type="video/mp4">
			This browser doesn't support MP4. Try using a different browser.
		</video>
		<div class="splash-vignette homepage-theme-dark"></div>
		<div class="position-relative top-50 start-0 translate-middle-y px-3">
			<div class="homepage-body homepage-theme-dark d-inline-block rounded-3 p-4 pt-2">
				<h1 class="display-3 fw-bold mb-2 mb-lg-3">Build Games in Blender</h1>
				<p class="fs-4 col-lg-12 mb-3 mb-lg-4" style='font-family: "Open Sans", sans-serif;'>
					A powerful, cross-platform, free & open source game engine,<br />integrated in Blender.
				</p>
				<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
					<a class="fw-semibold btn btn-danger btn-lg d-flex align-items-center justify-content-center px-5 py-3"
						href="/download">
						<i class="text-white bi bi-download me-2"></i>Download (2023.10)
					</a>
					<a class="fw-semibold btn btn-outline-light btn-lg d-flex align-items-center justify-content-center px-5 py-3"
						href="https://armory3d.github.io/armory_examples_browser/">
						<i class="text-white bi bi-controller me-2"></i>Online Demos
					</a>
				</div>
			</div>
		</div>
	</header>
	<div class="text-bg-secondary">
		<!-- Armory3D -->
		<div id="armory" class="position-relative row g-0">
			<div class="col-lg-6">
				<img class="ratio ratio-21x9 h-100" src="/img/index/home-armory.jpg" loading="lazy"
					alt="Armory3D Screenshot" />
			</div>
			<div class="col-lg-6 p-4">
				<a class="heading_anchor d-block display-6 fw-semibold text-reset lh-1 mb-3" href="#armory">
					Armory3D<i class="bi bi-link-45deg text-light ms-2"></i>
				</a>
				<hr />
				<h2 class="display-6 fw-normal lh-1 mb-3">3D Game Engine</h2>
				<p class="lead-dark mb-4">
					Armory3D is an open-source 3D game engine focused on portability, minimal footprint and performance.
					The
					renderer is fully scriptable with deferred and forward paths supported out of the box.<br><br>
					Armory3D as a Blender add-on provides a full Blender integration, turning it into a complete game
					development
					tool and a unified workflow from start to finish.
				</p>
				<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
					<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
						href="https://github.com/armory3d/armory/wiki">
						<i class="bi bi-book text-white me-2"></i>
						Start Learning
					</a>
				</div>
			</div>
		</div>
		<!-- ArmorPaint -->
		<div id="armorpaint" class="position-relative row g-0">
			<div class="col-lg-6 p-4">
				<a class="heading_anchor d-block display-6 fw-semibold text-reset lh-1 mb-3" href="#armorpaint">
					</i>ArmorPaint<i class="bi bi-link-45deg text-light ms-2"></i>
				</a>
				<hr />
				<h2 class="display-6 fw-normal lh-1 mb-3">3D Painting Software</h2>
				<p class="lead-dark mb-4">
					ArmorPaint is a stand-alone software designed for physically-based texture
					painting. Drag & drop your 3D models and start painting. Receive instant visual feedback in the
					viewport as
					you paint.
				</p>
				<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
					<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
						href="https://armorpaint.org">
						<i class="bi bi-brush text-white me-2"></i>Learn More
					</a>
				</div>
			</div>
			<div class="col-lg-6">
				<img class="ratio ratio-21x9 h-100" src="/img/index/home-armorpaint.jpg" loading="lazy"
					alt="ArmorPaint Screenshot" />
			</div>
		</div>
		<!-- ArmorLab -->
		<div id="armorlab" class="position-relative row g-0">
			<div class="col-lg-6">
				<img class="ratio ratio-21x9 h-100" src="/img/index/home-armorlab.jpg" loading="lazy"
					alt="ArmorLab Screenshot" />
			</div>
			<div class="col-lg-6 p-4">
				<a class="heading_anchor d-block display-6 fw-semibold text-reset lh-1 mb-3" href="#armorlab">
					ArmorLab<i class="bi bi-link-45deg text-light ms-2"></i>
				</a>
				<hr />
				<h2 class="display-6 fw-normal lh-1 mb-3">Texture Authoring Software</h2>
				<p class="lead-dark mb-4">
					ArmorLab is a stand-alone software designed for AI-powered texture authoring.
					Generate PBR textures using text
					prompts or by drag & dropping your photos.
				</p>
				<div class="d-grid gap-2 d-lg-flex justify-content-lg-start">
					<a class="fw-semibold btn btn-danger btn-lg align-items-center justify-content-center"
						href="https://armorlab.org">
						<i class="bi bi-palette text-white me-2"></i>Learn More
					</a>
				</div>
			</div>
		</div>
	</div>
</main>