	<!-- Main Content -->
  <div class="uk-cover-container cover-container">
    <img src="img/FeaturedCover.jpg" alt="Cover Image" uk-cover>
  </div>

  <div class="uk-section uk-section-secondary">
      <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
        <div class="uk-flex-last uk-flex-first@l" style="padding: 0">
          <img src="img/Workflow.jpg" alt="Armory3D Image">
        </div>
        <div class="uk-flex-first uk-flex-last@l" style="padding: 0;">
          <div class="uk-margin-left uk-margin-top text-container">
            <h2 class="uk-heading-divider ro-text-header">Armory 3D Engine</h2>
            Armory is an open-source 3D engine focused on portability, minimal footprint and performance. The renderer is fully scriptable with deferred and forward paths supported out of the box.<br><br>
            Armory provides a full Blender integration add-on, turning it into a complete game development tool. The result is a unified workflow from start to finish.<br/><br/>
            <a class="uk-button uk-button-default" href="https://github.com/armory3d/armory/wiki">learn more</a>
          </div>
        </div>
      </div>
  </div>

  <div class="uk-section uk-section-secondary">
      <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
        <div style="padding: 0">
          <div class="uk-margin-left uk-margin-top text-container">
            <h2 class="uk-heading-divider ro-text-header">ArmorPaint</h2>
            Powered by Armory engine - ArmorPaint is a stand-alone software designed for physically-based texture painting. Drag & drop your 3D models and start painting. Receive instant visual feedback in the viewport as you paint.<br/><br/>
            <a class="uk-button uk-button-default" href="https://armorpaint.org">learn more</a>
          </div>
        </div>
        <div style="padding: 0">
          <img src="img/rtbot.jpg" alt="ArmorPaint Image">
        </div>
      </div>
  </div>

  <div class="uk-section uk-section-secondary">
      <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
        <div class="uk-flex-last uk-flex-first@l" style="padding: 0">
          <img src="img/lab.jpg" alt="ArmorLab Image">
        </div>
        <div class="uk-flex-first uk-flex-last@l" style="padding: 0;">
          <div class="uk-margin-left uk-margin-top text-container">
            <h2 class="uk-heading-divider ro-text-header">ArmorLab</h2>
            Powered by Armory engine - ArmorLab is a stand-alone software designed for AI-powered texture authoring. Generate PBR materials by drag & dropping your photos.<br/><br/>
            <a class="uk-button uk-button-default" href="https://armorlab.org">learn more</a>
          </div>
        </div>
      </div>
  </div>
