<!-- $main.html -->
<main class="text-start text-bg-secondary">
  <div class="container p-5">
    <div class="container p-5">
      <h1 class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3">Licenses</h1>
      <hr />
      <br />
      <ul class="lead-dark">
        <li>
          <a class="fw-semibold text-reset" href="https://github.com/armory3d/armory/blob/main/LICENSE.md">Engine</a>
          (Armory3D)
        </li>
        <li>
          <a class="fw-semibold text-reset"
            href="https://github.com/armory3d/armory/blob/main/blender/arm/LICENSE.md">Add-on</a> (Blender)
        </li>
      </ul>
    </div>
  </div>
</main>