  <!-- Main Content -->
  <div class="uk-cover-container cover-container" style="height: 50vh">
    <img src="img/FeaturedCover.jpg" alt="Cover Image" uk-cover>
  </div>

  <div class="uk-section uk-section-secondary">
    <div class="uk-margin-large-top uk-margin-bottom uk-text-center">
      <p>
        <a href="https://tinyletter.com/armory">Sign up</a> for Armory news |
        <a class="twitter-timeline" data-width="800" data-dnt="true" data-theme="dark" href="https://twitter.com/armory3d">Tweets</a> by armory3d
      </p>
    </div>
  </div>
  <script async src="https://platform.twitter.com/widgets.js"></script>