
  <div class="uk-cover-container cover-container">
    <img src="img/FeaturedCover.jpg" alt="Cover Image" uk-cover>
  </div>

  <div class="uk-section uk-section-secondary">
    <div class="uk-text-center">
        <br><br><a href="https://tinyletter.com/armory">Sign up</a> for Armory news.<br><br><br>
        <a class="twitter-timeline" data-width="800" data-dnt="true" data-theme="dark" href="https://twitter.com/armory3d">Tweets by armory3d</a> <script async src="https://platform.twitter.com/widgets.js"></script>
    </div>
  </div>
