	<!-- Main Content -->
  <div class="uk-cover-container cover-container" style="height: 50vh">
    <img src="img/FeaturedCover.jpg" alt="Cover Image" uk-cover>
  </div>
	<div class="uk-section uk-section-secondary uk-light">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-flex-first uk-flex-last@l" style="padding: 0">
        <div class="uk-inline uk-position-relative uk-position-center notes-text-container" style="padding-top: 30px">
          <h2 class="uk-inline uk-padding-small uk-position-relative uk-position-bottom-center ro-text-header" style="background-color: rgb(207,43,67)">Release Notes</h2>
          <div class="uk-margin-right uk-margin-left uk-align-center uk-text-center">
            <ul class="uk-flex-center uk-tab">
              <!-- 2021 -->
              <li>
                <a class="ro-navbar" uk-icon="icon: chevron-down"><span class="uk-text-large">2021</span></a>
                <div class="ro-navbar-light" uk-dropdown="delay-hide: 60; pos: bottom-center; offset: 10">
                  <ul class="uk-nav uk-nav-default uk-dropdown-nav uk-text-large">
                    <li><a id="2021.06" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2021.06</span></a></li>
                    <li><a id="2021.07" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2021.07</span></a></li>
                    <li><a id="2021.08" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2021.08</span></a></li>
                    <li><a id="2021.09" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2021.09</span></a></li>
                    <li><a id="2021.10" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2021.10</span></a></li>
                    <li><a id="2021.11" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2021.11</span></a></li>
                    <li><a id="2021.12" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2021.12</span></a></li>
                  </ul>
                </div>
              </li>
              <!-- 2022 -->
              <li>
                <a class="ro-navbar" uk-icon="icon: chevron-down"><span class="uk-text-large">2022</span></a>
                <div class="ro-navbar-light" uk-dropdown="delay-hide: 60; pos: bottom-center; offset: 10">
                  <ul class="uk-nav uk-nav-default uk-dropdown-nav uk-text-large">
                    <li><a id="2022.01" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2022.01</span></a></li>
                    <li><a id="2022.02" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2022.02</span></a></li>
                    <li><a id="2022.03" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2022.03</span></a></li>
                    <li><a id="2022.04" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2022.04</span></a></li>
                    <li><a id="2022.05" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2022.05</span></a></li>
                    <li><a id="2022.06" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2022.06</span></a></li>
                    <li><a id="2022.07" class="ro-navbar" href="javascript:void(0)" onclick=assignURL(this.innerText)><span>2022.06</span></a></li>
                  </ul>
                </div>
              </li>
            </ul>
            <div id="notes_iframe">See any issue?<br />Report it <a href="https://github.com/armory3d/armory_web/issues">here</a>.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var assignURL = function(url) {
      console.log("assignURL");
      fetch("templates/notes/" + url + ".html").then(function(response) {
        return response.text();
      }).then(function(html) {
        var parser = new DOMParser();
        var doc = parser.parseFromString(html, "text/html");
        var content = doc.querySelector("html").innerHTML;
        if (!content.includes("404")) {
          document.getElementById("notes_iframe").innerHTML = content;
          window.location.hash = "#" + url;
        } else {
          window.location.href = "/404";
        }
      })
    };
    var assignContent = function() {
      let CUR_URL = window.location.hash.substr(1);
      let INIT_MONTH = 2022.07;
      console.log("assignContent");
      // Check if root page
      if (window.location.href === window.location.protocol + "//" + window.location.hostname + "/notes") {
        assignURL(INIT_MONTH);
      } else if (window.location.hash) { // Check for URL anchor
          assignURL(window.location.hash.substr(1));
      } else {
        window.location.href = "/404";
      }
    };
    window.addEventListener("load", assignContent);
    window.addEventListener("popstate", assignContent);
  </script>