	<!-- Main Content -->
	<div class="uk-section uk-section-secondary uk-light">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-flex-first uk-flex-last@l" style="padding: 0">
        <div class="uk-inline text-container uk-position-relative uk-position-center uk-margin-top">
          <!-- Tabs -->
          <ul id="notes" class="uk-tab" data-uk-switcher="{connect:'#tabs'}">
            <li><a id="2022.04" onclick=assignTabs(this)>2022.04</a></li>
            <li><a id="2022.05" onclick=assignTabs(this)>2022.05</a></li>
            <li><a id="2022.06" onclick=assignTabs(this)>2022.06</a></li>
          </ul>
          <!-- Main Content -->
          <ul id="tabs" class="uk-switcher">
            <li id="tab1">Tab 1 Content</li>
            <li id="tab2">Tab 2 Content</li>
            <li id="tab2">Tab 3 Content</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script>
    var assignTabs = function(tab) {
      window.location.href = "/notes_dud#" + String(tab.innerText);
    }

    var checkTabs = function() {
      if (document.getElementById(String(window.location.hash.substr(1)))) {
        if (window.location.hash.substr(1) == 2022.04) {
          UIkit.tab("#notes").show(0);
        } else if (window.location.hash.substr(1) == 2022.05) {
          UIkit.tab("#notes").show(1);
        } else if (window.location.hash.substr(1) == 2022.06) {
          UIkit.tab("#notes").show(2);
        }
      }
    }

    window.addEventListener("load", checkTabs);
    window.addEventListener("popstate", checkTabs);
  </script>