	<!-- Main Content -->
  <!-- <div class="uk-cover-container cover-container" style="height: 50vh">
    <img src="img/FeaturedCover.jpg" alt="Cover Image" uk-cover>
  </div> -->
	<div class="uk-section uk-section-secondary uk-light">
    <div class="uk-child-width-expand@l" uk-grid style="margin: 0">
      <div class="uk-flex-first uk-flex-last@l" style="padding: 0">
        <div class="uk-inline text-container uk-position-relative uk-position-center uk-margin-top">
          <h2 class="uk-margin-remove uk-padding-small uk-position-relative uk-position-center uk-text-center ro-text-header" style="background-color: rgb(207,43,67)">Release Notes</h2>
          <!-- Tabs -->
          <ul id="notes" class="uk-tab" data-uk-switcher="{connect:'#tabs'}">
            <li><a id="2022.01" onclick=assignTabs(this)>2022.01</a></li>
            <li><a id="2022.02" onclick=assignTabs(this)>2022.02</a></li>
            <li><a id="2022.03" onclick=assignTabs(this)>2022.04</a></li>
            <li><a id="2022.04" onclick=assignTabs(this)>2022.04</a></li>
            <li><a id="2022.05" onclick=assignTabs(this)>2022.05</a></li>
            <li><a id="2022.06" onclick=assignTabs(this)>2022.06</a></li>
          </ul>
          <!-- Main Content -->
          <ul id="tabs" class="uk-switcher">
            <li id="tab1">Tab 1 Content</li>
            <li id="tab2">Tab 2 Content</li>
            <li id="tab3">Tab 3 Content</li>
            <li id="tab4">Tab 4 Content</li>
            <li id="tab5">Tab 5 Content</li>
            <li id="tab6">Tab 6 Content</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script>
    // Set URL (on tab click)
    var assignTabs = function(tab) {
      window.location.href = "/notes_dud#" + String(tab.innerText);
    }
    var checkTabs = function() {
      let CUR_URL = window.location.hash.substr(1);
      let INIT_TAB = 5;
      // Check URL (if root page)
      if (window.location.href === "https://" + window.location.hostname + "/notes_dud") {
        UIkit.tab("#notes").show(INIT_TAB);
      } else if (window.location.href !== "https://" + window.location.hostname + "/notes_dud" && (!(document.getElementById(CUR_URL)))) {
        window.location.href = "/404"
      }
      // Set tab (based on URL)
      if (document.getElementById(CUR_URL)) {
        switch (window.location.hash.substr(1)) {
          case "2022.01":
            UIkit.tab("#notes").show(0);
            break;
          case "2022.02":
            UIkit.tab("#notes").show(1);
            break;
          case "2022.03":
            UIkit.tab("#notes").show(2);
            break;
          case "2022.04":
            UIkit.tab("#notes").show(3);
            break;
          case "2022.05":
            UIkit.tab("#notes").show(4);
            break;
          case "2022.06":
            UIkit.tab("#notes").show(5);
            break;
        }
      }
    }
    window.addEventListener("load", checkTabs);
    window.addEventListener("popstate", checkTabs);
  </script>