<!-- $main.html -->
<main class="text-bg-secondary">
	<div id="cookiesBanner" class="text-center notes_img container position-sticky top-50 start-0 translate-middle-y"
		style="z-index: 999">
		<div class="mb-4">
			<div class="text-bg-dark container-fluid ms-0 px-5 py-3">
				<h1 class="display-4 fw-bold fst-italic mb-4">Cookies Policy</h1>
				<p class="fs-4 lead lh-1" style='font-family: "Open Sans", sans-serif; margin-bottom: 1.5rem;'>
				<p class="lead-dark mb-4">
					This page's YouTube videos uses cookies. If you decline cookies, those videos will be replaced with
					video thumbnails and URL links instead. More information about cookies can be found <a
						class="fw-semibold text-reset" href="/privacy">here</a>.
				</p>
				<div class="card-text d-grid gap-2 d-lg-flex justify-content-lg-center">
					<a class="fw-semibold btn btn-danger align-items-center justify-content-center"
						onclick="setPageCookies(true);">
						<i class="bi bi-check-lg text-white me-2"></i>Allow Cookies
					</a>
					<a class="fw-semibold btn btn-danger align-items-center justify-content-center"
						onclick="setPageCookies(false);">
						<i class="bi bi-x-lg text-white me-2"></i>Decline Cookies
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex container p-3 p-lg-5">
		<!-- YEARS -->
		<ul class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
			<!-- Year - 2023 -->
			<li class="nav-item" role="presentation"><a id="y2023" class="y y2023 lead-light nav-link"
					onclick='setYear("2023");' data-bs-toggle="pill" data-bs-target="#m2023" type="button" role="tab"
					aria-selected="false">2023</a></li>
			<!-- Year - 2022 -->
			<li class="nav-item" role="presentation"><a id="y2022" class="y y2022 lead-light nav-link"
					onclick='setYear("2022");' data-bs-toggle="pill" data-bs-target="#m2022" type="button" role="tab"
					aria-selected="false">2022</a></li>
			<!-- Year - 2021 -->
			<li class="nav-item" role="presentation"><a id="y2021" class="y y2021 lead-light nav-link"
					onclick='setYear("2021");' data-bs-toggle="pill" data-bs-target="#m2021" type="button" role="tab"
					aria-selected="false">2021</a></li>
		</ul>
		<div class="d-flex">
			<div class="vr mx-3"></div>
		</div>
		<!-- MONTHS -->
		<div class="tab-content">
			<!-- Months - 2023 -->
			<div id="m2023" class="y y2023 tab-pane" role="tabpanel" tabindex="0">
				<ul class="nav nav-pills nav-justified">
					<li class="nav-item" role="presentation"><a id="m26" class="m lead-light nav-link" href="#2023.07"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c26" type="button"
							role="tab" aria-controls="c26" aria-selected="false">2023.07</a></li>
					<li class="nav-item" role="presentation"><a id="m25" class="m lead-light nav-link" href="#2023.06"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c25" type="button"
							role="tab" aria-controls="c25" aria-selected="false">2023.06</a></li>
					<li class="nav-item" role="presentation"><a id="m24" class="m lead-light nav-link" href="#2023.05"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c24" type="button"
							role="tab" aria-controls="c24" aria-selected="false">2023.05</a></li>
					<li class="nav-item" role="presentation"><a id="m23" class="m lead-light nav-link" href="#2023.04"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c23" type="button"
							role="tab" aria-controls="c23" aria-selected="false">2023.04</a></li>
					<li class="nav-item" role="presentation"><a id="m22" class="m lead-light nav-link" href="#2023.03"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c22" type="button"
							role="tab" aria-controls="c22" aria-selected="false">2023.03</a></li>
					<li class="nav-item" role="presentation"><a id="m21" class="m lead-light nav-link" href="#2023.02"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c21" type="button"
							role="tab" aria-controls="c21" aria-selected="false">2023.02</a></li>
					<li class="nav-item" role="presentation"><a id="m20" class="m lead-light nav-link" href="#2023.01"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c20" type="button"
							role="tab" aria-controls="c20" aria-selected="false">2023.01</a></li>
				</ul>
			</div>
			<!-- Months - 2022 -->
			<div id="m2022" class="y y2022 tab-pane" role="tabpanel" tabindex="0">
				<ul class="nav nav-pills nav-justified" role="tablist">
					<li class="nav-item" role="presentation"><a id="m19" class="m lead-light nav-link" href="#2022.12"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c19" type="button"
							role="tab" aria-controls="c19" aria-selected="false">2022.12</a></li>
					<li class="nav-item" role="presentation"><a id="m18" class="m lead-light nav-link" href="#2022.11"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c18" type="button"
							role="tab" aria-controls="c18" aria-selected="false">2022.11</a></li>
					<li class="nav-item" role="presentation"><a id="m17" class="m lead-light nav-link" href="#2022.10"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c17" type="button"
							role="tab" aria-controls="c17" aria-selected="false">2022.10</a></li>
					<li class="nav-item" role="presentation"><a id="m16" class="m lead-light nav-link" href="#2022.09"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c16" type="button"
							role="tab" aria-controls="c16" aria-selected="false">2022.09</a></li>
					<li class="nav-item" role="presentation"><a id="m15" class="m lead-light nav-link" href="#2022.08"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c15" type="button"
							role="tab" aria-controls="c15" aria-selected="false">2022.08</a></li>
					<li class="nav-item" role="presentation"><a id="m14" class="m lead-light nav-link" href="#2022.07"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c14" type="button"
							role="tab" aria-controls="c14" aria-selected="false">2022.07</a></li>
					<li class="nav-item" role="presentation"><a id="m13" class="m lead-light nav-link" href="#2022.06"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c13" type="button"
							role="tab" aria-controls="c13" aria-selected="false">2022.06</a></li>
					<li class="nav-item" role="presentation"><a id="m12" class="m lead-light nav-link" href="#2022.05"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c12" type="button"
							role="tab" aria-controls="c12" aria-selected="false">2022.05</a></li>
					<li class="nav-item" role="presentation"><a id="m11" class="m lead-light nav-link" href="#2022.04"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c11" type="button"
							role="tab" aria-controls="c11" aria-selected="false">2022.04</a></li>
					<li class="nav-item" role="presentation"><a id="m10" class="m lead-light nav-link" href="#2022.03"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c10" type="button"
							role="tab" aria-controls="c10" aria-selected="false">2022.03</a></li>
					<li class="nav-item" role="presentation"><a id="m9" class="m lead-light nav-link" href="#2022.02"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c9" type="button"
							role="tab" aria-controls="c9" aria-selected="false">2022.02</a></li>
					<li class="nav-item" role="presentation"><a id="m8" class="m lead-light nav-link" href="#2022.01"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c8" type="button"
							role="tab" aria-controls="c8" aria-selected="false">2022.01</a></li>
				</ul>
			</div>
			<!-- Months - 2021 -->
			<div id="m2021" class="y y2021 tab-pane" role="tabpanel" tabindex="0">
				<ul class="nav nav-pills nav-justified">
					<li class="nav-item" role="presentation"><a id="m7" class="m lead-light nav-link" href="#2021.12"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c7" type="button"
							role="tab" aria-controls="c7" aria-selected="false">2021.12</a></li>
					<li class="nav-item" role="presentation"><a id="m6" class="m lead-light nav-link" href="#2021.11"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c6" type="button"
							role="tab" aria-controls="c6" aria-selected="false">2021.11</a></li>
					<li class="nav-item" role="presentation"><a id="m5" class="m lead-light nav-link" href="#2021.10"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c5" type="button"
							role="tab" aria-controls="c5" aria-selected="false">2021.10</a></li>
					<li class="nav-item" role="presentation"><a id="m4" class="m lead-light nav-link" href="#2021.09"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c4" type="button"
							role="tab" aria-controls="c4" aria-selected="false">2021.09</a></li>
					<li class="nav-item" role="presentation"><a id="m3" class="m lead-light nav-link" href="#2021.08"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c3" type="button"
							role="tab" aria-controls="c3" aria-selected="false">2021.08</a></li>
					<li class="nav-item" role="presentation"><a id="m2" class="m lead-light nav-link" href="#2021.07"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c2" type="button"
							role="tab" aria-controls="c2" aria-selected="false">2021.07</a></li>
					<li class="nav-item" role="presentation"><a id="m1" class="m lead-light nav-link" href="#2021.06"
							onclick="updateURL(this);" data-bs-toggle="pill" data-bs-target="#c1" type="button"
							role="tab" aria-controls="c1" aria-selected="false">2021.06</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- CONTENTS -->
	<div class="tab-content">
		<!-- Contents - 2023 -->
		<div id="c2023" class="c y2023 tab-content">
			<div id="c26" class="c tab-pane" role="tabpanel" tabindex="0">
				%c26%
			</div>
		</div>
		<div id="c2023" class="c y2023 tab-content">
			<div id="c25" class="c tab-pane" role="tabpanel" tabindex="0">
				%c25%
			</div>
		</div>
		<div id="c2023" class="c y2023 tab-content">
			<div id="c24" class="c tab-pane" role="tabpanel" tabindex="0">
				%c24%
			</div>
		</div>
		<div id="c2023" class="c y2023 tab-content">
			<div id="c23" class="c tab-pane" role="tabpanel" tabindex="0">
				%c23%
			</div>
		</div>
		<div id="c2023" class="c y2023 tab-content">
			<div id="c22" class="c tab-pane" role="tabpanel" tabindex="0">
				%c22%
			</div>
		</div>
		<div id="c2023" class="c y2023 tab-content">
			<div id="c21" class="c tab-pane" role="tabpanel" tabindex="0">
				%c21%
			</div>
		</div>
		<div id="c2023" class="c y2023 tab-content">
			<div id="c20" class="c tab-pane" role="tabpanel" tabindex="0">
				%c20%
			</div>
		</div>
		<!-- Contents - 2022 -->
		<div id="c2022" class="c y2022 tab-content">
			<div id="c19" class="c tab-pane" role="tabpanel" tabindex="0">
				%c19%
			</div>
			<div id="c18" class="c tab-pane" role="tabpanel" tabindex="0">
				%c18%
			</div>
			<div id="c17" class="c tab-pane" role="tabpanel" tabindex="0">
				%c17%
			</div>
			<div id="c16" class="c tab-pane" role="tabpanel" tabindex="0">
				%c16%
			</div>
			<div id="c15" class="c tab-pane" role="tabpanel" tabindex="0">
				%c15%
			</div>
			<div id="c14" class="c tab-pane" role="tabpanel" tabindex="0">
				%c14%
			</div>
			<div id="c13" class="c tab-pane" role="tabpanel" tabindex="0">
				%c13%
			</div>
			<div id="c12" class="c tab-pane" role="tabpanel" tabindex="0">
				%c12%
			</div>
			<div id="c11" class="c tab-pane" role="tabpanel" tabindex="0">
				%c11%
			</div>
			<div id="c10" class="c tab-pane" role="tabpanel" tabindex="0">
				%c10%
			</div>
			<div id="c9" class="c tab-pane" role="tabpanel" tabindex="0">
				%c9%
			</div>
			<div id="c8" class="c tab-pane" role="tabpanel" tabindex="0">
				%c8%
			</div>
		</div>
		<!-- Contents - 2021 -->
		<div id="c2021" class="c y2021 tab-content">
			<div id="c7" class="c tab-pane" role="tabpanel" tabindex="0">
				%c7%
			</div>
			<div id="c6" class="c tab-pane" role="tabpanel" tabindex="0">
				%c6%
			</div>
			<div id="c5" class="c tab-pane" role="tabpanel" tabindex="0">
				%c5%
			</div>
			<div id="c4" class="c tab-pane" role="tabpanel" tabindex="0">
				%c4%
			</div>
			<div id="c3" class="c tab-pane" role="tabpanel" tabindex="0">
				%c3%
			</div>
			<div id="c2" class="c tab-pane" role="tabpanel" tabindex="0">
				%c2%
			</div>
			<div id="c1" class="c tab-pane" role="tabpanel" tabindex="0">
				%c1%
			</div>
		</div>
	</div>
</main>
<script>
	// jshint esversion: 6
	const initDate = "2023.07";
	const cookiesBanner = document.getElementById("cookiesBanner");

	// Function - Set Year
	const setYear = y => {
		const years = document.getElementsByClassName("y");
		const years_children = document.getElementsByClassName("y" + y);

		// Reset
		Array.from(years).forEach(yr => {
			yr.classList.remove("show", "active");
			yr.setAttribute("aria-selected", false);
		});

		// Set Active
		Array.from(years_children).forEach(ya => {
			ya.classList.add("show", "active");
			ya.setAttribute("aria-selected", true);
		});
	};

	// Function - Set Month
	const setMonth = m => {
		const all_months = document.getElementsByClassName("m");

		// Reset
		Array.from(all_months).forEach(mr => {
			mr.classList.remove("show", "active");
			mr.setAttribute("aria-selected", false);
		});

		// Set Active
		document.getElementById(m).classList.add("show", "active");
		document.getElementById(m).setAttribute("aria-selected", true);
	};

	// Function - Set Content
	const setContent = c => {
		const all_contents = document.getElementsByClassName("c");

		// Reset
		Array.from(all_contents).forEach(cr => {
			cr.classList.remove("show", "active");
			cr.setAttribute("aria-selected", false);
		});

		// Set Active
		document.getElementById(c).classList.add("show", "active");
		document.getElementById(c).setAttribute("aria-selected", true);

		setAnchor();
		resetVideoFrames();
		correctBannerLocation();
	};

	closeBanner = () => cookiesBanner.classList.add("d-none");

	// Function - Set Year / Month / Content / Anchor
	const init = () => {
		if (window.location.hash.substr(1)) {
			fetch("templates/changelogs/data.json")
				.then((r) => r.ok ? r.text() : (() => { throw new Error(r.status); })())
				.then(DATA => {
					if (JSON.stringify(DATA).includes(window.location.hash.substr(1) + "\\")) {
						for (let i = 1; i <= Object.keys(JSON.parse(DATA)).length + 1; i++) {
							if (document.getElementById("m" + i) !== null && document.getElementById("c" + i) !== null) {
								// Set Year
								window.location.hash.includes("2023") ? setYear("2023") : window.location.hash.includes("2022") ? setYear("2022") : window.location.hash.includes("2021") ? setYear("2021") : {};

								// Set Month
								if (window.location.hash.substr(1).includes(JSON.parse(DATA)[i].date)) {
									setMonth("m" + i);
									setContent("c" + i);
								}
							}
						}
					} else window.location.href = "/404";
				})
				.catch(e => {
					window.location.href = "/404";
					console.log(e);
				});
		} else window.location.href = "/notes#" + initDate;
	};

	// Function - Set URL
	const updateURL = e => window.location.hash = e.innerText;

	// Function - Set Anchor
	const setAnchor = () => {
		try {
			window.location.hash = window.location.hash;
		} catch (e) {
			console.log("No anchor found.");
			console.log(e);
		}
		// const scrollpos = sessionStorage.getItem("scrollpos");
		// if (scrollpos) {
		//   console.log(window.scrollY);
		//   window.scrollTo(0, scrollpos);
		//   console.log(window.scrollY);
		// }
	};

	const resetVideoFrames = () => {
		const all_videos = document.getElementsByTagName("video");

		Array.from(all_videos).forEach(ev => ev.currentTime = 0.0);
	};

	const correctBannerLocation = () => cookiesBanner.style.marginTop = `${-cookiesBanner.offsetHeight}px`;

	const setPageCookies = b => {
		const all_youtube_videos = document.getElementsByClassName("youtube_video");

		if (b) {
			Array.from(all_youtube_videos).forEach(yv => {
				let c2 = yv.children[1];

				// Thumbnails
				yv.children[0].classList.add("d-none");
				// iFrames
				c2.classList.remove("d-none");
				c2.src = `https://www.youtube-nocookie.com/embed/${c2.id}`;
			});
		}

		closeBanner();
	};

	// Cookies Banner - Close Banner
	document.addEventListener("keydown", e => e.key === "Escape" ? closeBanner() : {});
	document.addEventListener("click", e => !e.target.closest("#cookiesBanner") ? closeBanner() : {});

	// Init
	window.addEventListener("pageshow", init);
	window.addEventListener("popstate", init);

	// document.addEventListener("scroll", () => sessionStorage.setItem("scrollpos", window.scrollY));
</script>