<!-- $main.html -->
<main class="text-bg-secondary">
  <div class="text-center container p-5">
    <div class="container p-5">
      <h1 class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3">Privacy Policy</h1>
      <hr />
      <p class="lead-dark mb-0">
        Armory software does not collect, market, or sell your data in any way. Your data is accessed by no one except
        you.<br /><br />
        <span class="fw-semibold text-reset">Disclaimer:</span> This privacy statement does not speak for other
        3rd-party software such as <a class="fw-bold text-reset"
          href="https://www.blender.org/privacy-policy">Blender</a>, <a class="fw-bold text-reset"
          href="https://git-scm.com">Git</a>, etc.
      </p>
    </div>
  </div>
</main>