<!-- $main.html -->
<main class="text-start text-bg-secondary">
  <div class="container p-5">
    <div class="container p-5">
      <h1 class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3">Privacy Policy</h1>
      <hr />
      <br />
      <h4>Armory3D</h4>
      <p class="lead-dark mb-0">Armory software does not collect, market, or sell your data in any way.</p>
      <br />
      <h4>Third Party</h4>
      <p class="lead-dark mb-0">This privacy statement however cover other third party companies or organizations, such
        as, but not limited
        to:
      </p>
      <ul class="lead-dark mb-0">
        <li>
          <a class="fw-semibold text-reset" href="https://youtube.com">YouTube</a>
          <ul>
            <li><a class="fw-semibold text-reset" href="https://policies.google.com/privacy">Privacy Policy</a></li>
            <li><a class="fw-semibold text-reset" href="https://policies.google.com/technologies/cookies">Cookies</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="fw-semibold text-reset" href="https://twitter.com">Twitter</a>
          <ul>
            <li><a class="fw-semibold text-reset" href="https://twitter.com/privacy">Privacy Policy</a></li>
            <li><a class="fw-semibold text-reset"
                href="https://help.twitter.com/rules-and-policies/twitter-cookies">Cookies</a></li>
          </ul>
        </li>
        <li><a class="fw-semibold text-reset"
            href="https://docs.github.com/site-policy/privacy-policies/github-privacy-statement">GitHub</a></li>
        <li><a class="fw-semibold text-reset" href="https://git-scm.com">Git</a></li>
        <li><a class="fw-semibold text-reset" href="https://blender.org/privacy-policy">Blender</a></li>
        <li><a class="fw-semibold text-reset" href="/community">Others</a></li>
        <li>etc.</li>
      </ul>
    </div>
  </div>
</main>