<div class="text-bg-secondary">
              <div class="d-flex justify-content-center pb-5">
                <a class="display-3 fw-bold text-reset text-decoration-none lh-1" id="title" href="#title"><i class="bi bi-link-45deg text-light me-2"></i><span></span></a>
              </div>
              <div id="image" class="d-flex justify-content-center mb-5">
                <img class="ratio ratio-21x9 notes_img" loading="lazy" src="/img/notes-placeholder.png" alt="Cover Image" />
              </div>
              <div id="video" class="d-flex justify-content-center mb-5">
                <video class="ratio ratio-21x9 notes_img" playsinline autoplay muted loop>
                  <source src="/img/notes-placeholder.mp4" type="video/mp4">
                  This browser doesn't support MP4. Try using a different browser.
                </video>
              </div>
              <div class="container p-3 pt-0 notes_container">
                <div class="card-group text-center mx-auto" style="max-width: 54rem">
                  <!-- Download -->
                  <div id="download" class="text-bg-dark rounded card m-1">
                    <!-- Icon -->
                    <div class="d-flex justify-content-center align-items-center">
                      <a href="#download">
                        <i class="bi bi-download text-light" style="font-size: 4rem;"></i>
                      </a>
                    </div>
                    <!-- Body -->
                    <div class="card-body pt-0">
                      <h1 class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3">Get Armored</h1>
                      <p class="card-text lead-dark">Start Armory today!</p>
                      <div class="card-text d-grid gap-2 d-lg-flex justify-content-lg-center">
                        <a class="fw-bold btn btn-danger align-items-center justify-content-center" href="/download#releases">
                          <i class="bi bi-link-45deg text-white me-2"></i>Download
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- Manual -->
                  <div id="manual" class="text-bg-dark rounded card m-1">
                    <!-- Icon -->
                    <div class="d-flex justify-content-center align-items-center">
                      <a href="#manual">
                        <i class="bi bi-book text-light" style="font-size: 4rem;"></i>
                      </a>
                    </div>
                    <!-- Body -->
                    <div class="card-body pt-0">
                      <h1 class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3">Need info?</h1>
                      <p class="card-text lead-dark">Learn more at the Armory wiki.</p>
                      <div class="card-text d-grid gap-2 d-lg-flex justify-content-lg-center">
                        <a class="fw-bold btn btn-danger align-items-center justify-content-center" href="https://github.com/armory3d/armory/wiki">
                          <i class="bi bi-link-45deg text-white me-2"></i>Manual
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center lead-dark p-5" id="info_d"></div>
                <!-- HIGHLIGHTS -->
                <a class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" id="highlights" href="#highlights">
                  <i class="bi bi-link-45deg text-light me-2"></i>HIGHLIGHTS
                </a>
                <hr />
                <div class="lead-dark mb-3" id="highlights_d"></div>
                <!-- NEW -->
                <a class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" id="new" href="#new">
                  <i class="bi bi-link-45deg text-light me-2"></i>NEW
                </a>
                <hr />
                <div class="lead-dark mb-5" id="new_d"></div>
                <!-- BUG FIXES -->
                <a class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" id="bug-fixes" href="#bug-fixes">
                  <i class="bi bi-link-45deg text-light me-2"></i>BUG FIXES
                </a>
                <hr />
                <div class="lead-dark mb-5" id="bug_fixes_d"></div>
                <!-- OTHER CHANGES -->
                <a class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3" id="other-changes" href="#other-changes">
                  <i class="bi bi-link-45deg text-light me-2"></i>OTHER CHANGES
                </a>
                <hr />
                <div class="lead-dark mb-5" id="other_changes_d"></div>
                <div class="card-group text-center mx-auto mb-lg-5" style="max-width: 27rem">
                  <!-- Help -->
                  <div id="help" class="text-bg-dark rounded card">
                    <!-- Icon -->
                    <div class="d-flex justify-content-center align-items-center">
                      <a href="#help">
                        <i class="bi bi-gift text-light" style="font-size: 4rem;"></i>
                      </a>
                    </div>
                    <!-- Body -->
                    <div class="card-body pt-0">
                      <h1 class="display-6 fw-bold text-reset text-decoration-none lh-1 mb-3">Want to help?</h1>
                      <p class="card-text lead-dark">Here's a few ways you can.</p>
                      <div class="card-text d-grid gap-2 d-lg-flex justify-content-lg-center">
                        <a class="fw-bold btn btn-danger align-items-center justify-content-center" href="/download#contribute">
                          <i class="bi bi-link-45deg text-white me-2"></i>Contribute
                        </a>
                        <a class="fw-bold btn btn-danger align-items-center justify-content-center" href="/download#donate">
                          <i class="bi bi-link-45deg text-white me-2"></i>Donate
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>